@font-face {
  font-family: 'Qanelas-Regular';
  src: url("../fonts/hinted-subset-Qanelas-Regular.eot");
  src: url("../fonts/hinted-subset-Qanelas-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-subset-Qanelas-Regular.woff2") format("woff2"), url("../fonts/hinted-subset-Qanelas-Regular.woff") format("woff"), url("../fonts/hinted-subset-Qanelas-Regular.ttf") format("truetype"), url("../fonts/hinted-subset-Qanelas-Regular.svg#Qanelas-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas-Medium';
  src: url("../fonts/hinted-subset-Qanelas-Medium.eot");
  src: url("../fonts/hinted-subset-Qanelas-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-subset-Qanelas-Medium.woff2") format("woff2"), url("../fonts/hinted-subset-Qanelas-Medium.woff") format("woff"), url("../fonts/hinted-subset-Qanelas-Medium.ttf") format("truetype"), url("../fonts/hinted-subset-Qanelas-Medium.svg#Qanelas-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas-Black';
  src: url("../fonts/hinted-subset-Qanelas-Black.eot");
  src: url("../fonts/hinted-subset-Qanelas-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-subset-Qanelas-Black.woff2") format("woff2"), url("../fonts/hinted-subset-Qanelas-Black.woff") format("woff"), url("../fonts/hinted-subset-Qanelas-Black.ttf") format("truetype"), url("../fonts/hinted-subset-Qanelas-Black.svg#Qanelas-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fbfcfd;
  font-size: 15px;
  color: #1e2945;
  font-family: 'Qanelas-Regular';
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  min-height: 900px;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 122px;
  position: relative;
}

.header__title {
  color: #ffffff;
  font-family: 'Qanelas-Medium';
  font-size: 70px;
  letter-spacing: 0.16px;
  line-height: 70px;
  font-weight: 500;
  max-width: 797px;
  margin: 0;
}

.header__subtitle {
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.36px;
}

.header__logo {
  margin-right: 30px;
}

.header__btn-lang {
  border: 0;
  background-color: transparent;
}

.header__btn-lang-img {
  color: #fff;
}

.header__nav a {
  font-family: 'Qanelas-Medium';
  color: #fff;
  line-height: 39px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav a:hover {
  color: #ee0d58;
  text-decoration: none;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.header__nav li {
  display: inline-block;
  padding: 0 10px;
  margin: 0 5px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
}

.header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__top-right::before {
  content: '';
  width: 1px;
  height: 30px;
  background-color: #ffffff;
  opacity: 0.3;
  position: absolute;
  right: 245px;
  top: 35px;
}

.header__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__top-left::before {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #ffffff;
  opacity: 0.2;
  position: absolute;
  left: 160px;
}

.authorization {
  margin-left: 25px;
}

.authorization-btn {
  font-family: 'Qanelas-Medium';
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px;
}

.authorization-btn:hover {
  border-radius: 4px;
  border-color: #fff;
}

.lang {
  color: #ffffff;
  font-family: 'Qanelas-Medium';
  text-transform: uppercase;
}

.btn-start {
  -webkit-box-shadow: 0 8px 14px rgba(0, 107, 206, 0.3);
  box-shadow: 0 8px 14px rgba(0, 107, 206, 0.3);
  border-radius: 4px;
  background-image: linear-gradient(182deg, #00f9ff 0%, #00d0f1 100%);
  padding: 15px 45px;
  border: 0;
  color: #ffffff;
  font-family: 'Qanelas-Medium';
  font-size: 18px;
  margin-top: 10px;
}

.advantages {
  max-width: 1040px;
  -webkit-box-shadow: 0 40px 40px rgba(0, 0, 0, 0.03);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 619px;
}

.advantages__item {
  width: 50%;
  border: 1px solid #f7f7f7;
  padding: 38px 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: start;
}

.advantages__text {
  margin-bottom: 20px;
}

.services {
  padding-top: 370px;
  padding-bottom: 630px;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.services__img-1 {
  position: absolute;
  top: 115px;
  left: -72px;
}

.services__img-2 {
  position: absolute;
  top: 140px;
  left: 380px;
}

.services__img-3 {
  position: absolute;
  top: 585px;
  left: 0px;
}

.services__img-4 {
  position: absolute;
  top: 560px;
  left: 534px;
}

.services__img-5 {
  position: absolute;
  top: 580px;
  left: 215px;
}

.services__img-6 {
  position: absolute;
  top: 300px;
  left: -205px;
}

.services__img-7 {
  position: absolute;
  top: 392px;
  right: 68px;
}

.tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 17px 51px;
  background-color: #fff;
}

.tab > span {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 15px 31px;
}

.tab > span.selected {
  color: #2e73fe;
  border-color: #2e73fe;
}

.tab-content {
  display: none;
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
}

.tab-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tab-content-title {
  font-size: 40px;
  letter-spacing: 0.09px;
  line-height: 40px;
}

.tab-content-text {
  font-size: 18px;
  line-height: 29px;
  width: 94%;
}

.tab-content-inner {
  width: 50%;
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 180px;
}

.partners__content > .partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners__inner {
  background-color: #fff;
  text-align: center;
  padding: 150px 0;
}

.partners__title {
  font-size: 40px;
  letter-spacing: 0.09px;
  line-height: 50px;
  font-weight: 400;
}

.partners__link {
  padding: 10px;
  margin: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.partners__link:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.mobApps {
  background-image: url(../img/bg-mobApps.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.mobApps__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 39px;
  margin: 0;
}

.mobApps__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0 0 0;
}

.mobApps__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 90px;
}

.mobApps-image-1 {
  margin-bottom: 110px;
}

.mobApps-image-2 {
  margin-bottom: 225px;
}

.about {
  padding-bottom: 100px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
}

.about__title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 39px;
}

.about__text {
  margin-right: 70px;
  width: 43%;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.footer {
  background-image: url(../img/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 10px 50px 10px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 40%;
  padding-top: 25px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
  padding-right: 20px;
}

.footer__title {
  font-size: 16px;
  font-family: 'Qanelas-Medium';
}

.footer__link {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #1e2945;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__link:hover {
  color: #f58300;
  text-decoration: none;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.footer__logo {
  margin-top: 50px;
}

.social {
  width: 36%;
}

.social__link {
  border-radius: 6px;
  background-image: linear-gradient(-44deg, #1acbfd 0%, #345aff 100%);
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__link:hover {
  background-image: linear-gradient(135deg, #43e695 0%, #3bb2b8 100%);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.social__link:hover > i {
  color: #f70202;
}

.social__link-icon {
  color: #fff;
}

.social > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.app-downloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.app-downloud a {
  margin: 0 10px;
}

.modal__window {
  height: 400px;
  width: 300px;
  top: calc(50% - 200px);
  left: calc(50% - 150px);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  background-color: white;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.btn__close__modal {
  height: 15px;
  width: 15px;
  padding: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: 0px;
}

.fon {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  top: 0;
}

.modal__window--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fon--show {
  display: block;
}

.modal__title {
  margin: 0 0 10px 0;
}

.modal__field {
  margin: 20px 0;
  width: 80%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #000;
}

.modal__btn {
  margin: 20px 0;
  -webkit-box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
  box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
  border-radius: 6px;
  background-image: linear-gradient(-225deg, #ff8e64 0%, #ffe641 100%);
  border: 0;
  padding: 10px;
}

@media screen and (max-width: 1199px) {
  .advantages {
    max-width: 87%;
  }
  .tabs {
    padding: 0px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  ul > li.tab {
    margin: 20px 0;
  }
  .partners__content {
    padding: 0 100px;
  }
  .mobApps {
    background-size: cover;
  }
  .mobApps__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
  }
  .mobApps__content {
    margin-bottom: 30px;
  }
  .mobApps-image-1 {
    margin: 0;
  }
  .mobApps-image-2 {
    margin: 0;
  }
  .about__text {
    margin-right: 0px;
  }
  .social {
    width: 75%;
  }
}

@media screen and (max-width: 991px) {
  .advantages {
    max-width: 100%;
    left: 0;
  }
  .advantages__item {
    padding: 1% 1%;
  }
  .services {
    padding-top: 200px;
  }
  .tab-content-img {
    width: 300px;
  }
  .partners__inner {
    padding: 40px 0;
  }
  .partners__content {
    padding: 0;
  }
  .mobApps-image-1 {
    height: 535px;
  }
  .mobApps-image-2 {
    height: 535px;
  }
  .footer {
    padding: 40px 10px 50px 10px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__nav {
    width: 100%;
    padding-right: 0;
  }
  .footer__app {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .app-downloud {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .social {
    margin-top: 30px;
    width: 100%;
  }
  .social__link {
    margin: 0 auto;
  }
  .social > ul > li.social--pos {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-right: 33%;
  }
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__top-left {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__top-left::before {
    display: none;
  }
  .header__top-right {
    margin-top: 20px;
  }
  .header__top-right::before {
    display: none;
  }
  .header__content {
    padding-top: 40px;
  }
  .advantages {
    top: 500px;
  }
  .services {
    padding-top: 70px;
  }
  .tab-content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tab-content-inner {
    width: 100%;
    text-align: center;
  }
  .mobApps__inner {
    padding: 0;
  }
  .about__title {
    text-align: center;
  }
  .about__text {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .header__content {
    padding: 0 0 20px 0;
  }
  .header__title {
    font-size: 50px;
    line-height: 50px;
  }
  .header__subtitle {
    font-size: 20px;
  }
  .header__nav {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: center;
  }
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .header__top {
    padding-top: 15px;
  }
  .header__top-right {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .authorization {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .advantages {
    position: static;
    margin-top: 20px;
  }
  .advantages__item {
    width: 100%;
  }
  .services {
    padding-top: 45px;
    padding-bottom: 485px;
  }
  .tab-content {
    top: 110%;
  }
  .tab-content-title {
    font-size: 24px;
    line-height: 24px;
  }
  .tab-content-text {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
  }
  .tab-content-img {
    width: 70%;
  }
  .partners {
    padding: 75px 0;
  }
  .partners__title {
    font-size: 28px;
    line-height: 30px;
  }
  .about {
    padding-bottom: 30px;
  }
  .about__title {
    font-size: 30px;
    line-height: 30px;
  }
  .about__text {
    width: 100%;
  }
  .footer__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__nav > div {
    margin: 10px;
  }
  .app-downloud a {
    margin: 5px 10px;
  }
}
