body{
    margin: 0;
  }
  /*Вся фишка в полосатом градиенте, он делит фон на два цвета*/
  .mySection{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 162, 255) 50%, rgb(247, 70, 158) 50%);
  }
  
  /*Стандартный контейнер*/
  .container{
    max-width:1170px;
    margin: 0 auto;
    display: flex;
  }
  /*Магия, уберите фон у этого блока и вы все поймете*/
  .left-block,.right-block{
    width: 100%;
    max-width:66%;
    background: rgb(0, 162, 255);
    padding: 20px 10px;
  }
  .right-block{
    max-width:33%;
    background: rgb(247, 70, 158);
  }
  /*Рюшечки: шрифт, рамки, отступы*/
  .block-content{
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    min-height: 70vh;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  /*Простая адаптация*/
  @media (max-width: 768px){
    .left-block, .right-block{
      max-width: 100%;
    } 
    .container{
        flex-wrap:wrap;
    }
  }