@font-face {
    font-family: 'Open Sans', sans-serif;
}   

@font-face {
    font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/hinted-subset-Gotham-Black.eot');
    src: url('../fonts/hinted-subset-Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-Gotham-Black.woff2') format('woff2'),
        url('../fonts/hinted-subset-Gotham-Black.woff') format('woff'),
        url('../fonts/hinted-subset-Gotham-Black.ttf') format('truetype'),
        url('../fonts/hinted-subset-Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fontsh/inted-subset-BrandonGrotesque-Bold.eot');
    src: url('../fonts/hinted-subset-BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fontsh/hinted-subset-BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../fontsh/hinted-subset-BrandonGrotesque-Bold.woff') format('woff'),
        url('../fontsh/hinted-subset-BrandonGrotesque-Bold.ttf') format('truetype'),
        url('../fontsh/hinted-subset-BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}



body{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;

    &--bottom{
        border-top: 1px solid #e3e7ec;
    }
}

.clearfix{
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}

.header{
    &__logo{
        float: left;
        margin: 22px 0 23px 0;
    }

    &__nav{
        float: right;
        margin: 30px 0 29px 0;
    }
}

.logo{
    width: 50px;
    height: 48px;
    background-image: url("../images/main_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.nav{
    &__link{
        color: #868686;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 21px;

        &:hover{
            color: #ffffff;
            background-color: #ffbb42;
        }
    }
}

.caption{
    font-family: 'Gotham';
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.75px;
    margin: 0;
}

.caption-text{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 5px 0 0 0;
}

.main1{
    background-color: #709dca;
    padding: 110px 0 0 0;

    &__caption{
        color: #ffffff;
        font-size: 35px;
        letter-spacing: -0.88px;
        line-height: 24px;
        margin: 0;
    }

    &__text{
        color: #ffffff;
        line-height: 24px;
    }
}

.input{
    display: inline-block;
    position: relative;
    margin: 33px 10px 0 0;

    &:nth-child(1){
        margin-left: 41px;
    }

    &__item{
        color: #a9a9a9;
        font-size: 13px;
        font-weight: 400;
        padding: 18px 84px 18px 41px;
        border: 0;
    }

    &__button{
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: #ffbb42;
        padding: 17px 45px 17px 43px;
        border: 0;
    }

    &.news--name{
        border: 1px solid #cbcbcb;
        margin: 0 0 0 117px;
        width: 308px;
    }
    
    &.news--address{
        border: 1px solid #cbcbcb;
        margin: 0 10px;
        width: 388px;
    }
}

.slider{
    position: relative;
    top: 100px;

    &__image{
        height: 343px;
        box-sizing: border-box;
        background-image: url("../images/notebook.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        text-align: center;
        padding: 18px 0 0 0;
    }
}

.box{
    text-align: center;

    &__button{
        display: inline-block;
        vertical-align: top;
        width: 12px;
        height: 11px;
        border-radius: 50%;
        border: 2px solid #dedfe0;
        background-color: #ffffff;
        margin: 24px 10px 0 0;

        &:hover{
            border-color: #1ca8dd;
        }
    }
}

.myclass{
    color: #6e6e6e;
    font-size: 16px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.main2{
    padding: 180px 0 0 0;

    &__caption{
        color: #394b50;
        font-weight: 900;
    }

    &__text{
        color: #394b50;
        font-weight: 400;
    }

    &__box{
        margin: 0 0 150px 0;
    }
}

.card{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    position: relative;
    padding: 0 0 0 85px;
    box-sizing: border-box;
    margin: 80px 0 0 0;

    &:nth-child(odd){
        padding-right: 50px;
    }

    &:hover &__myclass{
        color: #f6772c;
    }

    &__myclass{
        position: absolute;
        left: 0;
        color: #709dca;
        font-size: 50px;
        font-weight: 700;
        line-height: 22px;
    }

    &__caption{
        color: #394b50;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        margin: 0;
    }

    &__text{
        color: #7b7b7b;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        margin: 15px 0 0 0;
    }

    
}

.main3{
    background-color: #ffc155;
    background-image: url("../images/Chair_BG.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50% 100%;
    padding: 164px 0 174px 0;

    &__caption{
        text-align: left;
        color: #ffffff;
    }

    &__text{
        text-align: left;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        margin: 30px 0;
    }
}

.block{
    float: right;
    width: 505px;
}

.button{
    font-family: 'Lato';
    border: 1px solid #e7ad48;
    background-color: #ffc155;
    padding: 15px 32px;

    &__text{
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &--plan{
        padding: 14px 20px;
        margin-top: 30px;
    }
}

.main4{
    background-color: #e7edf3;
    padding: 137px 0 164px 0;

    &__caption{
        color: #394b50;
    }

    &__text{
        color: #75888d;
        font-family: 'Lato';
        font-size: 18px;
        margin-bottom: 50px;
    }
}

.plan{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccd5df;
    background-color: #ffffff;
    text-align: center;
    padding: 57px 30px 48px 30px;

    &__name{
        color: #818b95;
        font-family: 'Lato';
        font-size: 25px;
        font-weight: 300;
        line-height: 22px;
        text-transform: uppercase;
    }

    &__price{
        color: #ffbb42;
        font-family: 'Lato';
        line-height: 60px;
        font-variant: small-caps;
        font-size: 60px;
        font-weight: 700;
    }

    &__period{
        color: #818b95;
        font-family: 'Lato';
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 0 0 30px 0;
    }

    &__parameter{
        color: #b5bbc1;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase;
        padding: 0 75px;
        border-top: 1px solid #e2e9f0;
    }
}

.premium{
    color: #ffffff;
    background-color: #709dca;
    padding: 87px 33px 78px 33px;

    &--name{
        color: #ffffff;
    }

    &--price{
        color: #ffffff;
    }

    &--period{
        color: #ffffff;
    }

    &--parameter{
        color: #c2e1ff;
        border-color: #8eb8e2;
    }
}

.icon{
    font-size: 30px;
    line-height: 40px;
    vertical-align: top;
}

.main5{
    text-align: center;
    padding: 155px 0 149px 0;

    &__caption{
        color: #394b50;
    }

    &__text{
        color: #394b50;
        font-size: 18px;
    }

    &--button{
        margin: 90px 0 0 0;
    }
}

.step{
    width: 213px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    margin: 0 39px;

    &__myclass{
        color: #709dca;
        font-size: 72px;
        font-weight: 700;
        line-height: 22px;
        margin: 140px 0 0 0;
    }

    &__arrows{
        color: #709dca;
        font-size: 72px;
        font-weight: 700;
        line-height: 22px;
        position: absolute;
        top: 100px;
        right: -80px;

        &--even{
            top: 200px;
        }
    }

    &__caption{
        color: #394b50;
        font-family: 'Lato';
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        margin: 102px 0 28px 0;
    }

    &__text{
        color: #7b7b7b;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
    }
}

.main6{
    background-color: #ffc155;
    padding: 140px 0 160px 0;

    &__caption{
        color: #ffffff;
        font-weight: 900;
    }

    &__text{
        color: #ffffff;
        font-weight: 400;
    }
}

.block-reviews{
    margin: 58px 0 0 0;
}

.review{
    width: 567px;
    height: 241px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 50px 40px 50px 182px;
    margin: 0 0 20px 0;
    transition: 0.3s;

    &:hover{
        transform: scale(1.1);
    }

    &:nth-child(odd){
        margin-right: 18px;
    }

    &:nth-child(even){
        margin-left: 18px;
    }

    &__image{
        width: 121px;
        height: 121px;
        border-radius: 50%;
        position: absolute;
        left: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }

    &__text{
        color: #7b7b7b;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;

        &::before{
            content: '“';
            color: #7b7b7b;
            font-family: 'Brandon Grotesque';
            font-size: 30px;
            font-weight: 700;
            line-height: 22px;
            position: absolute;
            left: 160px;
        }

        &::after{
            content: '„';
            color: #7b7b7b;
            font-family: 'Brandon Grotesque';
            font-size: 30px;
            font-weight: 700;
            line-height: 10px;
            position: relative;
            left: 20px;
        }
    }

    &__autor{
        color: #99a9ae;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        margin: 30px 0 0 0;
    }
}

.autor--name{
    color: #f6772c;
}

.autor1{
    background-image: url("../images/Persone_1.png");
}

.autor2{
    background-image: url("../images/Person_2.png");
}

.autor3{
    background-image: url("../images/Persone_3.png");
}

.autor4{
    background-image: url("../images/Persone_4.png");
}

.main7{
    padding: 154px 0 57px 0;

    &__caption{
        color: #394b50;
    }

    &__text{
        color: #394b50;
    }
}

.news--name{
    border: 1px solid #cbcbcb;
    margin: 0 0 0 117px;
}

.news--address{
    border: 1px solid #cbcbcb;
}

.input__news{
    color: #a9a9a9;
    font-size: 13px;
    font-weight: 400;
    padding: 18px 111px 18px 41px;
    border: 0;

    &__address{
        color: #a9a9a9;
        font-size: 13px;
        font-weight: 400;
        padding: 18px 191px 18px 41px;
        border: 0;
    }
}

.map{
    text-align: center;
    width: 1102px;
    height: 549px;
    background-image: url("../images/Map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 53px 34px 57px 34px;
}
.circle{
    height: 310px;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 37px 0 0 0;

        &::after{
        content: '';
        width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
        border-top: 20px solid #394b50;;
        position: absolute;
        bottom: 9px;
        left: 131px;
    }
}

.office{
    width: 279px;
    height: 285px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    background-color: #394b50;
    padding: 50px 70px 89px 70px;

    &__caption{
        color: #ffffff;
        font-family: 'Lato';
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__text{
        color: #aeb7ba;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
    }

    &__link{
        color: #ffbb42;
        font-family: 'Open Sans';
        line-height: 24px;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
    }
}

.bottom__logo{
    margin: 23px 0 0 116px;
}

.bottom__nav{
    color: #394b50;
    font-size: 13px;    
    margin: 68px 0 29px 0;
    text-align: center;
}

.number{
    text-align: center;
    color: #394b50;
    font-family: 'Lato';
    font-size: 23px;
    font-weight: 400;
    line-height: 24.15px;
}

.brands{
    text-align: center;
    margin: 23px 0 50px 0;

    &__ikon{
        color: #709dca;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.99px;
        margin: 0 15px 0 0;

        &:hover{
            color: #ffc155;
        }
    }
}

.footer{
    background-color: #709dca;
    text-align: center;
    padding: 15px 0;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}