@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/slick-carousel/slick/slick-theme";
@import "../../node_modules/magnific-popup/dist/magnific-popup";

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/hinted-subset-Akrobat-Bold.eot');
    src: url('../fonts/hinted-subset-Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-Akrobat-Bold.woff2') format('woff2'),
        url('../fonts/hinted-subset-Akrobat-Bold.woff') format('woff'),
        url('../fonts/hinted-subset-Akrobat-Bold.ttf') format('truetype'),
        url('../fonts/hinted-subset-Akrobat-Bold.svg#Akrobat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

body{
    height : 100%;
}

body{
    font-size: 16px;
    font-family: 'Akrobat';
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-color: #f2f5f7;

    &__top{
        padding: 30px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-and-contacts{
        display: flex;
    }
}

.menu {

    & li{
        display: inline-block;
        margin: 0 15px;
    }

    & a{
        color: #42515b;
        line-height: 65px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        border-bottom: 1px solid transparent;
        display: inline;
        transition: 0.3s;

        &:hover{
            color: #117af7;
            border-color: rgba($color: #117af7, $alpha: 0.3);
        }
    }
}

.contacts{

    &__phone{
        color: #117af7;
        line-height: 65px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        margin-left: 35px;
    }

    &__btn{
        color: #117af7;
        line-height: 46px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        border: 2px solid #117af7;
        border-radius: 35px;
        padding: 0 30px;
        margin-left: 30px;
        transition: 0.3s;

        &:hover{
            color: #ffffff;
            border-color: #17a4fd;
            box-shadow: 0 10px 15px rgba(0, 99, 217, 0.3);
            background-color: #17a4fd;
        }
    }

    & li{
        display: inline-block;
    }
}

.slider{

    &__inner{
        padding-top: 20px;
    }

    &__item{
        padding: 100px 0 230px 0;
        background-image: url(../img/Illustration.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

        &-content{
            padding-left: 80px;
        }
    }

    &__title{
        color: #42515b;
        font-size: 50px;
        line-height: 65px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 0;
        width: 390px;
    }

    &__text{
        color: #42515b;
        font-family: 'Ubuntu';
        line-height: 65px;
        margin: 0;
    }

    &__btn{
        background-color: #117af7;
        padding: 0 35px;
        color: #ffffff;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        border-radius: 30px;
        margin-top: 35px;
        outline: none;
        transition: 0.3s;

        &:hover{
            border-color: #17a4fd;
            box-shadow: 0 10px 15px rgba(0, 99, 217, 0.3);
            background-color: #17a4fd;
        }

        & img{
            display: inline;
            margin-left: 20px;
        }
    }
}

.slick-dots{
    bottom: 50px;
    left: -500px;
}

.slick-dots li button{
    width: 6px;
    height: 6px;
    background-color: #83a1b2;
    border-radius: 50%;

    &::before{
        content: '';
    }
}

.slick-dots li.slick-active button{
    background-color: #f2f5f7;
    border: 2px solid #117af7;
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}

.catalog{
    padding-bottom: 100px;

    &__inner{
        padding: 100px 60px 0 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin: 15px;
    position: relative;

    &:hover .card-hover{
        display: flex;
    }

    &__title{
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
        z-index: 5;
    }

    &__menu{
        z-index: 5;
    }

    &__link{
        background-color: rgba($color: #000000, $alpha: 0.2);
        color: #ffffff;
        font-size: 12px;
        line-height: 35px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        padding: 0 20px;
        border-radius: 20px;
        margin: 5px 5px;
    }

    &1{
        background-image: url(../img/bg-card1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 356px;
        min-height: 361px;
    }

    &2{
        background-image: url(../img/bg-card2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 361px;
        min-width: 739px;

        & .card__title{
            width: 224px;
        }
    }

    &3{
        background-image: url(../img/bg-card3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 361px;
        min-width: 739px;

        & .card__title{
            width: 280px;
        }
    }

    &4{
        background-image: url(../img/bg-card4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 356px;
        min-height: 361px;
    }

    &5{
        background-image: url(../img/bg-card5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 356px;
        min-height: 361px;
    }

    &6{
        background-image: url(../img/bg-card6.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 356px;
        min-height: 361px;

        &:hover .card__title{
            color: #ffffff;
        }

        & .card__title{
            color: #42515b;
        }
    }

    &7{
        background-image: url(../img/bg-card7.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 356px;
        min-height: 361px;
    }

    &-hover{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        top: 0;
        left: 0;
        align-items: center;

        &__text{
            opacity: 0.75;
            color: #ffffff;
            font-family: 'Ubuntu';
            font-size: 14px;
            line-height: 25px;
            width: 293px;
            margin-left: 30px;
        }
    }
}

.more-cards{
    color: #ffffff;
    line-height: 65px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    background-color: #117af7;
    border-radius: 40px;
    border: 0;
    padding: 0 60px;
    outline: none;
    margin: 15px 0;
    transition: 0.3s;

        &:hover{
            border-color: #17a4fd;
            box-shadow: 0 10px 15px rgba(0, 99, 217, 0.3);
            background-color: #17a4fd;
        }

    & img{
        margin-left: 20px;
    }
}

.form{

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__title{
        color: #ffffff;
        font-size: 50px;
        line-height: 65px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 0;
        width: 300px;
        margin: 15px;
    }

    &__text{
        opacity: 0.75;
        color: #ffffff;
        font-family: 'Ubuntu';
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
        width: 340px;
        margin: 15px;
    }

    &__file{
        color: #ffffff;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        cursor: pointer;
        margin: 15px;

        &-input{
            opacity: 0;
            position: absolute;
            z-index: -1;
            bottom: 221px;
            left: 430px;
        }

        & img{
            margin-right: 20px;
        }

        &-wrap{
            width: 100%;
        }
    }

    &__submit{
        background-color: #ffffff;
        color: #117af7;
        font-family: 'Akrobat';
        font-size: 16px;
        font-weight: 700;
        line-height: 54px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        border-radius: 30px;
        padding: 0 87px;
        border: 0;
        margin: 15px;

        &-wrap{
            display: flex;
            flex-direction: row-reverse;
            padding-top: 60px;
        }
    }

    &__block{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0;
        height: 180px;
        width: 100%;

        &-date{
            color: #ffffff;
            background-color: transparent;
            border: 1px solid rgba($color: #ffffff, $alpha: 0.3);;
            width: 360px;
            height: 60px;
            margin: 15px;
            padding: 20px;

            &::-webkit-input-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
            &::-moz-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
            &:-moz-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
            &:-ms-input-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
            &::-ms-input-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
        }

        &-message{
            color: #ffffff;
            background-color: transparent;
            border: 1px solid rgba($color: #ffffff, $alpha: 0.3);;
            width: 360px;
            height: 147px;
            margin: 15px;
            padding: 20px;
            resize: none;

            &::-webkit-input-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
            &::-moz-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
            &:-moz-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
            &:-ms-input-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
            &::-ms-input-placeholder{
                opacity: 0.5;
                color: #ffffff;
                font-family: 'Ubuntu';
                line-height: 18px;
            }
        }
    }
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox] + label{
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    cursor: pointer;
    margin: 27px 45px;
    display: inline-block;
}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #fff;
}

input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}

.mfp-content{
    background-image: url(../img/bg-form.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    max-width: 1280px;
    height: 786px;
    padding: 105px 55px 120px 445px;
}

.mfp-close-btn-in .mfp-close{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #117af7;
    opacity: 1;
    right: -28px;
    top: -28px;
    color: #ffffff;
}

@media screen and (max-width: 1599px){

    .slider{

        &__item{
            background-position-x: 300px; 
        }
    }

    .slick-dots {
        left: -430px;
    }
}

@media screen and (max-width: 1349px){

    .mfp-content{
        max-width: 1100px;
        padding: 75px 50px 80px 250px;
    }
}

@media screen and (max-width: 1299px){

    .slider{

        &__item{
            background-position-x: 165px; 
            background-size: cover;
        }
    }
}

@media screen and (max-width: 1199px){

    .header{

        &__top{
            flex-direction: column;
        }
    }

    .slick-dots {
        left: -330px;
    }

    .mfp-content{

        max-width: 920px;
        padding: 75px 50px 80px 50px;
        height: 746px;
    }
}

@media screen and (max-width: 991px){

    .header{

        &__nav-and-contacts{
            width: 100%;
            flex-direction: column;
        }
    }

    .menu{

        & ul{
            display: flex;
            justify-content: space-around;
        }
    }

    .contacts{

        & ul{
            display: flex;
            justify-content: space-around;
        }

        &__phone{
            margin-left: 0;
        }

        &__btn{
            margin-left: 0;
        }
    }

    .slick-dots {
        left: 0px;
    }

    .mfp-content{

        max-width: 700px;
        padding: 20px;
        height: 810px;
    }

    .form{

        &__title{
            font-size: 35px;
            line-height: 40px;
            width: 100%;
            text-align: center;
        }

        &__text{
            width: 100%;
            text-align: center;
        }

        &__block{
            height: 360px;
            align-items: center;
        }

        &__submit-wrap{
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 30px;
        }

        &__file-wrap{
            text-align: center;
        }
    }
}

@media screen and (max-width: 911px){

    .card1,
    .card4,
    .card5,
    .card6,
    .card7{
        width: 45%;
    }

    .card2,
    .card3{
        width: 94%;
        min-width: 0;
    }
}

@media screen and (max-width: 767px){

    .catalog{
    
        &__inner{
            padding: 100px 10px 0 10px;
        }
    }

    .mfp-content{

        max-width: 510px;
        height: 865px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 639px){
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6,
    .card7{
        width: 90%;
    }
}

@media screen and (max-width: 575px){

    .menu{

        & ul{
            flex-direction: column;
            align-items: center;
        }

        & a{
            line-height: 30px; 
        }
    }

    .contacts{

        & ul{
            flex-direction: column;
            align-items: center;
        }
    }

    .slider{

        &__title{
            width: 100%;
            font-size: 40px;
            line-height: 50px;
        }

        &__text{
            line-height: 20px;
            margin-top: 30px;
        }

        &__item{
            padding: 15px 0 150px 0;
            background-position-x: 0px; 

            &-content{
                padding-left: 10px;
            }
        }
    }

    .card2 .card__title,
    .card3 .card__title{
        width: 100%;
    }

    .card{

        &1,
        &2,
        &3,
        &4,
        &5,
        &6,
        &7{
            padding: 15px; 

            & .card__title{
                font-size: 15px;
                line-height: 24px;
            }
        }

        &-hover{
            
            &__text{
                margin-left: 15px;
            }
        }
    }

    .mfp-content{

        max-width: 250px;
        height: 775px;
        padding: 10px;
    }

    .form{

        &__title{
            font-size: 20px;
            line-height: 25px;
            margin: 10px 0;
        }

        &__text{
            font-size: 14px;
            line-height: 20px;
            margin: 10px 0;
        }

        &__submit{
            padding: 0px 65px;
            margin: 30px 0 0 0;
        }

        &__block{
            align-items: start;
            height: 330px;

            &-date{
                margin: 10px 0;
                width: 230px;

                &::-webkit-input-placeholder{
                    font-size: 14px;
                }
                &::-moz-placeholder{
                    font-size: 14px;
                }
                &:-moz-placeholder{
                    font-size: 14px;
                }
                &:-ms-input-placeholder{
                    font-size: 14px;
                }
                &::-ms-input-placeholder{
                    font-size: 14px;
                }
            }

            &-message{
                margin: 10px 0;
                width: 230px;

                &::-webkit-input-placeholder{
                    font-size: 14px;
                }
                &::-moz-placeholder{
                    font-size: 14px;
                }
                &:-moz-placeholder{
                    font-size: 14px;
                }
                &:-ms-input-placeholder{
                    font-size: 14px;
                }
                &::-ms-input-placeholder{
                    font-size: 14px;
                }
            }
        }
    }

    input[type=checkbox] + label{
        margin: 0;
    }
}

