@font-face {
    font-family: 'Qanelas-Regular';
    src: url('../fonts/hinted-subset-Qanelas-Regular.eot');
    src: url('../fonts/hinted-subset-Qanelas-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-Qanelas-Regular.woff2') format('woff2'),
        url('../fonts/hinted-subset-Qanelas-Regular.woff') format('woff'),
        url('../fonts/hinted-subset-Qanelas-Regular.ttf') format('truetype'),
        url('../fonts/hinted-subset-Qanelas-Regular.svg#Qanelas-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Qanelas-Medium';
    src: url('../fonts/hinted-subset-Qanelas-Medium.eot');
    src: url('../fonts/hinted-subset-Qanelas-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-Qanelas-Medium.woff2') format('woff2'),
        url('../fonts/hinted-subset-Qanelas-Medium.woff') format('woff'),
        url('../fonts/hinted-subset-Qanelas-Medium.ttf') format('truetype'),
        url('../fonts/hinted-subset-Qanelas-Medium.svg#Qanelas-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Qanelas-Black';
    src: url('../fonts/hinted-subset-Qanelas-Black.eot');
    src: url('../fonts/hinted-subset-Qanelas-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-Qanelas-Black.woff2') format('woff2'),
        url('../fonts/hinted-subset-Qanelas-Black.woff') format('woff'),
        url('../fonts/hinted-subset-Qanelas-Black.ttf') format('truetype'),
        url('../fonts/hinted-subset-Qanelas-Black.svg#Qanelas-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
html,
body{
    height : 100%;
}

body{
    background-color: #fbfcfd;
    font-size: 15px;
    color: #1e2945;
    font-family: 'Qanelas-Regular';
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    min-height: 900px;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 122px;
        position: relative;
    }
    &__title{
        color: #ffffff;
        font-family: 'Qanelas-Medium';
        font-size: 70px;
        letter-spacing: 0.16px;
        line-height: 70px;
        font-weight: 500;
        max-width: 797px;
        margin: 0;
    }

    &__subtitle{
        color: #ffffff;
        font-size: 24px;
        letter-spacing: 0.36px;
    }

    &__logo{
        margin-right: 30px;
    }

    &__btn-lang{
        border: 0;
        background-color: transparent;

        &-img{
            color: #fff;
        }
    }

    &__nav{

        & a{
            font-family: 'Qanelas-Medium';
            color: #fff;
            line-height: 39px;
            transition: 0.3s;

            &:hover{
                color: #ee0d58;
                text-decoration: none;
                transform: scale(1.3);
            }
        }
    
        & li{
            display: inline-block;
            padding: 0 10px;
            margin: 0 5px;
        }
    }

    &__top{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        position: relative;

        &-right{
            display: flex;
            justify-content: space-between; 

            &::before{
                content: '';
                width: 1px;
                height: 30px;
                background-color: #ffffff;
                opacity: 0.3;
                position: absolute;
                right: 245px;
                top: 35px;
            }
        }
        &-left{
            display: flex;
            align-items: center;

            &::before{
                content: '';
                width: 1px;
                height: 20px;
                background-color: #ffffff;
                opacity: 0.2;
                position: absolute;
                left: 160px;
            }
        }
    }
}
.authorization{
    margin-left: 25px;

    &-btn{
        font-family: 'Qanelas-Medium';
        color: #ffffff;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 10px;

        &:hover{
            border-radius: 4px;
            border-color: #fff;
        }
    }
}
.lang{
    color: #ffffff;
    font-family: 'Qanelas-Medium';
    text-transform: uppercase;
}
.btn-start{
    box-shadow: 0 8px 14px rgba(0, 107, 206, 0.3);
    border-radius: 4px;
    background-image: linear-gradient(182deg, #00f9ff 0%, #00d0f1 100%);
    padding: 15px 45px;
    border: 0;
    color: #ffffff;
    font-family: 'Qanelas-Medium';
    font-size: 18px;
    margin-top: 10px;
}
.advantages{
    max-width: 1040px;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 619px;

    &__item{
        width: 50%;
        border: 1px solid #f7f7f7;
        padding: 38px 81px;
        display: flex;
        align-items: center;
        text-align: start;
    }

    &__text{
        margin-bottom: 20px;
    }
}
.services{
    padding-top: 370px;
    padding-bottom: 630px;

    & .container{
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__img-1{
        position: absolute;
        top: 115px;
        left: -72px;
    }

    &__img-2{
        position: absolute;
        top: 140px;
        left: 380px;
    }

    &__img-3{
        position: absolute;
        top: 585px;
        left: 0px;
    }

    &__img-4{
        position: absolute;
        top: 560px;
        left: 534px;
    }
    &__img-5{
        position: absolute;
        top: 580px;
        left: 215px;
    }
    &__img-6{
        position: absolute;
        top: 300px;
        left: -205px;
    }
    &__img-7{
        position: absolute;
        top: 392px;
        right: 68px;
    }
}
.tabs{
    position:relative;  
    display: flex;
    justify-content: center; 
    padding: 17px 51px;
    background-color: #fff;
}    
.tab{

    &>span{
        cursor:pointer;
        border-bottom: 2px solid transparent;
        padding: 15px 31px;

        &.selected{
            color: #2e73fe;
            border-color: #2e73fe;
        }
    }

    &-content{
        display:none;
        position:absolute;
        left:0;
        top:120px;
        width:100%;
    
        &-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        &-title{
            font-size: 40px;
            letter-spacing: 0.09px;
            line-height: 40px;
        }
    
        &-text{
            font-size: 18px;
            line-height: 29px;
            width: 94%;
        }
    
        &-inner{
            width: 50%;
        }
    }
     
}
.partners{

    &__content{
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        padding: 0 180px;

        &>.partners__link{
            display: flex;
            align-items: center;
        }
    }

    &__inner{
        background-color: #fff;
        text-align: center;
        padding: 150px 0;
    }
    &__title{
        font-size: 40px;
        letter-spacing: 0.09px;
        line-height: 50px;
        font-weight: 400;
    }
    &__link{
        padding: 10px;
        margin: 10px;
        transition: 0.3s;

            &:hover{
                transform: scale(1.3);
            }
    }
}
.mobApps{
    background-image: url(../img/bg-mobApps.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;

    &__title{
        color: #ffffff;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 0.09px;
        line-height: 39px;
        margin: 0;
    }

    &__text{
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin: 20px 0 0 0;
    }

    &__inner{
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 90px;
    }

    &-image-1{
        margin-bottom: 110px;
    }
    &-image-2{
        margin-bottom: 225px;
    }
}
.about{
    padding-bottom: 100px;

    &__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
    }

    &__title{
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 0.09px;
        line-height: 39px;
    }

    &__text{
        margin-right: 70px;
        width: 43%;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }
}

.footer{
    background-image: url(../img/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 10px 50px 10px;

    &__inner{
        display: flex;
    }

    &__app{
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding-top: 25px;
    }

    &__nav{
        display: flex;
        justify-content: space-between;
        width: 60%;
        padding-right: 20px;
    }

    &__title{
        font-size: 16px;
        font-family: 'Qanelas-Medium';
    }

    &__link{
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        color: #1e2945;
        transition: 0.3s;

            &:hover{
                color: #f58300;
                text-decoration: none;
                transform: scale(1.3);
            }
    }

    &__logo{
        margin-top: 50px;
    }
}
.social{
    width: 36%;

    &__link{
        border-radius: 6px;
        background-image: linear-gradient(-44deg, #1acbfd 0%, #345aff 100%);
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

            &:hover{
                background-image: linear-gradient(135deg, #43e695 0%, #3bb2b8 100%);
                transform: scale(1.3);
            }

            &:hover>i{
                color: rgb(247, 2, 2);
            }

        &-icon{
            color: #fff;
        }
    }

    &>ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.app-downloud {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & a{
        margin: 0 10px;
    }
}

.modal__window{
    height: 400px;
    width: 300px;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
    display: none;
    justify-content: center;
    position: fixed;
    text-align: center;
    background-color: white;
    z-index: 1;
    flex-direction: column;
    justify-content: space-around;
}

.btn__close__modal{
    height: 15px;
    width: 15px;
    padding: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: 0px;
}

.fon{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    top: 0;
}

.modal__window--show{
    display: flex;
}

.fon--show{
    display: block;
}

.modal__title{
   margin: 0 0 10px 0;
}

.modal__field{
    margin: 20px 0;
    width: 80%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #000;
}

.modal__btn{
    margin: 20px 0;
    box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
    border-radius: 6px;
    background-image: linear-gradient(-225deg, #ff8e64 0%, #ffe641 100%);
    border: 0;
    padding: 10px;
}

@media screen and (max-width: 1199px){
    .advantages{
        max-width: 87%;
    }
    .tabs{ 
        padding: 0px;
        flex-wrap: wrap;
        justify-content: space-around;
    }   
    ul>li.tab{
        margin: 20px 0;
    } 
    .partners{

        &__content{
            padding: 0 100px;
        }
    }
    .mobApps{
        background-size: cover;

        &__inner{
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: center;
        }

        &__content{
            margin-bottom: 30px;
        }
        &-image-1{
            margin: 0;
        }
        &-image-2{
            margin: 0;
        }
    }
    .about{
    
        &__text{
            margin-right: 0px;
        }
    }
    .social{
        width: 75%;
    }
}
@media screen and (max-width: 991px){
    .advantages{
        max-width: 100%;
        left: 0;

        &__item{
            padding: 1% 1%;
        }
    }
    .services {
        padding-top: 200px;
    }
    .tab-content-img{
        width: 300px;
    }
    .partners{

        &__inner{
            padding: 40px 0;
        }
        &__content{
            padding: 0;
        }
    }
    .mobApps{

        &-image-1{
            height: 535px;
        }
        &-image-2{
            height: 535px;
        }
    }
    .footer{
        padding: 40px 10px 50px 10px;

        &__inner{
            flex-direction: column;
        }
        &__nav{
            width: 100%;
            padding-right: 0;
        }
        &__app{
            width: 100%;
            flex-direction: column;
        }
    }
    .app-downloud{
        justify-content: space-around;
    }
    .social{
        margin-top: 30px;
        width: 100%;

        &__link{
            margin: 0 auto;
        }

        &>ul>li.social--pos{
            width: 25%;
        }
    }
}
@media screen and (max-width: 767px){
    .header{
        
        &__logo{
            margin-right: 33%;
        }

        &__top{
            flex-direction: column;

            &-left{
                justify-content: center;

                &::before{
                    display: none;
                }
            }

            &-right{
                margin-top: 20px;

                &::before{
                    display: none;
                }
            }
        }

        &__content{
            padding-top: 40px;

        }
    }
    .advantages{
        top: 500px;
    }
    .services {
        padding-top: 70px;
    }
    .tab{
        &-content-wrap{
            flex-direction: column;
        }

        &-content-inner{
            width: 100%;
        text-align: center;
        }
    }
    .mobApps{

        &__inner{
            padding: 0;
        }
    }
    .about{

        &__title{
            text-align: center;
        }
    
        &__text{
            width: 100%;
        }
    }
}
@media screen and (max-width: 575px){

    .header{

        &__content{
            padding: 0 0 20px 0;
        }

        &__title{
            font-size: 50px;
            line-height: 50px;
        }

        &__subtitle{
            font-size: 20px;
        }

        &__nav{
            order: 2;
            text-align: center;

            & ul{
                display: flex;
                justify-content: space-around;
            
            }
        }

        &__top{
            padding-top: 15px;

            &-right{
                margin-top: 20px;
                flex-direction: column;
            }
        }
    }
    .authorization{
        order: 1;
        display: flex;
        justify-content: space-around;
    }

    .advantages{
        position: static;
        margin-top: 20px;

        &__item{
            width: 100%;
        }
    }
    .services {
        padding-top: 45px;
        padding-bottom: 485px;
    }
    .tab{

        &-content{
            top: 110%;

            &-title{
                font-size: 24px;;
                line-height: 24px;
            }

            &-text{
                font-size: 15px;
                line-height: 20px;
                width: 100%;
            }

            &-img{
                width: 70%;
            }
        }
    }
    .partners{
        padding: 75px 0;

        &__title{
            font-size: 28px;
            line-height: 30px;
        }
    }  
    .about{
        
        padding-bottom: 30px;

        &__title{
            font-size: 30px;
            line-height: 30px;
        }
        
        &__text{
            width: 100%;
        }
    } 
    .footer__nav{
        flex-wrap: wrap;

        &>div{
            margin: 10px;
        }
    }
    .app-downloud a {
        margin: 5px 10px;
    }
}