@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/hinted-subset-MyriadPro-Regular.eot');
    src: url('../fonts/hinted-subset-MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/hinted-subset-MyriadPro-Regular.woff') format('woff'),
        url('../fonts/hinted-subset-MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/hinted-subset-MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Myriad Pro';
}

.container{
    max-width: 1024px;
    padding: 0 25px;
    margin: 0 auto;
}

.logo{
    float: left
}

.nav{
    float: right
}

.clearfix{
    clear: both;
}

.logo_image{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #5094f2;
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 25px 0 0 0;
}

.caption1{
    color: #000000;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0.42px;
    display: inline-block;
    vertical-align: top;
    margin: 25px 0 0 15px;
}

.link{
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 40px 15px 35px 15px;
    border-bottom: 3px solid transparent;
}

.link:hover{
    border-color: #5094f2;
}

.main1{
    background-image: url("../images/fon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.image{
    display: inline-block;
    vertical-align: top;
    padding: 38px 104px 16px 40px;
}

.image_text{
    display: inline-block;
    vertical-align: top;
    margin: 150px 0 134px 0;
}

.caption2{
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    line-height: 44.42px;
    margin: 0;
}

.caption2_text{
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
    line-height: 44.42px;
    margin: 10px 0 20px 0;
}

.button{
    font-family: 'Myriad Pro';
    background-color: #5094f2;
    border: 0;
    padding: 9px 11px;
    margin: 0 0 0 12px;
}

.image_button{
    padding: 0;
}

.button_text{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 0 10px;
}

.marker{
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    padding: 57px 0 30px 0;
}

.total{
    width: 186px;
    height: 186px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    margin: 0 auto;
}

.marker_image1{
    background-color: #5094f2;
    background-image: url("../images/marker1.png");
}

.marker_image2{
    background-color: #d94748;
    background-image: url("../images/marker2.png");
}

.marker_image3{
    background-color: #ebbb11;
    background-image: url("../images/marker3.png");
}

.marker_caption{
    text-align: center;
    color: #5094f2;
    font-size: 20px;
    font-weight: 400;
    line-height: 44.42px;
    margin: 10px 0 0 0;
}

.marker_text{
    text-align: center;
    color: #909090;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0 30px;
}

.caption3{
    color: #6f7173;
    font-size: 42px;
    font-weight: 400;
    line-height: 44.42px;
    margin: 64px 0 0 54px;
}

.cart{
    display: inline-block;
    vertical-align: top;
    margin: 35px 0 50px 45px;
}

.shopping_list{
    display: inline-block;
    vertical-align: top;
}

.caption4{
    color: #6f7173;
    font-size: 26px;
    font-weight: 400;
    line-height: 44.42px;
    margin: 0 0 0 60px;
}

.list{
    color: #909090;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    list-style-type: none;
    margin: 10px 0 0 20px;
}

.footer{
    margin: 10px 0 10px 0;
    border-top: 1px solid #909090;
}

.copyright{
    color: #909090;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}