@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/hinted-subset-ProximaNova-RegularCondensed.eot");
  src: url("../fonts/hinted-subset-ProximaNova-RegularCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-subset-ProximaNova-RegularCondensed.woff2") format("woff2"), url("../fonts/hinted-subset-ProximaNova-RegularCondensed.woff") format("woff"), url("../fonts/hinted-subset-ProximaNova-RegularCondensed.ttf") format("truetype"), url("../fonts/hinted-subset-ProximaNova-RegularCondensed.svg#ProximaNova-RegularCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/subset-ProximaNova-Bold.eot");
  src: url("../fonts/subset-ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-ProximaNova-Bold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Bold.woff") format("woff"), url("../fonts/subset-ProximaNova-Bold.ttf") format("truetype"), url("../fonts/subset-ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* line 27, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
body {
  font-family: 'Proxima Nova';
  margin: 0;
  padding: 0;
}

/* line 33, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.mycontainer {
  max-width: 1560px;
  margin: 0 auto;
}

/* line 38, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.header {
  background-image: url("../images/bg_header.png");
}

/* line 42, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.wrap--header {
  display: flex;
  flex-direction: column;
}

/* line 47, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.wrap--top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
}

/* line 55, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.logo {
  background-image: url("../images/Logo-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 189px;
  height: 33px;
  margin-left: 15px;
  transition-duration: 1s;
}

/* line 64, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.logo:hover {
  transform: rotate(360deg);
}

/* line 70, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.inf {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 34.49px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-right: 15px;
}

/* line 80, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.wrap--caption {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* line 87, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.caption1 {
  color: #ffffff;
  font-family: 'Proxima Nova Bold';
  font-size: 90px;
  font-weight: 700;
  line-height: 31.32px;
  text-transform: uppercase;
  letter-spacing: 4.96px;
  margin: 21% 0 0 1%;
  z-index: 1;
}

/* line 99, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.caption2 {
  color: #ffffff;
  font-family: 'Proxima Nova Bold';
  font-size: 90px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  align-self: flex-end;
  margin: 2% 1% 0 0;
}

/* line 111, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.line::after {
  content: '';
  width: 5px;
  height: 405px;
  transform: rotate(35deg);
  background-color: #5e42b0;
  position: absolute;
  bottom: -80px;
  left: 563px;
  z-index: -1;
}

/* line 123, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.wrap--menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: flex-end;
  margin-right: 15px;
}

/* line 131, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.link {
  color: #9071ea;
  font-size: 14px;
  font-weight: 300;
  line-height: 34.49px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  text-decoration: none;
  margin-left: 50px;
  transition: 0.3s;
}

/* line 142, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.link:hover {
  color: #ee9f0d;
  text-decoration: none;
  transform: scale(1.2);
}

/* line 149, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.wrap--button {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 156, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.button {
  width: 311px;
  height: 77px;
  margin: 180px 25px 110px 25px;
  padding: 26px 0px 25px 125px;
  border-radius: 37px;
  box-shadow: 0 16px 24px #0a0e34;
  background-color: #5e42b0;
  text-align: left;
  outline: none;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 60px;
  background-size: auto;
  transition: 0.5s;
}

/* line 174, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.button:hover {
  background-color: #02cafc;
  text-decoration: none;
  transform: scale(1.2);
}

/* line 180, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.button__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

/* line 188, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.button--apple {
  background-image: url("../images/Icon_-_Apple.png");
}

/* line 193, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.button--google {
  background-image: url("../images/Icon_-_Google_Play.png");
}

/* line 199, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.text--1 {
  font-weight: 300;
}

/* line 203, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.text--2 {
  font-weight: 400;
}

/* line 207, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.main1 {
  overflow: hidden;
}

/* line 210, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.main1__fon3 {
  background-color: rgba(94, 66, 176, 0.06);
}

/* line 213, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.main1__fon3--2 {
  background-color: rgba(10, 14, 52, 0.04);
}

/* line 218, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.main1__fon4 {
  background-color: #5e42b0;
}

/* line 221, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.main1__fon4--2 {
  background-color: #0a0e34;
}

/* line 226, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.main1--sm {
  display: none;
}

/* line 233, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.caption__cards {
  width: 45%;
  color: #e7e7e7;
  font-family: 'Proxima Nova Bold';
  font-size: 90px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  margin: 7% 1% 2% 0;
  position: relative;
}

/* line 244, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.caption__cards--2 {
  margin: 7% 0% 2% 10%;
}

/* line 249, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.caption__image {
  height: 999px;
  width: 696px;
  background-image: url("../images/football_guy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -160%;
  right: 100%;
}

/* line 260, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.caption__image--2 {
  height: 815px;
  width: 991px;
  background-image: url("../images/basketball_guy.png");
  top: -240%;
  left: 65%;
}

/* line 270, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.flex--wrap {
  display: flex;
  justify-content: flex-end;
}

/* line 274, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.flex--wrap--2 {
  justify-content: flex-start;
  margin-left: 10%;
}

/* line 280, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.mycard {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin-right: 1%;
  padding: 4% 0;
}

/* line 288, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.mycard__caption {
  color: #c1c1c1;
  font-family: 'Proxima Nova Bold';
  font-size: 36px;
  font-weight: 700;
  line-height: 34.49px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin: 0 0 30px 10px;
}

/* line 299, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.mycard__text {
  color: #000000;
  font-family: 'Proxima Nova Bold';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* line 306, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.mycard__text--fon4 {
  color: #ffffff;
}

/* line 312, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.number {
  color: #000000;
  font-family: 'Proxima Nova Bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

/* line 321, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.number--2 {
  color: #9173e6;
}

/* line 326, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.underscore {
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

/* line 332, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.underscore--fon4 {
  background-color: #efefef;
}

/* line 337, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.main2 {
  display: flex;
  flex-wrap: wrap;
}

/* line 342, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.flex--box {
  width: 50%;
}

/* line 345, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.flex--box:nth-child(1) {
  background-image: url("../images/layer_1.png");
  background-size: cover;
}

/* line 350, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.flex--box:nth-child(3) {
  background-image: url("../images/layer_2.png");
  background-size: cover;
  order: 1;
}

/* line 356, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.flex--box:nth-child(5) {
  background-image: url("../images/layer_3.png");
  background-size: cover;
  order: 2;
}

/* line 362, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.flex--box:nth-child(6) {
  order: 3;
}

/* line 366, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.flex--box--reverse {
  display: flex;
  justify-content: flex-end;
}

/* line 372, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.half-container {
  width: 780px;
}

/* line 376, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.step {
  position: relative;
  margin-left: 127px;
  margin-top: 257px;
}

/* line 381, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.step--reverse {
  margin-left: 15px;
}

/* line 385, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.step__number {
  width: 168px;
  height: 155px;
  background-color: #5e42b0;
  color: #f5f6f7;
  font-family: 'Proxima Nova Bold';
  font-size: 24px;
  font-weight: 700;
  line-height: 34.49px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 50px 72px;
  position: absolute;
  left: -211px;
  top: -49px;
}

/* line 401, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.step__number--reverse {
  left: unset;
  right: -83px;
}

/* line 407, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.step__number__line {
  width: 22px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 0.3;
  margin-left: 2px;
}

/* line 417, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.step__caption {
  opacity: 0.4;
  color: #c1c1c1;
  font-family: 'Proxima Nova Bold';
  font-size: 90px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}

/* line 427, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.step__text {
  font-family: 'Proxima Nova Bold';
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.2px;
  padding: 45px 328px 55px 0;
}

/* line 437, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.step__line {
  width: 22px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
  margin-bottom: 122px;
}

/* line 446, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.wrap--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 452, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.caption--block {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

/* line 458, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.footer {
  background-image: url("../images/bg_footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 463, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.footer__down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

/* line 470, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.footer__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 476, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.footer__caption {
  display: flex;
  margin-top: 11%;
}

/* line 480, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.footer__caption__image {
  width: 130px;
  height: 137px;
  background-image: url("../images/footer_logo.png");
  margin-top: 37px;
}

/* line 487, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.footer__caption__line1 {
  width: 5px;
  height: 185px;
  transform: rotate(40deg);
  background-color: #9172e6;
  position: absolute;
  top: -49px;
  left: 89px;
  z-index: -1;
}

/* line 498, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.footer__caption__line2 {
  width: 5px;
  height: 340px;
  transform: rotate(40deg);
  background-color: #9172e6;
  position: absolute;
  top: -117px;
  right: 272px;
  z-index: -1;
}

/* line 509, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.footer__caption__first {
  color: #ffffff;
  font-family: 'Proxima Nova Bold';
  font-size: 90px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 4.96px;
  margin-bottom: 18px;
  position: relative;
  z-index: 0;
}

/* line 522, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.footer__caption__second {
  color: #a496ca;
  font-family: 'Proxima Nova Bold';
  font-size: 36px;
  font-weight: 700;
  line-height: 34.49px;
  text-transform: uppercase;
  z-index: 0;
}

/* line 534, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.contacts {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* line 541, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.social {
  color: #ffffff;
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}

/* line 548, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.social__link {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

/* line 553, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.social__link:hover {
  color: #ee9f0d;
  transform: scale(1.5);
}

/* line 560, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
.myicon {
  font-size: 25px;
}

@media screen and (max-width: 1559px) {
  /* line 566, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .header {
    background-image: url("../images/vector-smartfon.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 572, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .mycontainer {
    max-width: 100%;
    margin: 0 auto;
  }
  /* line 577, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption1 {
    font-size: 64px;
    letter-spacing: 3.52px;
    margin: 25% 0 0 11%;
  }
  /* line 583, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption2 {
    width: 64%;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 3.2px;
    margin: 3% 9% 0 0;
  }
  /* line 591, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .line::after {
    bottom: -18%;
    left: 40%;
  }
  /* line 598, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .wrap--menu {
    align-self: center;
    margin-top: 184px;
  }
  /* line 604, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .link {
    font-size: 16px;
    letter-spacing: 0.8px;
    margin-left: 25px;
    margin-right: 25px;
  }
  /* line 613, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption__cards {
    width: 62%;
  }
  /* line 616, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption__cards--2 {
    margin: 7% 0% 2% 5%;
  }
  /* line 621, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption__image {
    width: 497px;
    height: 714px;
    top: 0%;
    right: 94%;
  }
  /* line 627, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption__image--2 {
    width: 690px;
    height: 565px;
    top: -97%;
    left: 64%;
  }
  /* line 636, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .mycard {
    width: 62%;
  }
  /* line 640, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .flex--wrap--2 {
    margin-left: 5%;
  }
  /* line 644, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .flex--box {
    width: 100%;
  }
  /* line 647, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .flex--box:nth-child(1), .flex--box:nth-child(3), .flex--box:nth-child(5) {
    order: 0;
    height: 584px;
  }
  /* line 654, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .flex--box:nth-child(6) {
    order: 0;
  }
  /* line 658, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .flex--box--reverse {
    display: flex;
    justify-content: flex-start;
  }
  /* line 664, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .half-container {
    width: 100%;
  }
  /* line 668, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step {
    margin: 87px 0 0 34px;
  }
  /* line 671, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step__number {
    left: 4px;
    top: -199px;
  }
  /* line 676, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step__caption {
    margin-bottom: 36px;
  }
  /* line 680, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step__text {
    padding: 0 34px 33px 0;
  }
  /* line 684, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step__line {
    margin-bottom: 60px;
  }
  /* line 689, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption--block {
    margin-left: 0;
    align-items: center;
  }
  /* line 694, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .logo-sm {
    display: none;
  }
  /* line 698, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .contacts {
    display: none;
  }
  /* line 702, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .social {
    margin-left: 0;
  }
  /* line 708, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .footer__down {
    justify-content: center;
  }
  /* line 712, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .footer__caption {
    flex-direction: column;
    align-items: center;
  }
  /* line 716, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .footer__caption__first {
    font-size: 80px;
    letter-spacing: 4.85px;
  }
}

@media screen and (max-width: 767px) {
  /* line 726, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .header {
    background-image: url("../images/small-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 734, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .wrap--caption {
    align-items: center;
  }
  /* line 738, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .wrap--top {
    justify-content: center;
  }
  /* line 742, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .wrap--menu {
    order: 1;
    justify-content: center;
    margin: 40px 0 20px 0;
  }
  /* line 749, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .logo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 137px;
    height: 24px;
    margin: 0;
  }
  /* line 757, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .inf {
    position: absolute;
    top: -22px;
  }
  /* line 762, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption1 {
    font-size: 32px;
    letter-spacing: 1.76px;
    margin: 145px 15% 0 0;
  }
  /* line 768, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption2 {
    width: 77%;
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: 45px;
    margin: 10px 3% 0 0;
  }
  /* line 776, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .line::after {
    height: 237px;
    bottom: -17%;
    left: 47%;
  }
  /* line 782, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .link {
    text-align: center;
    width: 33%;
    font-size: 12px;
    margin: 0;
  }
  /* line 789, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .button {
    width: 142px;
    height: 39px;
    margin: 0;
    padding: 10px 0px 0px 50px;
    margin: 118px 4px 0 4px;
  }
  /* line 796, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .button__text {
    font-size: 8px;
    letter-spacing: 0.4px;
    line-height: 10px;
  }
  /* line 802, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .button--apple {
    background-size: 15px 17px;
    background-position-x: 25px;
  }
  /* line 807, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .button--google {
    background-size: 16px 18px;
    background-position-x: 25px;
  }
  /* line 813, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .main1 {
    display: none;
  }
  /* line 816, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .main1--sm {
    display: inline;
    overflow: hidden;
  }
  /* line 824, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption__cards {
    width: 100%;
    font-size: 50px;
    margin: 7% 5% 295px 5%;
  }
  /* line 829, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption__cards--2 {
    margin: 7% 0% 2% 5%;
  }
  /* line 834, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption__image {
    width: 211px;
    height: 280px;
    background-image: url("../images/football-man-small.png");
    top: 104%;
    right: 25%;
  }
  /* line 841, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .caption__image--2 {
    width: 302px;
    height: 248px;
    background-image: url("../images/basketball-man-small.png");
    top: 90%;
    left: 15%;
  }
  /* line 851, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .mycard {
    align-content: flex-start;
    height: 280px;
    width: 100%;
    margin-left: 15px;
    padding-top: 50px;
  }
  /* line 858, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .mycard__caption {
    width: 70%;
    font-size: 28px;
    letter-spacing: 1.4px;
  }
  /* line 864, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .mycard__text {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.75px;
  }
  /* line 871, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .number {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
  /* line 876, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .flex--wrap--2 {
    margin-left: 0%;
  }
  /* line 880, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .wrap--hidden {
    overflow: hidden;
  }
  /* line 886, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .flex--box:nth-child(1), .flex--box:nth-child(3), .flex--box:nth-child(5) {
    height: 351px;
    background-position: center;
  }
  /* line 894, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step {
    margin: 35px 0 0 20px;
  }
  /* line 897, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step__number {
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 21px;
    padding: 20px 29px;
    width: 70px;
    height: 70px;
    left: 4px;
    top: -88px;
  }
  /* line 907, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step__number__line {
    width: 16px;
    height: 4px;
    margin-left: 0;
  }
  /* line 914, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step__caption {
    font-size: 28px;
    line-height: 34.49px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 0;
  }
  /* line 922, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step__text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.8px;
    padding: 23px 30px 23px 0;
  }
  /* line 929, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .step__line {
    width: 22px;
    height: 5px;
    background-color: #5e3db3;
    margin-bottom: 50px;
  }
  /* line 941, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .footer__caption__image {
    width: 73px;
    height: 78px;
    background-size: cover;
  }
  /* line 947, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .footer__caption__first {
    line-height: 30px;
    font-size: 34px;
    letter-spacing: 1.7px;
    margin-bottom: 0;
    margin-top: 50px;
  }
  /* line 955, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .footer__caption__second {
    color: #9b8ec1;
    font-size: 15px;
    letter-spacing: 0.75px;
  }
  /* line 961, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .footer__caption__line1 {
    height: 100px;
    top: -26px;
    left: 29px;
  }
  /* line 967, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .footer__caption__line2 {
    height: 150px;
    top: -50px;
    right: 105px;
  }
  /* line 975, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .button--sm {
    margin: 70px 4px 150px 4px;
  }
  /* line 983, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .carousel-indicators.mysettings .active {
    background-color: #000000;
  }
  /* line 987, D:/Programing/Front End/HomeWork/HomeWork10/scss/style.scss */
  .carousel-indicators.mysettings li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d8d8d8;
  }
}

/*# sourceMappingURL=../css/style.map */