@media (max-width: 1640px){
    .popularity__right{
        background-color: #fff;
        padding-left: 15px;
        padding-right: 0;
    }

    .history{

        &__wrapper{
            background-size: 50%;
        }

        &__form{
            margin-left: 0;
        }
    }
}

@media (max-width: 1400px){
    .popularity__wrapper{
        background-size: 750px;
    }

    .popularity__right-title{
        margin-top: 0;
    }

    .history{
        padding-top: 150px;
    }
}

@media (max-width: 1200px){
    .popularity{
        padding-top: 100px;

        &__wrapper{
            background-size: auto;
            background-position: bottom;
            min-height: 1218px;
        }
    
        &__inner{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        &__right{
            padding-left: 0;
            max-width: 800px;
        }
    
        &__box{
            order: 1;
            max-width: 600px;
            margin-right: 0;
            margin-top: 535px;
            padding: 20px 20px 0 20px;
    
            &-link{
                width: 560px;
                padding-right: 84px;
            }
        }
    }   

    .history{

        &__wrapper{
            background-size: 45%;
        }

        &__text{
            max-width: 645px;
        }
    }

    .composition{
        padding-top: 100px;

        &__row{
            justify-content: center;
            padding: 0 151px;
        }

        &__box{
            min-width: 100%;
            order: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &-list{
                max-width: 560px;
            }
        }

        &__title{
            margin: 0 0 20px 0;
            max-width: 600px;
            text-align: center;
        }

        &__link{
            order: 1;
            margin-left: 20px;
        }
    }

    .footer{

        &__link{
            margin: 5px 0;
            text-align: center;
        }

        &__box-link{
            align-items: center;
            flex-direction: column;
        }
    }
}

@media (max-width: 1120px){
    .advantages{
        
        &__inner{
            flex-wrap: wrap;
        }

        &__item{
            width: 45%;
            padding-right: 70px;
            margin-left: 35px;
        }
    }

    .certificate__content{
        padding-left: 0;
    }
}

@media (max-width: 1040px){

    .top{

        &__inner{

            &-img{
                margin-left: 0;
            }
        }
    }

    .list{

        &__title{
            text-align: center;
            margin: 0 auto 40px;
        }
        
        &__inner{
            display: block;
            padding-bottom: 0;
        }

        &__link{
            justify-content: center;
            padding-top: 20px;

            & a{
                padding: 24px 90px 24px 86px;
                min-width: 415px;

                &::after{
                    right: 55px;
                }
            }
        }
    }

    .tabs{
        padding: 0px 40px;

        &__content{
            max-width: 500px;
            margin: 0 auto;

            &::after,
            &::before{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #a4c58c;
            }

            &::before{
                right: 100%;
                z-index: 10;
                margin-right: -1px;
            }
            &::after{
                left: 100%;
                z-index: 10;
                margin-left: -1px;
                        }
        }

        &__reviews{
            left: 0;
            right: 0;
            margin: 0 auto;

            &-link{
                left: 145px;
            }
        }
    }

    .history{
        padding-top: 90px;

        &__wrapper{
            background-position-y: bottom;
            background-position-x: 95%;
            min-height: 1085px;
        }

        &__inner{
            display: flex;
            flex-wrap: wrap;
        }

        &__title{
            max-width: 100%;
            text-align: center;
            padding: 100px 80px 0;
            background-color: #f6f9f3;
            position: relative;

            &::before,
            &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #f6f9f3;
                top: 0;
            }

            &::before{
                right: 100%;
            }
        
            &::after{
                left: 100%;
            }
        }

        &__text{
            max-width: 100%;
            margin-top: -1px;
            z-index: -1;

            &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #f6f9f3;
                top: 0;
                left: 100%;
            }
        }

        &__form{
            margin-top: 120px;
        }
    }

    .quote{
        background-image: none;
        min-height: 0;

        &__wrapper{
            background-image: none;
            min-height: 0;
            padding-bottom: 0;
        }
    }

    .offer{
        padding: 100px 0;
        background-color: #f6f9f3;

        &__title{
            margin: 0 auto 50px;
            text-align: center;

        }

        &__inner{
            top: 0;
        }

        &__item{
            width: 33.3333%;
        }
    }

    .reviews{

        &__title{
            text-align: center;

            & br{
                display: none;
            }
        }

        &-text{
        width: 100%;

            &:nth-child(even){
                display: none;
            }
        }
    }

    .build__content{
        justify-content: center;
    }

    .certificate__image{
        margin-top: -105px;
    }
}

@media (max-width: 940px){

    .top{

        &__inner{

            &-form{
                position: absolute;
                right: 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            &-suptitle{
                width: 280px;
                margin-right: 100px;
            }

            &-title{
                width: 280px;
                margin-right: 100px;
                font-size: 50px;
                line-height: 50px;
            }

            &-text{
                width: 280px;
                margin-right: 100px;
                font-size: 16px;
            }
        }
    }

    .history{

        &__wrapper{
            background-position-y: 95%;
        }

        &__form{
            margin-top: 70px;
        }
    }

    .offer{
        
        &__item{
            min-height: 275px;
        }
    }

    .composition{

        &__row{
            padding: 0 25px;
        }

        &__link{
            max-width: 569px;
        }
    }

    .certificate{
        padding-top: 100px;

        &__title{
            text-align: center;
        }

        &__text{
            padding-right: 0;
        }

        &__image{
            margin-top: 0;

            & img{
                width: 280px;
            }
        }
    }
}

@media (max-width: 830px){
    .history{

        &__wrapper{
            min-height: 1000px;
            background-position-y: 101%;
        }

        &__form{
            max-width: 50%;
            margin-top: 50px;
        }
    }

    .reviews{

        &__tab{
            text-align: center;
            padding: 25px 15px;
            width: 49%;
        }
    
        &__link{
            flex-direction: column;
            margin-bottom: 0;

            &-tab{
                margin: 0 0 30px 0;
            }

            &-popup{
                padding-right: 72px;
            }
        }

        &__wrapper-link{
            background-color: #f6f9f3;
            padding-bottom: 75px;
        }
    }

    .build{
        margin-top: 70px;
    }

    .certificate{

        &__inner{
            flex-wrap: wrap;
        }

        &__content{
            margin-right: 0;
            max-width: 100%;
        }

        &__box{
            max-width: 60%;

            & fieldset{
                padding: 65px 50px 133px 49px;
            }
        }

        &__image{
            position: absolute;
            right: 0;
            top: 92px;
        }
    }
}

@media (max-width: 768px){

    .header{

        &__text{
            font-size: 14px;
        }
    }

    .top{
        margin-bottom: 125px;

        &__inner{

            &-suptitle{
                margin-top: 25px;
            }

            &-text{
                margin-bottom: 50px;
            }
        }
    }

    .advantages{

        &__inner{
            padding: 0 50px 0 80px;
        }

        &__item{
            margin: 0;
            width: 50%;
            padding-right: 45px;
        }
    }

    .list{

        &__title{
            font-size: 30px;
            line-height: 40px;
            max-width: 370px;
        }
    }

    .popularity{

        &__box{
            margin-top: 544px;
        }

        &__right{
            max-width: 535px;

            &-title{
                font-size: 30px;
                line-height: 40px;
                text-align: center;
            }

            &-subtitle{
                text-align: center;
                margin-bottom: 40px;
            }
        }
    }

    .history{

        &__wrapper{
            background-position-y: 92%;
        }

        &__title{
            font-size: 30px;
            line-height: 40px;
        }

        &__form{
            padding-right: 30px;
            margin-top: 10px;

            & button{
                padding: 19px 70px 19px 0;
            }
        }

        &__text{
            padding-right: 0;
        }
    }

    .form__btn::after{
        right: 35px;
    }

    .quote{
        
        &__wrapper{
            padding: 50px 0 0 0;
        }

        &__inner{
            font-size: 18px;
            line-height: 36px;
        }

        &__author{
            font-size: 16px;

            & span{
                font-size: 12px;
            }
        }
    }

    .offer{

        &__title{
            font-size: 30px;
            line-height: 40px;
            max-width: 570px;
        }

        &__wrapper{
            min-height: 0;
        }
        
        &__item{
            min-height: 225px;
            max-width: 225px;

            &-number{
                font-size: 110px;
                line-height: 14.34px;
                letter-spacing: 7.67px;
                top: 40%;
            }

            &-title{
                font-size: 10px;
                line-height: 14.34px;
            }

            &-img{
                width: 70px;
                height: 60px;
            }
        }
    }

    .composition{

        &__row{
            padding: 0;
        }

        &__box{
            padding: 0;
        }

        &__title{
            font-size: 30px;
            line-height: 40px;
        }

        &__link{
            padding: 10px 0 60px;
            max-width: 270px;
            margin: 10px;

            &-btn{
                width: 100%;
                padding: 19px 50px 19px 15px;

                &::after{
                    right: 20px;
                }
            }

            &-text p+p,
            &-text p::before{
                display: none;
            }
        }
    }

    .reviews{

        &__title{
            font-size: 30px;
            line-height: 40px;
        }
    }

    .build{
        margin-top: 0;
        
        &__wrapper{
            background-image: none;
            min-height: 0;
        }
    }

    .certificate{

        padding-top: 50px;

        &__text{
            text-align: center;
            padding: 0 25px;
            margin-bottom: 30px;
        }

        &__title{
            font-size: 30px;
        }

        &__image{
            top: 100px;
        }

        &__wrapper{
            padding-bottom: 150px;
        }

        &__box{
            max-width: 50%;

            & fieldset{
                padding: 0px 20px 80px 20px;
            }
        }

        &__link{
            width: 100%;
            padding: 19px 60px 19px 30px;

            &::after{
                right: 20px;
            }
        }
    }
}

@media (max-width: 760px){
    .top{

        &__wrapper{
            margin-bottom: 230px;
        }

        &__inner{

            &-img img{
                width: 200px;
            }
        }
    }
}

@media (max-width: 700px){

    .header{

        &__text{
            display: none;
        }
    }

    .advantages{

        &__inner{
            padding: 0;
        }

        &__item{
            padding-right: 30px;
        }
    }

    .history__wrapper {
        background-position-y: 95%;
    }

    .offer__item{
        min-height: 200px;
    }

    .build{

        &__title{
            text-align: center;
        }

        &__text span{
            display: block;
            text-align: center;
        }

        &__inner-box{
            padding: 25px;
        }

        &__link{
            display: block;
            padding: 24px 60px 24px 32px;
        }
    }

    .certificate{

        &__link{
            text-align: center;
            padding: 19px 0;

            &::after{
                display: none;
            }
        }
    }

    .footer{

        &__logo{
            display: none;
        }

        &__phone{
            display: none;
        }

        &__inner{
            padding: 25px 0;
        }
    }
}

@media (max-width: 640px){

    .top{

        &__wrapper{
            margin-bottom: 350px;
        }

        &__inner{

            &-form{
                left: 15px;
            }

            &-img img{
                width: 150px;
            }
        }
    }

    .popularity{
        padding-top: 0;

        &__wrapper{
            background-size: 100%;
            min-height: 885px;
            background-image: none;
            padding-bottom: 70px;
        }

        &__image{
            display: block;
            width: 112%;
        }

        &__inner{
            flex-direction: column-reverse;
        }

        &__box{
            position: relative;
            bottom: auto;
            margin: 0;
            max-width: 100%;
            order: 0;

            &-text{
                border: none;
                padding: 20px 0;
                text-align: center;
            }

            &-link{
                width: 111%;
                left: -15px;
                text-align: center;
                padding: 24px 0;
                font-size: 12px;
                letter-spacing: 0.6px;

                &::after{
                    display: none;
                }

                & span{
                    display: none;
                }
            }
        }

        &__right{
            max-width: 100%;

            &-title{
                font-size: 24px;
                line-height: 30px;
                margin-top: 50px;
            }

            &-subtitle{
                font-size: 12px;
                letter-spacing: 0.6px;
                margin-bottom: 20px;
            }

            &-list{
                font-size: 14px;

                & li{
                    margin-bottom: 20px;
                    padding-left: 20px;
                }
            }
        }
    }

    .history {
        padding-top: 0;

        & .container{
            padding: 0;
        }

        &__wrapper{
            background-image: none;
        }

        &__title{
            padding: 110px 15px 0 15px;
        }

        &__text{
            padding: 0 15px;
            z-index: 1;
        }

        &__form{
            max-width: 100%;
            padding: 0;
            margin-top: 30px;

            &-title{
                padding: 0 15px;
                margin-top: 0;
                text-align: center;
            }

            & input{
                margin: 0 auto;
                width: 90%;
                text-align: center;
            }

            & button{

                padding: 19px 0;

                &::after{
                    display: none;
                }
            }
        }
    }

    .alonso-portret{
        display: block;
        width: 100%;
    }

    .certificate{

        &__wrapper{
            padding-bottom: 50px;
        }

        &__box{
            max-width: 100%;
        }

        &__image{
            position: static;
            margin: 20px auto;
        }
    }
}

@media (max-width: 600px){

    .mobile__link-btn{
        display: block;
    }

    .top{

        &__wrapper{
            margin-top: -525px;
            margin-bottom: 260px;
        }

        &-form{
            display: none;
        }

        &__inner{
            flex-direction: column-reverse;
            align-items: center;

            &-form{
                position: static;
                align-items: center;
                text-align: center;
            }

            &-img img{
                width: 85px;
            }

            &-suptitle,
            &-title{
                width: 100%;
                margin-right: 0;
            }

            &-text{
                display: none;
            }
        }
    }

    .advantages{

        &__item{
            padding-right: 50px;
            width: 100%;

            &::before{
                display: none;
            }
        }
    }

    .tabs{

        &__box{

            & .tab{
                width: 100%;
                font-size: 14px;
                text-transform: uppercase;

                & span{
                    font-size: 14px;
                    letter-spacing: 0.7px;
                    text-transform: uppercase;
                }

                &:first-child,
                &:nth-child(2){
                    border-right: none;
                    order: 0;
                    padding-right: 40px;
                }

                &:nth-child(3),
                &:last-child{
                    padding-left: 0;
                    order: 0;
                }
            }
        }
    }

    .popularity{
        
        &__wrapper{
            min-height: 836px;
        }
    }

    .history{

        &__wrapper{
            min-height: 100%;
        }

        &__title{
            font-size: 20px;
            line-height: 26px;
        }

        &__text{
            font-size: 14px;
        }
    }

    .quote{
        
        &__wrapper{
            padding: 0;
        }

        &__inner{
            font-size: 14px;
            line-height: 24px;
            border: none;
        }

        &__author{
            font-size: 14px;
            line-height: 18px;
            width: 175px;
            margin: 30px auto 0;

            & span{
                font-size: 12px;
                margin-top: 20px;
                display: inline-block;
            }
        }
    }

    .offer{
        padding: 50px 0;

        &__inner{
            flex-direction: column;
            align-items: center;
            background-color: #f6f9f3;
        }
        
        &__item{
            border: none;
            min-width: 251px;
            min-height: 160px;
            

            &-number{
                color: #fff;
            }

            &-img{
                margin-bottom: 15px;
            }
        }
    }

    .reviews{

        &__wrapper-link{
            padding-bottom: 0;
        }
    
        &__link{

            &-popup{
                padding: 24px 11px;
                text-align: center;
                width: 110%;
                
                &::after{
                    display: none;
                }
            }
        }
    }

    .build{

        &__wrapper{
            padding: 50px 0 0 0;
        }

        &__inner{
            padding: 0;
        
            &-box{
                border: none;
                padding: 0;
            }
        }

        &__link{
            padding: 24px 15px;
            text-align: center;
            width: 110%;
            left: -15px;

            &::after{
                display: none;
            }
        }
    }
}

@media (max-width: 530px){
    .list{

        &__inner{
            padding-bottom: 30px;
        }

        &__link{
            padding-top: 0;

            & a{
                margin-top: 0;
            }
        }
    }

    .tab.active::after{
        display: none;
    }

    .tabs{

        &__content{
            height: 163px;
            background-image: none;
            min-width: 0;

            &::after,
            &::before{
                display: none;
            }
        }

        &__reviews{
            position: relative;
            bottom: 1px;
        }
    }

    .popularity__wrapper{
        min-height: 815px;
    }
}

@media (max-width: 498px){
    .top{

        &__wrapper{
            margin-bottom: 160px;
        }
    }
}

@media (max-width: 480px){

    .header{

        &__logo img{
            width: 115px;
        }

        &__phone{
            font-size: 14px;

            & a::before{
                display: none;
            }

            &-text{
                display: none;
            }
        }
    }

    .top{
        margin-bottom: 35px;
    }

    .tab{
        font-size: 12px;
        letter-spacing: 0.6px;
        padding-right: 0;

        & span{
            margin-right: 10px;
        }
    }

    .tabs{
        padding: 0;

        &__content{

            & .tab-item .active-tab{
                display: none !important;
            }
        }

        &__reviews{
            padding: 20px 0;

            &-inner{
                padding: 30px 15px;
            }

            &-link{
                left: 30%;
            }

            &-text{
                font-size: 14px;
                line-height: 20px;
                text-align: center;
            }
        }

        &__box .tab{
        font-size: 12px;
        letter-spacing: 0.6px;
        padding-right: 0;

            &:first-child,
            &:nth-child(2){
                padding-right: 0;
            }
        }
    }

    .list{

        &__inner{
            padding-bottom: 10px;
        }

        &__title{
            font-size: 24px;
            line-height: 30px;
            max-width: 295px;
        }

        &__link a{
            font-size: 12px;
            letter-spacing: 0.6px;
            padding: 24px 0;
            text-align: center;

            &::after{
                display: none;
            }
        }
    }

    .popularity__wrapper{
        min-height: 791px;
    }

    .offer{
        padding-bottom: 10px;

        &__title{
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 0;
        }
        
        &__item{
            max-width: 100%;
    
            &-number{
                font-size: 130px;
                line-height: 19.36px;
                letter-spacing: 6.72px;
            }

            &-title{
                font-size: 12px;
                line-height: 19.35px;
                letter-spacing: 0.62px;
            }

            &-img{
                width: 90px;
                height: 90px;
            }
        }
    }

    .reviews{

        &__title{
            font-size: 24px;
            line-height: 30px;
        }

        &__tab{
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 0.49px;
            padding: 20px 15px;
        }

        &__content-item{
            padding: 30px 0 0;
        }

        &-text{
            font-size: 14px;
            padding: 30px 0;

            &::before{
                left: 0;
            }
        }
    
        &__link{
            padding: 0;

            &-popup{
                font-size: 12px;
                padding: 13px 43px;
            }
        }
    }

    .build{

        &__title{
            font-size: 24px;
            line-height: 30px;
        }

        &__text{
            font-size: 14px;

            & span{
                font-size: 12px;
                letter-spacing: 0.6px;
                margin-bottom: 30px;
            }
        }

        &__link{
            font-size: 12px;
            letter-spacing: 0.6px;
        }
    }

    .certificate{
        background-color: #f6f9f3;

        &__title{
            font-size: 24px;
            margin-bottom: 0;
        }

        &__text{
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.6px;
            padding: 0;
        }

        &__wrapper{
            padding: 15px 0;
        }

        &__box{
            background-color: #f6f9f3;
            font-size: 14px;
            padding: 0;

            & fieldset{
                border: none;
                padding: 0px 0 75px 0;

                & legend{
                    padding: 0 0 0 45%;
                }
            }
        }
        
        &__link{
            width: 130%;
            right: -40px;
            padding-left: 20px;
        }

        & .container{
            overflow: hidden;
        }
    }
}

@media (max-width: 360px){

    .top{
        margin-bottom: 50px;

        &__wrapper{
            margin-top: -420px;
            margin-bottom: 97px;
        }

        &__image{
            min-height: 375px;
        }

        &__inner{

            &-title{
                font-size: 30px;
                line-height: 36px;
                padding: 0 25px;
                margin-bottom: 15px;
                margin-top: 0;
            }

            &-suptitle{
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }

    .history{

        &__title{
            padding: 60px 15px 0 15px;
        }
    }

    .composition{
        padding: 50px 0;
        overflow: hidden;

        &__box{
            
            &-list{
                font-size: 14px;
            }
        }

        &__title{
            font-size: 24px;
            line-height: 30px;
        }

        &__link{
            font-size: 14px;
            border: none;
            max-width: 100%;
            margin: 10px 0;
            text-align: center;

            &-text p{
                padding: 0;
            }

            &-btn{
                padding: 19px 0;
                left: -15px;
                width: 111%;
                &::after{
                    display: none;
                }
            }
        }
    }

    .build{

        &__link{
            padding: 13px 20px;
        }
    }

    .certificate{

        &__link{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-width: 320px){
    .popularity{

        &__wrapper{
            min-height: 747px;
        }
    }
}