@import "libs";

*,
*::after,
*::before{
    box-sizing: border-box;
}
html,
body{
    height : 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    &-fluid{
        max-width: 1720px;
        margin: 0 auto;
        overflow: hidden;
    }
}

.header,
.footer{

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
    }

    &__text{
        margin-right: auto;
        margin-left: 30px;
        color: #9a9a9a;
    }

    &__link{
        color: #9a9a9a;
        font-size: 12px;
        text-decoration: underline;
        will-change: transform;
        transition: 0.3s;

        &:hover{
            color: #000000;
            transform: scale(1.3);
        }
    }

    &__phone{
        font-size: 20px;
        font-weight: 500;

        & a{
            color: #303030;
            position: relative;
            padding-left: 27px;

            &::before{
                content: '';
                background-image: url(../img/phone.svg);
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
                top: 5px;
            }
        }

        &-text{
            color: #9a9a9a;
            font-size: 12px;
            font-weight: 400;
            text-align: right;
            padding-top: 3px;
        }
    }
}

.footer__box-link{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.top{
    margin-bottom: 200px;

    &__image{
        min-height: 544px;
        background-image: url(../img/top-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1720px;
        margin: 0 auto;
    }

    &__wrapper{
        margin-top: -450px;
        margin-bottom: 75px;
    }

    &__inner{
        display: flex;
        justify-content: space-between;

        &-img{
            margin-left: 130px;
        }

        &-form{
            max-width: 570px;
            width: 100%;
        } 

        &-suptitle{
            margin: 80px 0 0 0;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.7px;
        }

        &-title{
            margin-top: 20px;
            margin-bottom: 40px;
            color: #fff;
            font-size: 60px;
            font-weight: 600;
            line-height: 69px;
        }

        &-text{
            margin-bottom: 70px;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }
    } 

    &-form{
        background-color: #fff;
        padding: 20px;

        & form{
            border: 1px solid #a4c58c;
            position: relative;
        }

        & input{
            border: none;
            padding: 14px 0;
            border-bottom: 1px solid #a4c58c;
            outline: none;
            color: #000;
            font-size: 14px;
            font-weight: 400;
            width: 200px;

            &::placeholder{
                color: #a8c48c;
            }

            & + input{
                margin-left: 23px;
            }
        }

        & button{
            position: absolute;
            right: 0;
            bottom: 0;
        }

        &__inner{
            padding: 40px 50px 118px 50px;
        }

        &__title{
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            margin-bottom: 35px;
            width: 185px;
        }
    }
}

.mobile__link-btn{
    display: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 19px 0;
    background-color: #7eb252;
    text-align: center;
}

.form__btn{
    padding: 22px 110px 22px 75px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    background-color: #7eb252;
    position: relative;
    will-change: transform;
    transition: 0.3s;

        &:hover{
            background-color: #509117;
        }

    &::after{
        content: '';
        background-image: url(../img/arrow-right.png);
        width: 31px;
        height: 9px;
        position: absolute;
        right: 60px;
        top: 28px;
    }
}

.advantages{

    &__inner{
        display: flex;
        justify-content: space-around;
    }

    &__item{
        width: 240px;
        padding: 35px 0 0 40px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 5px solid rgba(164, 197, 140, 0.3);
            top: 0;
            left: 0;
        }

        &-number{
            color: #a4c58c;
            font-weight: 600;
            line-height: 24px;
            font-size: 18px;
            border-bottom: 3px solid #a4c58c;
            display: inline-block;
            padding-bottom: 5px;

            & span{
                font-size: 30px;
            }
        }

        &-text{
            margin-top: 20px;
            font-weight: 400;
            line-height: 24px;
            color: #000;
        }
    }
}

.list{
    
    &__title{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        max-width: 470px;
        margin: 0 0 40px 0;
        padding-top: 25px;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        background-color: #f6f9f3;
        position: relative;

        &::before,
        &::after{
            content: '';
            position: absolute;
            height: 100%;
            top: 0;
            width: 100%;
            background-color: #f6f9f3;
        }

        &::before{
            right: 100%;
        }
        
        &::after{
            left: 100%;
        }
    }

    &__link{
        display: flex;
        justify-content: flex-end;

        & a{
            margin-top: 20px;
            outline: none;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            background-color: #7eb252;
            padding: 24px 100px 24px 120px;
            min-width: 500px;
            position: relative;
            will-change: transform;
            transition: 0.3s;

            &:hover{
                background-color: #509117;
            }

            &::after{
                content: '';
                background-image: url(../img/arrow-right.png);
                width: 31px;
                height: 9px;
                position: absolute;
                right: 100px;
                top: 31px;
            }
            
        }
    }
}

.tab{
    padding: 24px 40px 24px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    border-bottom: 1px solid rgba(164, 197, 140, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;

    & span{
        color: #a4c58c;
        margin-right: 20px;
    }

    &.active{
        position: relative;

        &::after{
            content: '';
            position: absolute;
            right: 10px;
            background-image: url(../img/shevron.svg);
            width: 8px;
            height: 13px;
        }
    }

    &-item{
        display: none;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        width: 43px;
        height: 43px;
        border: 9px solid rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        background-color: #a4c58c;
        position: absolute;
        text-align: center;
        
        &:first-child{
            display: block;
        }
    }
}

.tabs{
    padding-right: 20px;
    width: 100%;

    &__content{
        min-width: 500px;
        height: 689px;
        background-image: url(../img/list-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
        margin-top: -165px;
    }

    &__reviews{
        padding: 20px;
        background-color: #f6f9f3;
        max-width: 415px;
        position: absolute;
        bottom: -20px;

        &-link{
            color: #7eb252;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            text-decoration: underline;
            padding: 0 8px;
            position: absolute;
            bottom: 10px;
            background-color: #f6f9f3;
            will-change: transform;
            transition: 0.3s;

            &:hover{
                color: #83df33;
                transform: scale(1.2);
            }
        }

        &-inner{
            border: 1px solid rgba(164, 197, 140, 0.6);
            padding: 35px 30px 35px 49px;
        }

        &-text{
            line-height: 24px;
        }
    }

    &__box{
        display: flex;
        flex-wrap: wrap;

        & .tab{
            font-weight: 600;
            width: 50%;
            text-transform: none;
            display: flex;
            align-items: center;
            font-size: 16px;

            &:first-child{
                border-right: 1px solid rgba(164, 197, 140, 0.2);
                order: 1;
                padding-right: 25px;
            }
            &:nth-child(2){
                border-right: 1px solid rgba(164, 197, 140, 0.2);
                order: 3;
                padding-right: 25px;
            }
            &:nth-child(3){
                order: 2;
                padding-left: 25px;
            }
            &:last-child{
                order: 4;
                padding-left: 25px;
            }

            & span{
                font-size: 12px;
                letter-spacing: 0.6px;
            }
        }
    }
}

.item{
    &-1{
        top: 192px;
        left: 150px;
    }
    &-2{
        top: 108px;
        left: 207px;
    }
    &-3{
        top: 111px;
        left: 229px;
    }
    &-4{
        top: 367px;
        left: 196px;
    }
    &-5{
        top: 35px;
        left: 229px;
    }
    &-6{
        top: 300px;
        left: 261px;
    }
    &-7{
        top: 200px;
        left: 300px;
    }
    &-8{
        top: 195px;
        left: 229px;
    }
    &-9{
        top: 145px;
        left: 246px;
    }
}

.popularity{
    padding-top: 200px;

    &__wrapper{
        min-height: 645px;
        background-image: url(../img/popularity-img.jpg);
        background-repeat: no-repeat;
    }

    &__inner{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__image{
        display: none;
    }

    &__box{
        background-color: #fff;
        padding: 20px;
        margin-right: 69px;

        &-text{
            border: 1px solid #a4c58c;
            padding: 38px 45px 38px 38px;
            line-height: 24px;
        }

        &-link{
            outline: none;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            background-color: #7eb252;
            padding: 24px 85px 24px 40px;
            position: absolute;
            will-change: transform;
            transition: 0.3s;

            &:hover{
                background-color: #509117;
            }

            &::after{
                content: '';
                background-image: url(../img/arrow-right.png);
                width: 31px;
                height: 9px;
                position: absolute;
                right: 35px;
                top: 31px;
            }
        }
    }

    &__right{
        max-width: 500px;
        padding-right: 10px;
        width: 100%;

        &-title{
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            margin-top: 57px;
        }

        &-subtitle{
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            margin-bottom: 65px;
        }

        &-list{
            
            & li{
                line-height: 22px;
                margin-bottom: 45px;
                padding-left: 40px;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 8px;
                    height: 13px;
                    background-image: url(../img/shevron.svg);
                    top: 50%;
                    will-change: transform;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.history{
    padding-top: 250px;
    margin-bottom: 5px;

    &__wrapper{
        background-image: url(../img/alonso.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        min-height: 920px;
    }

    &__title{
        margin: 0;
        padding: 85px 0 45px 0;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        max-width: 570px;
    }

    &__text{
        padding: 32px 40px 41px 0;
        background-color: #f6f9f3;
        line-height: 24px;
        max-width: 700px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #f6f9f3;
            right: 100%;
            top: 0;

        }
    }

    &__form{
        max-width: 400px;
        padding-left: 30px;
        margin-left: 200px;

        &-title{
            margin: 45px 0 30px 0;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            padding-right: 30px;
        }

        & input{
            border: none;
            outline: none;
            height: 34px;
            border-bottom: 1px solid #a4c58c;
            display: block;
            width: 100%;
            font-size: 14px;

            &::placeholder{
                color: #a8c48c;
            }
        }

        & button{
            width: 100%;
            margin-top: 30px;
            padding: 19px 110px 19px 75px;
        }
    }
}

.quote{
    min-height: 630px;
    background-image: url(../img/quote-bg-left.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;

    &__wrapper{
        min-height: 630px;
        padding: 200px 0 100px 0;
        background-image: url(../img/quote-bg-right.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right center;
    }

    &__inner{
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        padding: 50px 0;
        max-width: 770px;
        border-top: 3px solid #a4c58c;
        border-bottom: 3px solid #a4c58c;
        text-align: center;
        margin: 0 auto;
    }

    &__author{
        margin-top: 30px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;

        & span{
            color: #9a9a9a;
            font-size: 16px;
        }
    }
}

.offer{

    &__title{
        margin: 100px 0;
        max-width: 525px;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }

    &__wrapper{
        background-color: #f6f9f3;
        min-height: 380px;
    }

    &__inner{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: #fff;
        max-width: 1010px;
        margin: 0 auto;
        position: relative;
        top: -65px;
    }

    &__item{
        width: 312px;
        min-height: 312px;
        border: 1px solid rgba(164, 197, 140, 0.3);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

        &-number{
            position: absolute;
            color: #f7f9f3;
            font-size: 150px;
            font-weight: 900;
            line-height: 115px;
            text-transform: uppercase;
            letter-spacing: 7.5px;
            top: 50%;
            left: 50%;
            will-change: transform;
            transform: translate(-50%, -80%);
        }

        &-content{
            position: relative;
            text-align: center;
        }

        &-img{
            margin-bottom: 30px;
        }

        &-title{
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            padding: 0 10px 10px 10px;
        }
    }
}

.composition{
    padding: 200px 0 150px 0;

    &__row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        margin: -60px 0 50px 0;
    }

    &__box{
        order: 1;
        margin: 10px;
        max-width: 560px;
        padding: 0 10px 0 50px;

        &-list li{
            line-height: 22px;
            margin: 20px 0;
            padding-left: 30px;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                left: 5px;
                top: 8px;
                width: 7px;
                height: 7px;
                background-color: #a4c58c;
                border-radius: 50%;
            }
        }
    }

    &__link{
        border: 1px solid #a4c58c;
        padding: 30px 90px 60px 50px;
        max-width: 821px;
        position: relative;
        margin: 30px 20px 10px 30px;

        &-btn{
            outline: none;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            background-color: #7eb252;
            padding: 19px 100px 19px 68px;
            position: absolute;
            bottom: 0;
            right: 0;
            will-change: transform;
            transition: 0.3s;

            &:hover{
                background-color: #509117;
            }

            &::after{
                content: '';
                background-image: url(../img/arrow-right.png);
                width: 31px;
                height: 9px;
                position: absolute;
                right: 45px;
                top: 26px;
            }
        }

        &-text {
            
            & p{
                line-height: 22px;
                margin-bottom: 20px;
                padding-left: 25px;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 8px;
                    width: 7px;
                    height: 7px;
                    background-color: #a4c58c;
                    border-radius: 50%;
                }
            }
        }
    }

    &__item{
        background-color: #f6f9f3;
        margin: 10px;

        &-info{
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            width: 39%;
            position: absolute;
            left: 50px;
            bottom: 45px;
        }

        &-inner{
            width: 270px;
            height: 270px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            &:hover .composition__item-effect{
                opacity: 1;
            }
        }

        &-img1{
            background-image: url(../img/comp-1.png);
        }

        &-img2{
            background-image: url(../img/comp-2.png);
        }

        &-img3{
            background-image: url(../img/comp-3.png);
        }

        &-img4{
            background-image: url(../img/comp-4.png);
        }

        &-img5{
            background-image: url(../img/comp-5.png);
        }

        &-img6{
            background-image: url(../img/comp-6.png);
        }

        &-img7{
            background-image: url(../img/comp-7.png);
        }

        &-img8{
            background-image: url(../img/comp-8.png);
        }

        &-img9{
            background-image: url(../img/comp-9.png);
        }

        &-img10{
            background-image: url(../img/comp-10.png);
        }

        &-img11{
            background-image: url(../img/comp-11.png);
        }

        &-number,
        &-name{
            color: #a4c58c;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.42px;
            position: absolute;
            will-change: transform;
            transform: rotate(-90deg);
        }
        
        &-number{
            font-weight: 700;
            top: 23px;
            left: 3px;
        }
        

        &-name{
            font-weight: 400;
            bottom: 13px;
            right: 32px;
            width: 0;
            height: 0;
            white-space: nowrap;
        }

        &-effect{
            opacity: 0;
            position: absolute;
            left: 20px;
            right: 20px;
            top: 20px;
            bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../img/comp-bg.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all .3s;
        }

        &-text{
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            padding: 5px;
            text-align: center;
        }
    }
}

.reviews{

    &__title{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }

    &__tab{
        color: #c3c3c3;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        display: inline-block;
        padding: 25px 40px 25px 65px;
        cursor: pointer;
        position: relative;

        &.active{
            background-color: #f6f9f3;
            color: #7eb252;

            &:first-child::before{
                content: '';
                background-color: #f6f9f3;
                height: 100%;
                width: 100%;
                position: absolute;
                right: 100%;
                top: 0;
            }

            &:last-child::after{
                content: '';
                background-color: #f6f9f3;
                height: 100%;
                width: 172%;
                position: absolute;
                left: 100%;
                top: 0;
            }
        }
    }

    &__content{
        background-color: #f6f9f3;

        &-item{
            display: none;
            padding: 60px 0 10px 0;
            justify-content: space-between;
            flex-wrap: wrap;

            &.active-tab{
                display: flex;
            }
        }
    }

    &-text{
        color: #9a9a9a;
        line-height: 22px;
        padding: 20px 50px 50px 65px;
        position: relative;
        width: 50%;

        &::before{
            content: '';
            width: 30px;
            height: 3px;
            background-color: #a4c58c;
            position: absolute;
            left: 65px;
            top: 0;
        }

        & span{
            color: #303030;
            font-weight: 700;
            padding-top: 20px;
            display: block;
        }
    }

    &__link{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 200px;

        &-tab{
            margin-right: 50px;
            color: #7eb252;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            border-bottom: 1px solid #7eb252;
            will-change: transform;
            transition: 0.3s;

            &:hover{
                color: #83df33;
                transform: scale(1.2);
            }
        }

        &-popup{
            outline: none;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            background-color: #7eb252;
            padding: 24px 73px 24px 24px;
            position: relative;
            will-change: transform;
            transition: 0.3s;

            &:hover{
                background-color: #509117;
            }

            &::after{
                content: '';
                background-image: url(../img/arrow-right.png);
                width: 31px;
                height: 9px;
                position: absolute;
                right: 22px;
                top: 30px;
            }
        }
    }
}

.build{

    &__wrapper{
        padding: 60px 0 55px 0;
        background-image: url(../img/build-bg.jpg);
        background-position: left center;
        background-repeat: no-repeat;
        min-height: 775px;
    }

    &__content{
        display: flex;
        justify-content: flex-end;
    }

    &__inner{
        padding: 20px;
        max-width: 680px;
        background-color: #fff;

        &-box{
            border: 1px solid rgba(164, 197, 140, 0.6);
            padding: 65px 40px 70px 70px;
        }
    }

    &__title{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        margin: 0 0 40px 0;
    }

    &__text{
        line-height: 22px;

        & span{
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            display: inline-block;
            margin: 15px 0 56px 0;
        }
    }

    &__link{
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        background-color: #7eb252;
        padding: 24px 80px 24px 34px;
        position: relative;
        will-change: transform;
        transition: 0.3s;

        &:hover{
            background-color: #509117;
        }

        &::after{
            content: '';
            background-image: url(../img/arrow-right.png);
            width: 31px;
            height: 9px;
            position: absolute;
            right: 22px;
            top: 30px;
        }
    }
}

.certificate{
    padding-top: 250px;

    &__title{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        margin: 0 0 45px 0;
    }

    &__wrapper{
        background-color: #f6f9f3;
        padding: 35px 0 100px 0;
    }

    &__inner{
        display: flex;
        position: relative;
    }

    &__content{
        max-width: 670px;
        margin-right: 60px;
        padding-left: 70px;
    }

    &__text{
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding-right: 65px;
        margin-bottom: 45px;
    }

    &__image{
        margin-top: -213px;
    }

    &__link{
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        background-color: #7eb252;
        padding: 19px 104px 19px 63px;
        position: absolute;
        bottom: 0;
        right: 0;
        will-change: transform;
        transition: 0.3s;

        &:hover{
            background-color: #509117;
        }

        &::after{
            content: '';
            background-image: url(../img/arrow-right.png);
            width: 31px;
            height: 9px;
            position: absolute;
            right: 52px;
            top: 26px;
        }
    }

    &__box{
        background-color: #ffffff;
        padding: 8px 20px 20px 20px;

        & fieldset{
            border: 1px solid rgba(164, 197, 140, 0.6);
            padding: 18px 50px 106px 49px;
            position: relative;

            & legend{
                padding: 0 8px;
                color: #a4c58c;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                text-transform: uppercase;
                letter-spacing: 0.7px;
            }

            & P{
                line-height: 22px;
                margin: 14px 0 0 0;
            }
        }
    }

    & .container-fluid{
        overflow: visible;
    }
}

.alonso-portret{
    display: none;
}

@import "media";