.menu{
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: aquamarine;
    padding: 20px;
}

.link{
    text-decoration: none;
}

.list{
    width: 170px;
    position: absolute;
    left: 0;
    list-style-type: none;
    display:none;
    background-color: aqua;
    padding: 5px;
}

.menu:hover .list{
    display: block;
}

.menu:hover{
    background-color: aqua;
}

.list_position{
    padding: 5px 20px;
}