html{
    height : 100%;
}

body {
    height : 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    position: relative;
}

.header{
    background-image: url("../images/BackgroundHeader.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 180px;

    &-image{
        width: 39%;
        height: 708px;
        right: 63px;
        top: 134px;
        background-image: url("../images/HeaderImage.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
    }
}

.nav{

    &__link{
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 14px;
        text-decoration: none;
        transition: 0.3s;

        &:hover{
            color: #ee9f0d;
            text-decoration: none;
            transform: scale(1.3);
        }

        &:first-child{
            margin-left: 0;
        }

        &:last-child{
            margin-right: 0;
        }
    }

    &-block{
        display: flex;
        align-items: center;

        &__button{
            box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
            border-radius: 6px;
            background-color: #ffffff;
            color: #010101;
            font-size: 14px;
            font-weight: 700;
            line-height: 19px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            padding: 10px 21px;
            border: 0;
            margin: 0px 30px;
            cursor: pointer;
            transition: 0.3s;

            &:hover{
                background-color: #e4e2e2;
            }
        }

        &__menu-button{
            width: 16px;
            height: 12px;
            background-image: url("../images/Menu_Icon.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 0;
            padding: 0;
            background-color: transparent;
            cursor: pointer;
            transition: 0.3s;

            &:hover{
                transform: scale(1.2);
            }
        }
    }

    &-panel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;

        &__appStarter{
            color: #ffffff;
            font-size: 20px;
            font-weight: 800;
            line-height: 27px;
        }
    }
}

.bold{
    font-weight: 800;
}

.intro{
    width: 47%;
    margin-top: 140px;

    &__icon{
        width: 90px;
        height: 90px;
        background-image: url("../images/App_Icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text{
        color: #ffffff;
        font-size: 35px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0.88px;
        margin: 30px 0 20px 0;
    }

    &__button{
        box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
        border-radius: 6px;
        font-size: 17px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.85px;
        border: 0;
        padding: 15px;
        margin-top: 10px;
        cursor: pointer;

        &--download{            
            background-image: linear-gradient(-225deg, #ff8e64 0%, #ffe641 100%);
            color: #ffffff;
            margin-right: 20px;
        }
    
        &--watch{
            background-color: #ffffff;
            color: #000000;
        }
    }
}

.features{
    border: 1px solid #e7e8ea;
    background-color: #f8f9fa;
    padding: 170px 0 120px 0;

    &-title{
        color: #282b31;
        font-size: 35px;
        font-weight: 300;
        line-height: 35px;
        letter-spacing: 0.88px;
        text-align: center;
        margin: 75px 0;
    }
}

.cards-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 270px;
    text-align: center;
    padding: 60px 50px 70px 50px;
    box-shadow: 0 1px 3px rgba(32, 33, 39, 0.12);
    border-radius: 12px;
    background-color: #ffffff;
    margin: 10px 0;

    &__image{
        display: inline-block;
        box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
        padding: 20px 23px;
        border-radius: 15px;

        &--img1{
            background-image: linear-gradient(-225deg, #7956ec 0%, #2fb9f8 100%);
        }

        &--img2{
            background-image: linear-gradient(-225deg, #ff8e64 0%, #ffe641 100%);
        }

        &--img3{
            background-image: linear-gradient(-225deg, #ad2ab9 0%, #ff618c 100%);
        }
    }

    &__title{
        color: #282b31;
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
    }

    &__text{
        color: #676c75;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
    }

    &__link{
        color: #469af4;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        text-decoration: underline;
    }
}

.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 65px 0;

    &__link{
        margin: 15px 25px;
    }
}

.links{
    border: 1px solid #e7e8ea;
    background-color: #ffffff;
}

.highlights1{
    border: 1px solid #e7e8ea;
    background-color: #f8f9fa;

    &-image{
        width: 42%;
        height: 708px;
        background-image: url("../images/Tablet.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 121px 50px 121px 0;
    }
}

.tabs-block{
    width: 42%;
}

.tab{
    padding: 27px 34px 23px 74px;
    position: relative;
    transition: 0.5s;

    &:hover{
        box-shadow: 0 6px 12px rgba(32, 33, 39, 0.08);
        border-radius: 12px;
        background-color: #ffffff;
    }

    &__image{
        position: absolute;
        left: 31px;
        top: 31px;
    }

    &__title{
        color: #282b31;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
        margin: 0;
    }

    &__text{
        color: #676c75;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        margin: 0;
    }
}

.gettingStarted{
    background-image: url("../images/BackgroundGettingStarted.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.startCard{
    display: flex;
    align-items: center;
    padding: 85px 0;
}

.description{
    width: 50%;

    &__title{
        color: #ffffff;
        font-size: 35px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0.88px;
        margin: 0;
    }

    &__text{
        opacity: 0.8;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin: 0;
    }
}

.buttons{
    width: 50%;
    text-align: end;
}

.start-button{
    width: 170px;
    height: 50px;
    box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.85px;
    border: 0;
    cursor: pointer;

    &--buy{
        color: #ffffff;
        background-image: linear-gradient(-225deg, #ff8e64 0%, #ffe641 100%);
        margin-right: 20px;
    }

    &--try{
        color: #282b31;
        background-color: #ffffff;
    }
}

.highlights2{
    border: 1px solid #e7e8ea;
    background-color: #f8f9fa;
    padding: 120px 0;
}

.offer{
    display: flex;

    &.offer-reverse{
        flex-direction: row-reverse;
    }

    &-description{
        background-color: #ffffff;
        text-align: center;
        width: 50%;

        &__title{
            margin: 170px 110px 30px 110px;
            color: #282b31;
            font-size: 35px;
            font-weight: 400;
            line-height: 50px;
        }

        &__text{
            margin: 0 110px 170px 110px;
            color: #676c75;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    &-image{
        width: 50%;
        background-image: url("../images/BackgroundOffer1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.img{
    width: 95%;
    height: 83%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    &.img1{
        background-image: url("../images/TabletOffer1.png");
    }
    &.img2{
        background-image: url("../images/TabletOffer2.png");
    }
}

.videoTour{
    background-image: url("../images/2-layers.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}

.video-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__title{
        color: #ffffff;
        font-size: 35px;
        font-weight: 400;
        line-height: 50px;
        margin: 0;
    }

    &__text{
        width: 50%;
        opacity: 0.8;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }

    &__button{
        width: 130px;
        height: 130px;
        background-image: url("../images/5-layers.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        border-radius: 50%;
    }
}

.testimonials{
    background: -webkit-linear-gradient(right,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
    background: linear-gradient(right,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
    background: -moz-linear-gradient(right,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
    background: -ms-linear-gradient(right,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
    background: -o-linear-gradient(right,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
    padding: 100px 0;

    &-block{
        display: flex;
    }
}

.reviewCustomer-block{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__title{
        color: #282b31;
        font-size: 35px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0.88px;
    }
}

.stars{
    width: 88px;
    height: 15px;
    background-image: url("../images/Stars.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coments-block{
    width: 65%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;

    
}

.read-more-block{
    display: flex;
    flex-direction: column;

    &__title{
        color: #999ea8;
        font-size: 15px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.33px;
    }

    &__link{
        padding-left: 35px;
        background-image: url("../images/Arrow_Icon.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: auto;
        color: #282b31;
        font-size: 15px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.65px;
        text-decoration: none;
    }
}

.coment-card{
    width: 75%;
    box-shadow: 0 6px 12px rgba(32, 33, 39, 0.08);
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    margin: 20px 0;

    &:nth-child(even){
        align-self: flex-end;
        flex-direction: row-reverse;
        text-align: end;

        & > .autor{
            flex-direction: row-reverse;
        }
    }

    &__avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #282b31;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &.avatar1{
            background-image: url("../images/Image-avatar1.png");
        }

        &.avatar2{
            background-image: url("../images/Image-avatar2.png");
        }

        &.avatar3{
            background-image: url("../images/Image-avatar3.png");
        }
    }

    &__text{
        color: #282b31;
        font-size: 14px;
        font-style: italic;
        line-height: 25px;
        width: 80%;
        margin: 0 0 0 15px;
    }
}

.autor{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #e7e8ea;
    padding-top: 20px;

    &__name{
        color: #999ea8;
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        margin: 0;
    }

    &__twitter-icon{
        width: 16px;
        height: 13px;
    }
}

.pricingTable{
    border: 1px solid #e7e8ea;
    background-color: #f8f9fa;
    padding: 120px 0;

    &-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-description{

        width: 32%;

        &__title{
            color: #282b31;
            font-size: 35px;
            font-weight: 300;
            line-height: 50px;
            letter-spacing: 0.88px;
        }

        &__text{
            color: #676c75;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    &-cards{
        display: flex;
        align-items: center;
    }
}

.pricing-card{
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    margin: 15px 0;

    &--buy{
        background-image: url("../images/BackgroundPricingCardBuy.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
    }

    &--free{
        width: 335px;
        box-shadow: 0 1px 3px rgba(32, 33, 39, 0.12);
        background-color: #ffffff;
    }

    &__title{
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
        background-image: url("../images/LinesCard1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
        font-size: 11px;
        font-weight: 700;
        line-height: 15px;
        text-transform: uppercase;
        letter-spacing: 1.65px;
        margin-top: 50px;
        text-align: center;
        padding: 10px;
        width: 100%;

        &.pricing-card__title--free{
            color: #676c75;
            font-size: 11px;
            font-weight: 700;
            line-height: 15px;
            text-transform: uppercase;
            letter-spacing: 1.65px;
            width: 94%;
            box-shadow: 0 1px 0 #e7e8ea, inset 0 1px 0 #e7e8ea;
            background-color: #f8f9fa;
        }
    }

    &__price{
        color: #ffffff;
        font-size: 60px;
        font-weight: 300;
        line-height: 82px;

        &.pricing-card__price--free{
            color: #282b31;
            font-size: 40px;
            font-weight: 300;
            line-height: 54px;
            text-transform: uppercase;
        }
    }

    &__button{
        box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
        border-radius: 6px;
        background-image: linear-gradient(-225deg, #ff8e64 0%, #ffe641 100%);
        margin: 40px 50px 60px 50px;
        border: 0;
        width: 71%;
        padding: 18px 0;
        color: #ffffff;
        font-size: 17px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.85px;

        &.pricing-card__button--free{
            color: #ffffff;
            font-size: 17px;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: 0.85px;
            box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
            border-radius: 6px;
            background-image: linear-gradient(-225deg, #009fc5 0%, #3cecb0 100%);
        }
    }
}

.description-list{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;

    &.description-list--free{
        color: #676c75;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }
}

.success-con{
    position: absolute;
    left: -40px;
    top: 7px;
}

.list{
    position: relative;
}

.contact{
    background-image: url("../images/BackgroundContact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;

    &-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__title{
            color: #ffffff;
            font-size: 35px;
            font-weight: 300;
            line-height: 50px;
            letter-spacing: 0.88px;
            margin: 0;
        }

        &__text{
            width: 49%;
            opacity: 0.8;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            margin: 30px 0 60px 0;
        }
    }
}

.form-block{
    box-shadow: 0 12px 24px rgba(40, 43, 49, 0.16);
    border-radius: 12px;
    background-color: #ffffff;
    padding: 70px;
    width: 54%;
    
    &__input-date{
        font-size: 17px;
        font-weight: 400;
        line-height: 23px;
        border-radius: 6px;
        border: 1px solid #e7e8ea;
        background-color: #f8f9fa;
        padding: 15px;
        width: 41%;
        margin: 10px;

        &::-webkit-input-placeholder{
            color: #b9bdc3;
            font-size: 17px;
            font-weight: 400;
            line-height: 23px;
        }
        &::-moz-placeholder{
            color: #b9bdc3;
            font-size: 17px;
            font-weight: 400;
            line-height: 23px;
        }
        &:-moz-placeholder{
            color: #b9bdc3;
            font-size: 17px;
            font-weight: 400;
            line-height: 23px;
        }
        &:-ms-input-placeholder{
            color: #b9bdc3;
            font-size: 17px;
            font-weight: 400;
            line-height: 23px;
        }
    }

    &__input-message{
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        border-radius: 6px;
        border: 1px solid #e7e8ea;
        background-color: #f8f9fa;
        width: 90%;
        height: 210px;
        margin: 10px 0;
        padding: 20px;
        font-family: 'Nunito Sans', sans-serif;
        resize: none;
        
        &::-webkit-input-placeholder{
            color: #b9bdc3;
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
        }
        &::-moz-placeholder{
            color: #b9bdc3;
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
        }
        &:-moz-placeholder{
            color: #b9bdc3;
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
        }
        &:-ms-input-placeholder{
            color: #b9bdc3;
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    &__button{
        box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
        border-radius: 6px;
        background-image: linear-gradient(-225deg, #ff8e64 0%, #ffe641 100%);
        color: #ffffff;
        font-size: 17px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.85px;
        border: 0;
        padding: 15px 20px;
        margin-top: 20px;
    }
}

.footer{
    padding: 35px 0;
    border: 1px solid #e7e8ea;
    background-color: #ffffff;

    &-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo{
        color: #282b31;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
    }

    &-autor{
        opacity: 0.8;
        color: #999ea8;
        font-size: 11px;
        font-weight: 400;
        line-height: 15px;

        &__name{
            color: #282b31;
            opacity: 1;
            font-weight: 700;
        }
    }

    &-logos{
        display: flex;
    }

    &-twitter-logo{
        width: 40px;
        height: 40px;
        border-radius: 6px 0 0 6px;
        border: 1px solid #e7e8ea;
        background-color: #ffffff;

        &-icon{
            margin: 10px 0 0 13px;
            display: inline-block;
        }
    }

    &-facebook-logo{
        width: 40px;
        height: 42px;
        box-shadow: inset 0 -1px 0 #e7e8ea, inset 0 1px 0 #e7e8ea;
        background-color: #ffffff;

        &-icon{
            margin: 11px 0 0 16px;
            display: inline-block;
        }
    }

    &-instagram-logo{
        width: 40px;
        height: 40px;
        border-radius: 0 6px 6px 0;
        border: 1px solid #e7e8ea;
        background-color: #ffffff; 
        
        &-icon{
            margin: 12px 0 0 13px;
            display: inline-block;
        }
    }
}

.copyright{
    text-align: center;
    color: #999ea8;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0; 
}


@media screen and (min-width: 1920px){

    .testimonials{
        background: -webkit-linear-gradient(right, #ffffff 0%, #f8f9fa 59%, #ffffff 35%);
        background: linear-gradient(right, #ffffff 0%, #f8f9fa 59%, #ffffff 35%);
        background: -moz-linear-gradient(right, #ffffff 0%, #f8f9fa 59%, #ffffff 35%);
        background: -ms-linear-gradient(right, #ffffff 0%, #f8f9fa 59%, #ffffff 35%);
        background: -o-linear-gradient(right, #ffffff 0%, #f8f9fa 59%, #ffffff 35%);
    }
}

@media screen and (max-width: 1150px){

    .cards-block{
        justify-content: space-around;
    }
    
    .form-block__input-date{
        margin: 10px 5px;
    }  
}

@media screen and (max-width: 992px){
    .offer{
        flex-wrap: wrap;

        &-description{
            width: 100%;

            &__title{
                margin: 105px 0 30px 0;
            }

            &__text{
                margin: 0 0 105px 0;
            }
        }

        &-image{
            width: 100%;
            height: 350px;
        }
    }

    .img{
        width: 100%;
        height: 100%;
        
    }

    .pricingTable{

        &-description {
            width: 100%;
            text-align: center;
        }
    
        &-block{
            flex-wrap: wrap;
        }
        
        &-cards{
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }
    }

    .form-block__input-date{
        margin: 10px 0;
        width: 92%;
    } 
}


@media screen and (max-width: 768px){

    .header{
        padding-bottom: 80px;
    }

    .intro {
        margin-top: 70px;
    }

    .nav{

        &-panel {
            flex-direction: column;
    
            &__appStarter{
                margin-bottom: 15px;
            }
        }
    
        &-block {
            width: 100%;
            justify-content: space-between;
        }
    }

    .features{
        padding: 80px 0 60px 0;
    }

    .highlights1{
    
        &-image{
            width: 100%;
            margin-top: 30px;
        }

        &-block{
            padding: 60px 0;
        }
    }

    .tabs-block{
        width: 100%;
    }

    .buttons{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
    }

    .start-button{
        margin: 10px 0;
    }

    .coment-card{
        width: 86%;
    }

    .testimonials{
        background: -webkit-linear-gradient(bottom,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
        background: linear-gradient(bottom,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
        background: -moz-linear-gradient(bottom,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
        background: -ms-linear-gradient(bottom,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
        background: -o-linear-gradient(bottom,  #ffffff 0%,#f8f9fa 65%,#ffffff 35%);
        padding: 35px 0;

        &-block{
            flex-direction: column;
        }
    }

    .reviewCustomer-block{
        width: 100%;
        align-items: center;
        padding: 35px 0;
    }

    .sup-block{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;

    }

    .coments-block{
        width: 100%;
        padding: 0;
    }

    .coment-card {
        width: 73%;
    }

    .pricingTable{
        padding: 15px 0;
    }

    .contact{
        padding: 50px 0;

        &-block__text{
            width: 71%;
        }
    }
}

@media screen and (max-width: 576px){

    .header{
        padding-bottom: 50px;

        &-image{
            width: 100%;
            height: 434px;
            position: static;
            background-size: contain;
        }
    }

    .nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    
        &-block {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__link{
            margin: 0px 7px;
        }
    }

    .intro {
        width: 100%;        
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
        
        &__button{
            font-size: 14px;
        }
    }

    .features{
        padding: 10px 0 50px 0;
    }

    .partners{
        margin: 35px 0;

        &__link {
            margin: 10px 8px;
        }
    }

    .highlights1{
    
        &-image{
            height: 431px;
        }
    }

    .startCard{
        flex-wrap: wrap;
        padding: 45px 0;
    }

    .description{
        width: 100%;
    }

    .buttons{
        width: 100%;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .start-button{
        margin: 0 10px;
    }

    .highlights2 {
        padding: 40px 0;
    }

    .offer-description__title {
        margin: 20px 0 10px 0;
    }

    .offer-description__text {
        margin: 20px 0 10px 0;
    }

    .videoTour{
        padding: 50px 0;
    }

    .video-block__text {
        width: 100%;
    }

    .coment-card {
        width: 89%;
        padding: 15px;

        &:nth-child(even) {
            align-self: auto; 
            flex-direction: row; 
            text-align: left; 

            & > .autor{
                flex-direction: row;
            }
        }

        &__avatar{
            margin: auto;
        }
    }

    .form-block {
        padding: 20px;
        width: 92%;
    }

    .footer{
        padding: 20px 0;
        
        &-block{
            flex-direction: column;
        }

        &-autor{
            order: 3;
        }

        &-logos{
            order: 2;
            margin: 25px;
        }
    }

    .copyright{
        margin-top: 20px;
    }
}