@font-face {
    font-family: "Franklin Gothic Medium";
    src: url("fonts/framd.ttf");
}
body {
    font-family: "Franklin Gothic Medium";
    background-color: #141b23;
    background-image: url("images/Bitmap.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}
.link {
    text-decoration: none;
    color: #b1bbcb;
    margin-right: 10px;
}
.um {
    font-size: 17px;
    line-height: 20.4px;
}
.author {
    line-height: 18px;
}
.menu {
    width: 235px;
    height: 15px;
    opacity: 0.87;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
    font-size: 15px;
    font-weight: 500;
    margin-top: 6%;
    margin-left: 5.5%;
}
.caption {
    width: 159px;
    height: 18px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
    color:#ffffff;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 7%;
    margin-left: 9.6%;
}
.text {
    width: 467px;
    height: 230px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
    margin-top: 1%;
    margin-left: 9.5%;
}
.footer {
    width: 130px;
    height: 9px;
    opacity: 0.27;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    margin-top: 20%;
    margin-left: 4.5%;
}