@font-face {
  font-family: 'Gotham';
  src: url("../fonts/hinted-subset-Gotham-Bold.eot");
  src: url("../fonts/hinted-subset-Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-subset-Gotham-Bold.woff2") format("woff2"), url("../fonts/hinted-subset-Gotham-Bold.woff") format("woff"), url("../fonts/hinted-subset-Gotham-Bold.ttf") format("truetype"), url("../fonts/hinted-subset-Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/hinted-subset-Gotham-Medium.eot");
  src: url("../fonts/hinted-subset-Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-subset-Gotham-Medium.woff2") format("woff2"), url("../fonts/hinted-subset-Gotham-Medium.woff") format("woff"), url("../fonts/hinted-subset-Gotham-Medium.ttf") format("truetype"), url("../fonts/hinted-subset-Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/hinted-subset-Gotham-Book.eot");
  src: url("../fonts/hinted-subset-Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-subset-Gotham-Book.woff2") format("woff2"), url("../fonts/hinted-subset-Gotham-Book.woff") format("woff"), url("../fonts/hinted-subset-Gotham-Book.ttf") format("truetype"), url("../fonts/hinted-subset-Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 37, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
body {
  font-family: 'Gotham';
  margin: 0;
  padding: 0;
}

/* line 43, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.logo {
  width: 154px;
  height: 45px;
  background-image: url("../images/Vector_Smart_Object.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px 0;
}

/* line 52, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.logo--pos {
  display: flex;
  justify-content: center;
}

/* line 58, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.nav {
  justify-content: space-between;
}

/* line 62, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.link {
  color: #96a6a7;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 30px 10px 30px 10px;
  transition: 0.3s;
}

/* line 72, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.link:hover {
  color: #ee9f0d;
  text-decoration: none;
  transform: scale(1.3);
}

/* line 79, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.search {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
  background-color: #e2dee0;
  border: 0;
}

/* line 90, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.search:hover {
  background-color: #a8a6a6;
}

/* line 95, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.aut {
  width: 100%;
  height: 100%;
  font-family: 'Gotham';
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #e94e38;
  border: 0;
}

/* line 107, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.aut:hover {
  background-color: #a83728;
}

/* line 112, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.user--mg {
  margin-right: 15px;
}

/* line 116, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.myuser {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

/* line 123, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.block__search {
  background-image: url("../images/3-layers.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 130, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.caption {
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  font-family: 'Gotham';
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  margin: 58px 0 33px 0;
}

/* line 141, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.select2-container {
  width: 100% !important;
}

/* line 144, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.select2-container--default .my-select {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  height: 60px;
  border-radius: 30px;
  padding: 15px 0 15px 30px;
}

/* line 151, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.select2-container--default .my-select:focus {
  box-shadow: 0 0 0 3px rgba(61, 61, 61, 0.8), 0 0 0 6px #2f7cc0;
  outline: none;
}

/* line 158, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.select2-container--default .my-select .select2-selection__rendered {
  color: #ffffff;
  font-family: "Gotham Book";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* line 166, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.select2-container--default .my-select .select2-selection__arrow b {
  border: 0;
  background-image: url("../images/chevron-down-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 14px;
  height: 9px;
  left: -80%;
  top: 100%;
}

/* line 180, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.my-dropdown {
  background-color: rgba(150, 166, 167, 0.9);
}

/* line 184, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 14px 0 14px 38px;
  border-radius: 30px;
  margin: 23px 0 29px 0;
  color: #ffffff;
  font-family: "Gotham Book";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* line 197, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.input::-webkit-input-placeholder {
  color: #ffffff;
}

/* line 201, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.input::-moz-placeholder {
  color: #ffffff;
}

/* line 205, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.input:focus {
  box-shadow: 0 0 0 3px rgba(61, 61, 61, 0.8), 0 0 0 6px #2f7cc0;
  outline: none;
}

/* line 213, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.button--submit {
  box-shadow: 0 2px 0 #c1412e;
  background-color: #e94e38;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  border: 0;
  color: #ffffff;
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 4px 29px;
  margin-bottom: 40px;
}

/* line 228, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.button--submit:hover {
  background-color: #a83728;
}

/* line 232, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.button--submit--pos {
  display: flex;
  justify-content: center;
}

/* line 237, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.button--submit:focus {
  box-shadow: 0 0 0 3px rgba(61, 61, 61, 0.8), 0 0 0 6px #2f7cc0;
  outline: none;
}

/* line 245, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.flex--container {
  display: flex;
}

/* line 248, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.flex--container--filter {
  display: flex;
}

/* line 253, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.flex--wrap {
  display: flex;
  justify-content: center;
}

/* line 257, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.flex--wrap--left {
  display: flex;
  justify-content: flex-start;
}

/* line 262, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.flex--wrap--right {
  display: flex;
  justify-content: flex-end;
}

/* line 268, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.categories__item {
  background-color: #ffffff;
  border: 0;
  color: #96a6a7;
  font-family: 'Gotham';
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 6px;
}

/* line 279, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.categories__item:hover {
  color: #e94e38;
}

/* line 283, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.categories__item:focus {
  color: #e94e38;
}

/* line 288, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.marker--button {
  height: 37px;
  border: 1px solid #1baf5d;
  background-color: #1baf5d;
  border-radius: 24px;
  color: #ffffff;
  font-family: 'Gotham';
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
  padding: 0 18px;
  margin: 13px 0 12px 6px;
}

/* line 302, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.marker--button:hover {
  background-color: #178649;
}

/* line 306, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.marker--button:focus {
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #2f7cc0;
  outline: none;
}

/* line 313, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.marker--button__image {
  margin-left: 18px;
}

/* line 318, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.select2-container--default .my-select-2 {
  border: 1px solid #96a6a7;
  margin: 13px 6px 12px 0;
  height: 37px;
  width: 115px;
  border-radius: 19px;
  padding: 0 10px 0 11px;
}

/* line 326, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.select2-container--default .my-select-2:focus {
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #2f7cc0;
  outline: none;
}

/* line 333, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.select2-container--default .my-select-2 .select2-selection__rendered {
  color: #e94e38;
  font-family: 'Gotham';
  font-size: 12px;
  font-weight: 500;
  line-height: 35px;
  text-transform: uppercase;
}

/* line 342, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.select2-container--default .my-select-2 .select2-selection__arrow b {
  border: 0;
  background-image: url("../images/chevron-down-solid-2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 8px;
  left: -60%;
  top: 109%;
}

/* line 355, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.my-dropdown-2 {
  color: #e94e38;
  top: -12px;
  width: 115px !important;
}

/* line 363, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__caption {
  color: #96a6a7;
  font-family: 'Gotham';
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 6px;
}

/* line 373, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b6c0c1;
  margin: 10px 0 0 10px;
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 384, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:focus {
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #2f7cc0;
  outline: none;
}

/* line 391, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(1) {
  background-image: url("../images/hause_icon.svg");
}

/* line 394, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(1):hover, .filter__button:nth-child(1):focus {
  background-color: #1baf5d;
}

/* line 400, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(2) {
  background-image: url("../images/girl_icon.svg");
}

/* line 403, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(2):hover, .filter__button:nth-child(2):focus {
  background-color: #0704d4;
}

/* line 409, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(3) {
  background-image: url("../images/cap_icon.svg");
  background-size: 40px;
}

/* line 413, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(3):hover, .filter__button:nth-child(3):focus {
  background-color: #e40404;
}

/* line 419, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(4) {
  background-image: url("../images/8_icon.svg");
}

/* line 422, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(4):hover, .filter__button:nth-child(4):focus {
  background-color: #f19e1f;
}

/* line 428, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(5) {
  background-image: url("../images/bus_icon.svg");
}

/* line 431, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.filter__button:nth-child(5):hover, .filter__button:nth-child(5):focus {
  background-color: #88499c;
}

/* line 439, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.cards--box {
  background-color: #f3f1f2;
  border-top: 1px solid #d3d3d3;
  padding: 15px 0 35px 0;
}

/* line 446, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card {
  width: 210px;
  position: relative;
}

/* line 450, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card--wrap {
  margin: 30px 10px 0 10px;
  position: relative;
}

/* line 455, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__more {
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  display: none;
  padding: 25px 35px 0 35px;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* line 468, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__button {
  height: 34px;
  color: #ffffff;
  font-family: 'Gotham';
  font-size: 12px;
  font-weight: 500;
  line-height: 31px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 0 18px;
  margin-bottom: 16px;
}

/* line 481, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__button__img {
  color: #ffffff;
  font-size: 12px;
  line-height: 31px;
  text-transform: uppercase;
}

/* line 489, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: absolute;
  top: 111px;
  left: 77px;
  z-index: 2;
}

/* line 499, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__logo:focus {
  top: 83px;
  left: 25px;
  box-shadow: 0 0 0 4px #0088ff;
  outline: none;
}

/* line 507, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__logo:focus ~ .card {
  width: 455px;
}

/* line 511, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__logo:focus ~ .card__info {
  display: none;
}

/* line 515, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__logo:focus ~ .card__comment,
.card__logo:focus ~ .card__info__activ {
  display: flex;
}

/* line 520, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__logo:focus ~ .card__image {
  height: 112px;
}

/* line 525, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__image {
  position: relative;
  height: 140px;
  border-bottom: 3px solid;
}

/* line 530, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__image:hover .card__more {
  display: flex;
}

/* line 535, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__info {
  width: 210px;
  background-color: #ffffff;
  height: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 13px 15px 13px;
}

/* line 545, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__info__activ {
  display: none;
  justify-content: center;
  align-content: flex-end;
  height: 50px;
  width: 454px;
  position: absolute;
  top: 59px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 557, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__name {
  font-family: 'Gotham';
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0 1px 0 1px;
}

/* line 565, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__name__active {
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin: 25px 10px 0 0;
}

/* line 578, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__title {
  text-align: center;
  color: #566375;
  font-family: 'Gotham';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 15px;
}

/* line 588, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__price {
  display: none;
  width: 65px;
  height: 25px;
  border-radius: 13px;
  color: #ffffff;
  font-family: 'Gotham';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  padding: 5px 0 4px 11px;
  position: absolute;
  top: 7px;
  right: 6px;
}

/* line 605, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__comment {
  width: 455px;
  display: none;
  background-color: #ffffff;
  flex-wrap: wrap;
}

/* line 611, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__comment__box {
  width: 77%;
  padding: 20px 10px 0 0;
}

/* line 616, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__comment__mane {
  color: #566375;
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
}

/* line 626, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__comment__text {
  color: #566375;
  font-family: 'Gotham Book';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* line 636, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.card__rating__active {
  margin-top: 22px;
}

/* line 640, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.read__more__link {
  color: #566375;
  font-family: 'Gotham';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: underline;
}

/* line 649, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #e2dee0;
  background-image: url("../images/Layer_10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 20px 0 20px;
}

/* line 660, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.avatar--2 {
  background-image: url("../images/Layer_13.png");
}

/* line 665, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.button__comment {
  background-color: transparent;
  border: 0;
}

/* line 670, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mycomment {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

/* line 680, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .card__more {
  background-color: rgba(27, 175, 93, 0.7);
}

/* line 685, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality.reality--2 .card__image {
  background-image: url("../images/card__reality__image--2.png");
}

/* line 690, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .card__image {
  background-image: url("../images/card__reality__image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-color: #1baf5d;
}

/* line 698, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .card__button {
  background-color: #1baf5d;
}

/* line 701, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .card__button:focus {
  box-shadow: 0 0 0 3px rgba(27, 175, 93, 0.7), 0 0 0 6px #0088ff;
  outline: none;
}

/* line 709, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .card__price {
  background-color: #1baf5d;
  display: block;
}

/* line 714, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .card__logo {
  background-color: #1baf5d;
  background-image: url("../images/hause_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 39px;
}

/* line 721, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .card__logo:focus ~ .card__image {
  background-image: url("../images/Layer_9.png");
}

/* line 725, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .card__logo:hover {
  background-color: #0e582f;
}

/* line 730, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .card__name {
  color: #1baf5d;
}

/* line 734, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.reality .star__myrating::before {
  background-color: #1baf5d;
}

/* line 741, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.entertainment .card__more {
  background-color: rgba(241, 158, 31, 0.7);
}

/* line 745, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.entertainment .card__image {
  background-image: url("../images/card__entertainment__image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-color: #f19e1f;
}

/* line 753, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.entertainment .card__button {
  background-color: #f19e1f;
}

/* line 756, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.entertainment .card__button:focus {
  box-shadow: 0 0 0 3px rgba(241, 158, 31, 0.7), 0 0 0 6px #0088ff;
  outline: none;
}

/* line 764, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.entertainment .card__logo {
  background-color: #f19e1f;
  background-image: url("../images/8_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 33px;
}

/* line 771, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.entertainment .card__logo:focus ~ .card__image {
  background-image: url("../images/Layer_12.png");
}

/* line 775, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.entertainment .card__logo:hover {
  background-color: #915f14;
}

/* line 780, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.entertainment .card__name {
  color: #f19e1f;
}

/* line 784, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.entertainment .star__myrating::before {
  background-color: #f19e1f;
}

/* line 791, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mobility .card__more {
  background-color: rgba(136, 73, 156, 0.7);
}

/* line 795, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mobility .card__image {
  background-image: url("../images/card__reality__image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-color: #88499c;
}

/* line 803, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mobility .card__button {
  background-color: #88499c;
}

/* line 806, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mobility .card__button:focus {
  box-shadow: 0 0 0 3px rgba(136, 73, 156, 0.7), 0 0 0 6px #0088ff;
  outline: none;
}

/* line 814, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mobility .card__logo {
  background-color: #88499c;
  background-image: url("../images/bus_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 821, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mobility .card__logo:focus ~ .card__image {
  background-image: url("../images/Layer_9.png");
}

/* line 825, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mobility .card__logo:hover {
  background-color: #521d63;
}

/* line 830, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mobility .card__name {
  color: #88499c;
}

/* line 834, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.mobility .star__myrating::before {
  background-color: #88499c;
}

/* line 839, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.star {
  color: #f19e1f;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: -4px;
}

/* line 846, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.star--coment {
  font-size: 18px;
  line-height: 18px;
}

/* line 852, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.total__marks {
  color: #96a6a7;
  font-family: 'Gotham';
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
}

/* line 860, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.total__marks__active {
  color: #ffffff;
}

/* line 865, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer {
  background-color: #f3f1f2;
}

/* line 868, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__line {
  border-top: 1px solid #e2dee0;
  padding-top: 88px;
}

/* line 873, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__title {
  color: #566375;
  font-family: 'Gotham';
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
}

/* line 881, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__subtitle {
  color: #96a6a7;
  font-family: 'Gotham Book';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 70px;
}

/* line 890, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #9dacad;
  background-color: #f3f1f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
}

/* line 900, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:focus {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #2f7cc0;
  outline: none;
}

/* line 907, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(1) {
  background-image: url("../images/hause_icon_offer_button.svg");
}

/* line 910, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(1):hover, .offer__button:nth-child(1):focus {
  border-color: #1baf5d;
  background-image: url("../images/hause_icon_offer_button_active.svg");
}

/* line 917, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(3) {
  background-image: url("../images/girl_icon_offer_button.svg");
}

/* line 920, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(3):hover, .offer__button:nth-child(3):focus {
  border-color: #1baf5d;
  background-image: url("../images/girl_icon_offer_button_active.svg");
}

/* line 927, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(5) {
  background-image: url("../images/cap_icon_offer_button.svg");
}

/* line 930, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(5):hover, .offer__button:nth-child(5):focus {
  border-color: #1baf5d;
  background-image: url("../images/cap_icon_offer_button_active.svg");
}

/* line 937, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(7) {
  background-image: url("../images/8_icon_offer_button.svg");
}

/* line 940, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(7):hover, .offer__button:nth-child(7):focus {
  border-color: #1baf5d;
  background-image: url("../images/8_icon_offer_button_active.svg");
}

/* line 947, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(9) {
  background-image: url("../images/bus_icon_offer_button.svg");
}

/* line 950, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button:nth-child(9):hover, .offer__button:nth-child(9):focus {
  border-color: #1baf5d;
  background-image: url("../images/bus_icon_offer_button_active.svg");
}

/* line 957, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.offer__button__line {
  width: 70px;
  height: 2px;
  background-color: #e2dee0;
}

/* line 965, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.descrip-box {
  padding-bottom: 140px;
}

/* line 968, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.descrip-box__title {
  color: #1baf5d;
  font-family: 'Gotham';
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 38px 0 44px 0;
}

/* line 977, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.descrip-box__text {
  width: 78%;
  color: #566375;
  font-family: 'Gotham Book';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* line 986, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.descrip-box__image {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #1db05e;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 33px;
}

/* line 995, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.descrip-box__image--1 {
  background-image: url("../images/flash_icon.svg");
  background-size: 15px;
}

/* line 1000, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.descrip-box__image--2 {
  background-image: url("../images/leaf_icon.svg");
  background-size: 33px;
}

/* line 1007, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.footer {
  background-image: url("../images/footer_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 65px 0;
}

/* line 1014, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.footer__title {
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-family: 'Gotham';
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 24px;
}

/* line 1024, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.footer__caption {
  color: #ffffff;
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: underline;
  margin-bottom: 20px;
}

/* line 1034, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.footer__link {
  color: #c0bebc;
  font-family: 'Gotham Book';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: 0.3s;
}

/* line 1042, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.footer__link:hover {
  color: #ffab10;
  text-decoration: none;
}

/* line 1048, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.footer__nav {
  width: 100px;
}

/* line 1053, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.input--footer {
  background-image: url("../images/envelope_icon.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 30px;
  background-size: 20px;
  padding-left: 70px;
  padding-right: 150px;
}

/* line 1063, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.relative {
  position: relative;
}

/* line 1067, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.button--submit--footer {
  width: 120px;
  height: 48px;
  font-size: 14px;
  padding: 0px 20px;
  position: absolute;
  right: 6px;
  top: 28px;
  margin: 0;
}

/* line 1078, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.myborder {
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 1084, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.copyright {
  color: #ffffff;
  font-family: 'Gotham Book';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 65px;
}

/* line 1093, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.myicon {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 20px;
  transition: 0.3s;
}

/* line 1101, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.myicon:hover {
  color: #27ee0d;
  text-decoration: none;
  transform: scale(1.3);
}

/* line 1108, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.bg__but {
  background-color: #f3f1f2;
  text-align: center;
  padding-bottom: 20px;
}

/* line 1114, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.button__for__more {
  background-color: #f3f1f2;
  border: 0;
  color: #566375;
  font-family: 'Gotham Medium';
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  text-decoration: underline;
  margin-top: 25px;
}

/* line 1126, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.star__myrating {
  margin: 0;
  width: 16px;
  height: 16px;
}

/* line 1131, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.star__myrating::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  background-image: url("../images/star-regular.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 1143, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.star__myrating:checked::before,
.star__myrating:checked ~ .star__myrating::before, .star__myrating:hover::before,
.star__myrating:hover ~ .star__myrating::before {
  background-image: url("../images/star-solid.svg");
}

/* line 1151, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
.list__star {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

@media screen and (max-width: 1199px) {
  /* line 1160, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .container.mycontainer {
    max-width: 100%;
  }
  /* line 1164, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .link {
    margin: 15px 10px 15px 10px;
  }
  /* line 1168, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .flex--container {
    flex-direction: column;
  }
  /* line 1172, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .flex--wrap {
    justify-content: space-around;
  }
  /* line 1175, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .flex--wrap--left {
    justify-content: space-around;
  }
  /* line 1178, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .flex--wrap--right {
    justify-content: center;
  }
  /* line 1183, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .flex--container--filter {
    justify-content: space-between;
    width: 100%;
  }
  /* line 1188, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .categories__item {
    line-height: 30px;
  }
  /* line 1192, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .marker--button {
    margin: 0 0 0 6px;
  }
  /* line 1196, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .select2-container--default .my-select-2 {
    margin: 0 6px 0 0;
  }
  /* line 1199, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .select2-container--default .my-select-2 .select2-selection__arrow b {
    top: 63%;
  }
  /* line 1204, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .offer__button__line {
    display: none;
  }
  /* line 1208, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .descrip-box {
    padding-bottom: 70px;
  }
  /* line 1212, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .descrip-box__text {
    width: 67%;
  }
}

@media screen and (max-width: 767px) {
  /* line 1219, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .caption {
    margin: 20px 0 10px 0;
  }
  /* line 1223, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .select2-container--default .my-select {
    margin: 15px 0;
  }
  /* line 1226, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .select2-container--default .my-select .select2-selection__arrow b {
    top: 160%;
  }
  /* line 1231, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .select2-dropdown {
    bottom: -202px;
  }
  /* line 1235, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .nav {
    justify-content: space-around;
    padding: 10px 0;
  }
  /* line 1240, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .link {
    margin: 5px 10px 0 10px;
  }
  /* line 1244, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .filter__caption {
    line-height: 35px;
  }
  /* line 1248, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .filter__button {
    width: 30px;
    height: 30px;
    background-size: 22px;
  }
  /* line 1253, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .filter__button:nth-child(3) {
    background-size: 30px;
  }
  /* line 1258, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .flex--container--filter {
    justify-content: space-around;
  }
  /* line 1264, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .offer__subtitle {
    margin-bottom: 30px;
  }
  /* line 1268, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .offer__button {
    width: 50px;
    height: 50px;
    background-size: 34px;
  }
  /* line 1275, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .button--submit--footer {
    position: static;
  }
  /* line 1279, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .input--footer {
    padding-right: 20px;
  }
  /* line 1283, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .social--block {
    margin-top: 30px;
  }
}

@media screen and (max-width: 469px) {
  /* line 1289, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .card__info__activ {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  /* line 1295, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .card__name__active {
    margin: 0;
  }
  /* line 1299, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .card__comment {
    width: 100%;
  }
  /* line 1302, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .card__comment__box {
    width: 100%;
    padding: 20px 5px 0 5px;
  }
  /* line 1308, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .card__logo:focus ~ .card__comment {
    justify-content: center;
    flex-wrap: wrap;
  }
  /* line 1313, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .card__rating__active {
    margin-top: 0px;
  }
  /* line 1317, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .card__logo:focus {
    top: 86px;
    left: 7px;
  }
  /* line 1322, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .card__comment__rating {
    text-align: center;
  }
  /* line 1326, D:/Programing/Front End/HomeWork/HomeWork13/scss/style.scss */
  .card__comment__mane {
    text-align: center;
  }
}

/*# sourceMappingURL=../css/style.map */