@import "../../node_modules/normalize.css/normalize";

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
html{
    height : 100%;
}

body {
    height : 100%;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    background-color: #f8f8f8;
}

.header{
    background-color: #ffffff;

    &__inner{
        text-align: center;
        padding: 34px 14px 0 14px;
    }

    &__title{
        font-family: 'Cormorant Infant', serif;
        color: #262626;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.18px;
        margin: 0 0 11px 0;
    }

    &__subtitle{
        color: #595959;
        line-height: 24px;
        letter-spacing: 0.08px;
        font-style: italic;
        margin: 0 0 45px 0;
    }

    &__nav {
    
        & ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border-top: 1px solid #e6e6e6;
            padding: 22px 0 23px 0;
        }
    }

    &__link{
        color: #262626;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.08px;
        transition: 0.3s;

        &:hover{
            color: #8bad8c;
            text-decoration: none;
        }

        &.activ{
            color: #8bad8c;
        }
    }

    &__btn-menu{
        display: none;
        padding: 30px;
    }
}

.my-container{
    max-width: 1170px;
    position: relative;
}

.slide{

    &__content{
        max-width: 552px;
        background-color: rgba(255, 255, 255, 0.95);
        margin: 0 14px;
        padding: 33px 38px 43px 38px;
    }

    &__title{
        color: #404040;
        font-family: 'Cormorant Infant', serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.3px;
        margin-bottom:  20px;
        max-width: 450px;
    }

    &__text{
        color: #404040;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.09px;
        margin: 0;
    }

    &__bg{
        background-image: url(../img/slider-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 80px 0 143px 0;
    }
}

.carousel-indicators{
    right: 850px;
    bottom: 74px;
    left: -150px;
    
    &.mysettings{

        .active{
            background-color: #ffffff;
            opacity: 1;
        }

        li{
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 0.6;
        }
    }
}

.news{

    &__inner{
        display: flex;
        padding: 30px 14px;
    }
}

.about{
    width: 50%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__image{
        margin-bottom: 22px;
        width: 100%;
    }

    &__item{
        padding: 25px;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.04);
        background-color: #ffffff;
        margin-bottom: 30px;
        min-height: 695px;
    }

    &__date{
        display: inline-block;
        color: #a6a6a6;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.07px;
        text-transform: uppercase;
        margin-left: 5px;
    }

    &__title{
        color: #262626;
        font-size: 27px;
        line-height: 24px;
        letter-spacing: 0.15px;
        font-family: 'Cormorant Infant', serif;
        font-weight: 700;
        font-style: italic;
    }

    &__text{
        color: #737373;
        line-height: 26px;
        letter-spacing: 0.08px;
    }

    &__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__more{
        color: #48974c;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.07px;
        border: 1px solid #48974c;
        padding: 15px 39px;
        transition: 0.3s;

        &:hover{
            background-color: #585858;
            text-decoration: none;
            color: #ffffff;
        }
    }

    &__social{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &-link{
            color: #cccccc;
            margin: 5px 0 5px 24px;
            transition: 0.3s;
            cursor: pointer;
            transition: 0.3s;
    
            &:hover{
                color: #48974c;
            }
        }
    }

    &__all{
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.07px;
        background-color: #48974c;
        padding: 16px 50px;
        transition: 0.3s;
        margin: 10px 10px 50px 24px;

        &:hover{
            background-color: #145c18;
            text-decoration: none;
            color: #ffffff;
        }

        &-arrow{
            margin: 0 0 4px 8px;
        }
    }
}

.events{
    width: 50%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__inner{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    &__image{
        width: 100%;
    }

    &__item{
        width: 50%;
        padding: 25px 25px 24px 25px;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.04);
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        min-height: 355px;
    }

    &__title{
        color: #262626;
        font-family: 'Cormorant Infant', serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0.12px;
        font-style: italic;
        margin-top: 17px;
        margin-bottom: 3px;
        overflow: hidden;
        max-height: 26px;
    }

    &__text{
        color: #737373;
        line-height: 26px;
        letter-spacing: 0.08px;
        margin-bottom: 5px;
    }

    &__more{
        color: #48974c;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.06px;
        transition: 0.3s;

        &:hover{
            transform: scale(1.3);
            text-decoration: none;
            color: #48974c;
        }

        &-arrow{
            margin: 0 5px 5px 0;
        }
    }

    &__nav{
        margin-bottom: 40px;

        &__page{
            color: #262626;
            line-height: 22px;
            letter-spacing: 0.16px;
            padding: 17px 24px;
            background-color: #ffffff;
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.04);
            margin: 10px 5px;
            transition: 0.3s;

            &:hover{
                background-color: #bbb8b8;
                text-decoration: none;
                color: #262626;
            }

            &.activ{
                background-color: #449653;
                color: #ffffff;
            }
        }

        &__dots{
            color: #262626;
            line-height: 22px;
            letter-spacing: 0.16px;
            margin: 0 5px;
        }

        &__prev{
            margin-right: 10px;
            color: #b3b3b3;

            &:hover{
                color: #b3b3b3;
            }

            &.activ{
                color: #595959;
            }
        }

        &__next{
            margin-left: 10px;
            color: #b3b3b3;

            &:hover{
                color: #b3b3b3;
            }

            &.activ{
                color: #595959;
            }
        }
    }
}

.information{
    background-image: url(../img/information__bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 560px;

    &__inner{
        display: flex;
        padding: 434px 14px 0 14px;
    }

    &__text{
        background-color: #ffffff;
        padding: 16px 47px 16px 19px;
        color: #262626;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.09px;
    }

    &__link{
        color: #ffffff;
        padding: 16px 34px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.07px;
        background-color: #48974c;

        &:hover{
            background-color: #145c18;
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.services{

    &__inner{
        display: flex;
        padding: 70px 14px;

    }

    &__social{
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.04);
        background-color: #ffffff;
        padding: 30px 35px 35px 35px;
        margin-right: 30px;
        width: 33%;

        &-link{
            width: 100%;
        }
    }

    &__title{
        color: #262626;
        font-family: 'Cormorant Infant', serif;
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0.12px;
        margin-bottom: 18px;
    }

    &__banner{
        color: #262626;
        font-family: 'Cormorant Infant', serif;
        font-style: italic;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0.12px;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.04);
        background-color: #ffffff;
        padding: 10% 0;
        text-align: center;
        width: 66%;
    }
}

.footer{
    background-color: #404040;

    &__inner{
        padding: 47px 14px 0 14px;
    }

    &__content{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        color: #ffffff;
        font-family: 'Cormorant Infant', serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0.18px;
        width: 433px;
    }

    &__text{
        color: #ffffff;
        font-family: 'Cormorant Infant', serif;
        font-size: 16px;
        font-style: italic;
        line-height: 24px;
        letter-spacing: 0.08px;
        width: 284px;
    }

    &__nav{
        margin: 0px 20px;

        &-link{
            color: #ffffff;
            line-height: 34px;
            text-transform: uppercase;
            letter-spacing: 0.08px;
            transition: 0.3s;

            &:hover{
                color: #f7df07;
                text-decoration: none;
            }
        }
    }

    &__social{
        text-align: end;

        &-link{
            color: #cccccc;
            margin-left: 25px;
            transition: 0.3s;

            &:hover{
                color: #f7df07;
                transform: scale(1.3);
            }
        }
    }

    &__rtg{
        margin-top: 40px;
    }
}

.copyright{
    color: #999999;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
    border-top: 1px solid #808080;
    padding: 16px 0 18px 0;
    margin-top: 60px;
}

.test{
    margin-top: 25px; 
    margin-bottom: 40px;
    width: 70%;
}

@media screen and (max-width: 1170px){

    .carousel-indicators{
        right: 670px;
    }

    .about__text{
        overflow: hidden;
        max-height: 156px;
    }
}

@media screen and (max-width: 1063px){

    .events__text{
        overflow: hidden;
        max-height: 78px;
    }
}

@media screen and (max-width: 1056px){

    .about__text{
        overflow: hidden;
        max-height: 182px;
    }
}

@media screen and (max-width: 991px){
    .header{

        &__nav {

            & ul{
                justify-content: space-around;
                flex-wrap: wrap;
                border-top: 1px solid #e6e6e6;
                padding: 22px 0 23px 0;
            }
        }

        &__link{
            margin: 5px 15px;
        }
    }

    .carousel-indicators{
        right: 400px;
    }
    
    .footer{

        &__content{
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .about__text{
        max-height: 208px;
    }

    .events__text{
        max-height: 104px;
    }
}

@media screen and (max-width: 926px){
    .footer{

        &__social{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            text-align: center;

            &-link{
                margin: 0 13px;
            }
        }
    }

    .about__text{
        max-height: 235px;
    }
}

@media screen and (max-width: 840px){

    .about__text{
        max-height: 260px;
    }

    .events__text{
        max-height: 132px;
    }
}

@media screen and (max-width: 767px){
    .carousel-indicators{
        right: 0;
        left: 0;
    }

    .news__inner{
        flex-wrap: wrap;
    }

    .about{
        width: 100%;
        margin-right: 0;

        &__item{
            min-height: 0;
        }

        &__text{
            overflow: auto;
            max-height: 100%;
        }
    }

    .events{
        width: 100%;
        margin-left: 0;

        &__text{
            overflow: auto;
            max-height: 100%;
        }
    }

    .services{

        &__inner{
            flex-direction: column;
            align-items: center;
        }

        &__social{
            text-align: center;
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__banner{
            padding: 116px 0;
            width: 100%;
        }
    }
}

@media screen and (max-width: 575px){

    .header__btn-menu{
        display: block;

        & i{
            font-size: 25px;
        }
    }

    .header__nav ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: #fff;
    }

    .slide{
        &__title{
            font-size: 40px;
            line-height: 40px;
        }
    
        &__text{
            font-size: 16px;
            line-height: 24px;
        }
    }

    .information{
        min-height: 320px;

        &__inner{
            padding: 100px 14px 0 14px;
            flex-direction: column;
        }

        &__text{
            text-align: center;
            padding: 16px 0;
        }

        &__link{
            text-align: center;
        }
    }

    .footer{

        &__content{
            justify-content: center;
        }

        &__logo{
            text-align: center;
        }

        &__title{
            width: 100%;
        }

        &__text{
            width: 100%;
        }

        &__nav{
            text-align: center;
        }
    }
}

@media screen and (max-width: 429px){
    .about__links{
        flex-wrap: wrap;
        justify-content: center;
    }

    .about__more{
        margin-bottom: 15px;
    }

    .about__social-link{
        margin: 5px 12px 5px 12px;
    }

    .events__item{
        width: 100%;
    }
}

@media screen and (min-width: 575px){
    .header__nav ul{
        display: flex !important; 
    }
}