@font-face {
    font-family: 'Arial';
    src: url('../fonts/hinted-subset-ArialMT.eot');
    src: url('../fonts/hinted-subset-ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-ArialMT.woff2') format('woff2'),
        url('../fonts/hinted-subset-ArialMT.woff') format('woff'),
        url('../fonts/hinted-subset-ArialMT.ttf') format('truetype'),
        url('../fonts/hinted-subset-ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-Bold';
    src: url('hinted-subset-Arial-BoldMT.eot');
    src: url('hinted-subset-Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-Arial-BoldMT.woff2') format('woff2'),
        url('hinted-subset-Arial-BoldMT.woff') format('woff'),
        url('hinted-subset-Arial-BoldMT.ttf') format('truetype'),
        url('hinted-subset-Arial-BoldMT.svg#Arial-BoldMT') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-Bold-Italic';
    src: url('../fonts/hinted-subset-Arial-BoldItalicMT.eot');
    src: url('../fonts/hinted-subset-Arial-BoldItalicMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-Arial-BoldItalicMT.woff2') format('woff2'),
        url('../fonts/hinted-subset-Arial-BoldItalicMT.woff') format('woff'),
        url('../fonts/hinted-subset-Arial-BoldItalicMT.ttf') format('truetype'),
        url('../fonts/hinted-subset-Arial-BoldItalicMT.svg#Arial-BoldItalicMT') format('svg');
    font-weight: bold;
    font-style: italic;
}

body{
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix{
    clear: both;
}

.header{
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
}

.logo{
    font-family: 'Lato';
    font-size: 50px;
    line-height: 20px;
    float: left;
    margin: 36px 0 0 0;
}

.bis{
    color: #000000;
    font-weight: 900;
    display: inline-block;
    vertical-align: top;
}

.lite{
    color: #2aacc8;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
}

.nav{
    float: right;
}

.menu{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 30px 0 39px 15px;
    border-top: 5px solid transparent;
    padding: 10px 10px 10px 10px; 
}

.menu_image{
    margin: 0 0 2.5px 2px;
}

.sub_menu{
    width: 180px;
    margin: 0;
    padding: 5px;
    position: absolute;
    left: 0;
    list-style-type: none;
    display:none;
    box-shadow: 0 5px 0 #2aacc8;
    background-color: #ffffff;
}

.menu:hover .sub_menu{
    display: block;
}

.menu.list:hover{
    border-color: #2aacc8;
    background-color: #ffffff;
}

.menu:hover{
    border-color: #2aacc8;
}

.sub_menu_link{
    color: #000000;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
}

.sub_menu_link:hover{
    color: #2aacc8;
}

.link:hover{
    color: #2aacc8;
}

.sub_menu_item{
    padding: 0 5px;
    border-bottom: 1px solid #e7e7e7;
}

.sub_menu_item:last-child{
    border-bottom: none;
}

.link{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.main1{
    background-color: #81e4ed;
    padding: 20px 0 14px 0;
}

.banner{
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.12);
    background-image: url("../images/Layer_4.png");
}

.main1_text{
    width: 294px;
    color: #ffffff;
    font-family: 'Lato';
    font-size: 50px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin: 100px 64px 105px 61px;
}

.block{
    display: inline-block;
    vertical-align: top;
}

.slider_buttons{
    text-align: center;
}

.button{
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    background-color: #626262;
    border-radius: 50%;
    margin: 12px 5px 0 5px;
    opacity: 0.5;
}

.button:hover {
    cursor: pointer;
    background-color: #ffffff;
    opacity: 1;
}

.main2{
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
}

.block_main2{
    width: 22%;
    display: inline-block;
    vertical-align: top;
    margin: 60px 40px 50px 0;
}

.block_main2:last-child{
    margin: 60px 0 50px 0;
}

.total{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2aacc8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
    vertical-align: top;
}

.image_main1{
    background-image: url("../images/Shape_2.png");
}

.image_main2{
    background-image: url("../images/Shape_1.png");
}

.image_main3{
    background-image: url("../images/Shape_3.png");
}

.image_main4{
    background-image: url("../images/Shape_4.png");
}

.caption_main2{
    margin: 5px 0 0 20px;
}

.caption{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
}

.main2_text{
    color: #363636;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 19px 0 25px 0;
}

.main2_link{
    color: #2aacc8;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.caption_main3{
    float: left;
}

.image_caption_main3{
    size: 100%;
}

.img_main_3{
    margin: 25px 0 0 0;
}

.caption_card{
    margin: 30px 0 20px 25px;
}

.nav_main3{
    float: right;
}

.button_main3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #81e4ed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: 0;
}

.button_main3:first-child{
    background-image: url("../images/left.png");
    margin: 30px 0 0 0;
}

.button_main3:last-child{
    background-image: url("../images/right.png");
    margin: 30px 0 0 10px;
}

.cards{
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
    padding: 20px 0 40px 0;
}

.card{
    position: relative;
    margin: 0 40px 0 0;
}

.card:last-child{
    margin: 0;
}

.card:hover .card_tooltip{
    display: block;
}

.card_image{
    display: block;
}

.card_tooltip{
    height: 81px;
    background-color: #2aacc8;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
}

.card_link{
    display: inline-block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 35px;
    margin-top: 29px;
}

.card_link:first-child{
    background-image: url("../images/preview1.png");
    margin-right: 30px;
}

.card_link:last-child{
    background-image: url("../images/link.png");
}

.img_caption_main4{
    margin: 10px 15px 20px 0;
}

.caption_main4{
    margin: 12px 0 0 0;
}

.block_main4{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.text_main4{
    color: #363636;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.signature{
    font-family: 'Arial-Bold-Italic';
    font-weight: 700;
}

.logotypes{
    margin: 0 0 40px 20px;
}

.logotype{
    display: inline-block;
    vertical-align: top;
    box-shadow: inset 0 0 25px #e8ebf1;
    border: 1px solid #e8ebf1;
    background-color: #ffffff;
}

.logo_link{
    display: inline-block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 110px;
    height: 63px;
    margin: 20px 24px;
}

.logo_link1{
    background-image: url("../images/logo1.png");
}

.logo_link2{
    background-image: url("../images/logo2.png");
}

.logo_link3{
    background-image: url("../images/logo3.png");
}

.logo_link4{
    background-image: url("../images/logo4.png");
}

.logo_link5{
    background-image: url("../images/logo5.png");
}

.logo_link6{
    background-image: url("../images/logo6.png");
}

.container5{
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
}

.text_main5{
    width: 60%;
    color: #363636;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 37px 80px 35px 31px;
}

.button_download{
    background-image: url("../images/button_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 40px 0 0 0;
}

.link_main5_1{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/download.png");
    width: 29px;
    height: 26px;
    margin: 15px 23px 19px 19px;
}

.link_main5_2{
    color: #0d0707;
    font-family: 'Arial-Bold';
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 23px 20px 22px 0;
}

.footer{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
    margin: 40px 0 0 0;
}

.caption_footer{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.footer_nav{
    color: #363636;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    display: block;
}

.footer_text{
    color: #363636;
    font-size: 14px;
    font-weight: 400;
}

.footer_info:nth-child(1){
    width: 24%;
    margin: 33px 68px 30px 0;
}

.footer_info:nth-child(2){
    width: 7.1%;
    margin: 33px 78px 0 0;
}

.footer_info:nth-child(3){
    width: 10.5%;
    margin: 33px 66px 0 0;
}

.footer_info:nth-child(4){
    width: 15.5%;
    margin: 33px 20px 0 0;
}

.contact_us_text{
    margin: 15px 0 20px 0;
}

.strong{
    font-weight: 900;
}

.footer_info:nth-child(5){
    margin: 33px 0 0 0;
    width: 19.7%;
}

.last_caption{
    margin: 0 0 10px 15px;
}

.footer_link{
    display: inline-block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.footer_link:nth-child(2){
    background-image: url("../images/facebook.png");
}

.footer_link:nth-child(3){
    background-image: url("../images/dribbble.png");
}

.footer_link:nth-child(4){
    background-image: url("../images/pinterest.png");
}

.footer_link:nth-child(5){
    background-image: url("../images/linkedin.png");
}

.footer_link:nth-child(6){
    background-image: url("../images/skype.png");
}

.footer_link:nth-child(7){
    background-image: url("../images/share.png");
}

.copyright{
    color: #363636;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    float: left;
    width: 650px;
    margin: 0 0 50px 0;
}

.logo_footer{
    float: right;
    margin: 10px 0 0 0;
}