*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    font-family: 'Roboto', sans-serif;
}
.header__top{
    background-color: #303030;
}
.header__btn{
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}
.header__btn::before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}
.header__contacts::after{
    content: '';
    clear: both;
    display: block;
}
.header__phone,
.header__email{
    color: #cbcacb;
    letter-spacing: 0.35px;
    line-height: 45px;
    position: relative;
}
.header__phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header__phone::before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffcd21;
}
.header__email{
    padding-left: 24px;
}
.header__email::before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffbf19;
}
.header__content{
    padding: 34px 0px 23px 0px;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: 0.3s;
}
.menu a:hover{
    border-color: #ffc222;
}
.menu li + li{
    padding-left: 10px;
}
.modal{
    width: 300px;
    display: none;
}
.slider{
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider__item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider__title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider__text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}
.default-btn{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    letter-spacing: 0.35px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.default-btn::after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}
.slider__inner{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    cursor: pointer;
    outline: none;
    background-color: #ffc222;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;
}
.slick-btn::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #ffffff;
}
.slick-next::before{
    content: "\f105";
}
.slick-prev::before{
    content: "\f104";
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;
}
.services{
    padding: 50px 0px 30px 0px;
}
.services__top,
.news__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.services__title-box,
.form__title-box,
.news__title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.services__title-box::before,
.form__title-box::before,
.news__title-box::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 11px;
}
.services__title,
.form__title,
.news__title{
    color: #212020;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}
.services__text,
.form__text,
.news__text{
    letter-spacing: 0.14px;
}
.services__btn a,
.news__btn a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.35px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}
.services__items{
    display: flex;
    justify-content: space-between;
}
.services__item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px 0px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
}
.services__item-title{
    color: #212020;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 24px 0px;
}
.services__item-text{
    letter-spacing: 0.14px;
    padding: 0px 30px 30px;
}
.services__item-btn{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.services__item-btn .default-btn{
    color: #373636;
}
.services__item-btn .default-btn::after{
    color: #ffffff;
}
.services__item-link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    line-height: 12px;
    margin-right: 60px;
}
.about{
    background-image: url(../img/about-fon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 25px 0px 45px 0px;
}
.about__inner{
    max-width: 545px;
}
.about__title{
    padding: 10px 0px 25px 0px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
.about__text{
    margin-bottom: 30px;
    color: #d3d2d2;
    line-height: 24px;
    letter-spacing: 0.14px;
}
.about__btn.default-btn::after{
    color: #303030;
}
.form{
    padding-top: 30px;
}
.form__inner{
    padding-bottom: 40px;
    background-image: url(../img/form-fon.png);
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.form__box{
    max-width: 850px;
    padding-top: 45px;
}
.form__box-inner{
    display: flex;
    justify-content: space-between;
}
.form__box-left{
    max-width: 260px;
    width: 100%;
}
.form__box-right{
    max-width: 555px;
    width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea{
    display: block;
    width: 100%;
}
.form__box-inner label{
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}
.form__box-inner input{
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
}
.form__box-inner select{
    outline: none;
    padding-left: 17px;
}
.form__box-inner .jq-selectbox.jqselect{
    display: block;
    width: 100%;
}
.form__box-inner .jq-selectbox__select{
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 17px;
}
.form__box-inner .jq-selectbox__trigger-arrow::before{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: 17px;
    top: 0;
    transform: rotate(90deg);
}
.form__box-inner .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.form__box-inner .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.form__box-inner .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.form__box-inner .jq-selectbox li.disabled {
	color: #AAA;
}
.form__box-inner .jq-selectbox li.disabled:hover {
	background: none;
}
.form__box-inner .jq-selectbox li.optgroup {
	font-weight: bold;
}
.form__box-inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.form__box-inner .jq-selectbox li.option {
	padding-left: 25px;
}
.form__box-inner textarea{
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 208px;
    resize: none;
    margin-bottom: 40px;
}
.form__box-inner button{
    background-color: transparent;
    color: #282828;
    float: right;
}
.advantages{
    padding: 55px 0px 40px 0px;
    background-image: url(../img/adv-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 285px;
}
.advantages__inner{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.advantages-item{
    max-width: 360px;
    padding: 0px 20px;
}
.advantages__title{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 60px 0px 15px 0px;
    position: relative;
}
.advantages__title::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #ffc222;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.advantages__title::after{
    content: "\f00c";
    font-family: 'icomoon';
    font-size: 14px;
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
}
.advantages__text{
    line-height: 24px;
    letter-spacing: 0.14px;
    color: #d3d2d2;
}
.news{
    padding:  55px 0px 110px 0px;
    background-color: #f9f9f9;
}
.news__inner{
    display: flex;
    justify-content: space-between;
}
.news__slider{
    max-width: 555px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 1px rgba(128, 127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative;
}
.news__slider::before{
    content: "\f10e";
    font-family: 'icomoon';
    color: #ffffff;
    font-size: 16px;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #ffc222;
    position: absolute;
    top: 0px;
    left: 70px;
}
.news__blog{
    max-width: 260px;
    width: 100%;
}
.news__images{
    position: relative;
}
.news__date{
    position: absolute;
    background-color: #ffc222;
    height: 55px;
    width: 50px;
    color: #f9f9f9;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0px;
    left: 10px;
}
.news__blog-title{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    color: #242424;
    padding: 12px 0px;
}
.news__blog-text{
    color: #5e5e5e;
    letter-spacing: 0.14px;
}
.news__slider-title{
    color: #242424;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.news__slider-text{
    color: #5e5e5e;
    letter-spacing: 0.14px;
    margin-bottom: 30px;
}
.news__slider-author{
    color: #212020;
    letter-spacing: 0.14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.news__slider-inner .slick-btn{
    top: auto;
    bottom: -110px;
}
.news__slider-inner .slick-next{
    right: -35px;
}
.news__slider-inner .slick-prev{
    right: 20px;
    left: auto;
}
.news__slider-inner .slick-disabled{
    border-color:  #dadada;
}
.news__slider-inner .slick-disabled::before{
    color: #908e8e;
}
.footer__content{
    background-color: #595959;
    padding: 20px 0px 30px 0px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__inner .header__btn{
    float: none;
    display: inline-block;
}
.footer__map{
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}
.footer__map iframe{
    width: 100%;
}
.footer__title{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.8px;
}
.footer__text{
    font-family: 'Roboto', sans-serif;
    color: #d3d2d2;
    margin-bottom: 20px;
}
.footer__info{
    max-width: 360px;
}
.footer__list{
    padding-top: 10px;
}
.footer__list li{
    margin-top: 10px;
}
.footer__list a{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-weight: 400;
    padding-left: 33px;
    position: relative;
}
.footer__list a::before{
    content: '\f003';
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.footer__list .footer__phone::before{
    content: "\f095";
    left: 3px;
}
.footer__list .footer__adress::before{
    content: "\f041";
    left: 3px;
}
.footer__copy{
    background-color: #303030;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    letter-spacing: 0.6px;
}
.modal input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.modal input[type="submit"]{
    background-color: #ffc222;
    border: none;
}
.header__btn-menu{
    display: none;
    font-size: 28px;
}