@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/hinted-subset-ProximaNova-RegularCondensed.eot');
    src: url('../fonts/hinted-subset-ProximaNova-RegularCondensed.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-ProximaNova-RegularCondensed.woff2') format('woff2'),
        url('../fonts/hinted-subset-ProximaNova-RegularCondensed.woff') format('woff'),
        url('../fonts/hinted-subset-ProximaNova-RegularCondensed.ttf') format('truetype'),
        url('../fonts/hinted-subset-ProximaNova-RegularCondensed.svg#ProximaNova-RegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/subset-ProximaNova-Bold.eot');
    src: url('../fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Bold.woff') format('woff'),
        url('../fonts/subset-ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}



body{
    font-family: 'Proxima Nova';
    margin: 0;
    padding: 0;
}

.mycontainer{
    max-width: 1560px;
    margin: 0 auto;
}

.header{
    background-image: url("../images/bg_header.png");
}

.wrap--header{
    display: flex;
    flex-direction: column;
}

.wrap--top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
}

.logo{
    background-image: url("../images/Logo-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 189px;
    height: 33px;
    margin-left: 15px;
    transition-duration: 1s;

    &:hover{
        transform: rotate(360deg);
    }
    
}

.inf{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 34.49px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-right: 15px;
}

.wrap--caption{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.caption1{
    color: #ffffff;
    font-family: 'Proxima Nova Bold';
    font-size: 90px;
    font-weight: 700;
    line-height: 31.32px;
    text-transform: uppercase;
    letter-spacing: 4.96px;
    margin: 21% 0 0 1%;
    z-index: 1;
}

.caption2{
    color: #ffffff;
    font-family: 'Proxima Nova Bold';
    font-size: 90px;
    font-weight: 700;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    align-self: flex-end;
    margin: 2% 1% 0 0;
}

.line::after{
    content: '';
    width: 5px;
    height: 405px;
    transform: rotate(35deg);
    background-color: #5e42b0;
    position: absolute;
    bottom: -80px;
    left: 563px;
    z-index: -1;
}

.wrap--menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-right: 15px;
}

.link{
    color: #9071ea;
    font-size: 14px;
    font-weight: 300;
    line-height: 34.49px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
    margin-left: 50px;
    transition: 0.3s;

    &:hover{
        color: #ee9f0d; 
        text-decoration: none;
        transform: scale(1.2);
    }
}

.wrap--button{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    width: 311px;
    height: 77px;
    margin: 180px 25px 110px 25px;
    padding: 26px 0px 25px 125px;
    border-radius: 37px;
    box-shadow: 0 16px 24px #0a0e34;
    background-color: #5e42b0;
    text-align: left;
    outline: none;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 60px;
    background-size: auto;
    transition: 0.5s;

    &:hover{
        background-color: #02cafc;
        text-decoration: none;
        transform: scale(1.2);
    }

    &__text{
        color: #ffffff;
        font-size: 14px;
        line-height: 15px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
    }

    &--apple{
        background-image: url("../images/Icon_-_Apple.png");
        
    }

    &--google{
        background-image: url("../images/Icon_-_Google_Play.png");
        
    }
}

.text--1{
    font-weight: 300;
}

.text--2{
    font-weight: 400;
}

.main1{
    overflow: hidden;

    &__fon3{
        background-color: rgba($color: #5e42b0, $alpha: 0.06);
    
        &--2{
            background-color: rgba($color: #0a0e34, $alpha: 0.04);
        }
    }

    &__fon4{
        background-color: #5e42b0;
    
        &--2{
            background-color: #0a0e34;
        }
    }

    &--sm{
        display: none;  
    }
}

.caption{

    &__cards{
        width: 45%;
        color: #e7e7e7;
        font-family: 'Proxima Nova Bold';
        font-size: 90px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
        margin: 7% 1% 2% 0;
        position: relative;
    
        &--2{
            margin: 7% 0% 2% 10%;
        }
    }

    &__image{
        height: 999px;
        width: 696px;
        background-image: url("../images/football_guy.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: -160%;
        right: 100%;
        
        &--2{
            height: 815px;
            width: 991px;
            background-image: url("../images/basketball_guy.png");
            top: -240%;
            left: 65%;
        }
    }
}

.flex--wrap{
    display: flex;
    justify-content: flex-end;

    &--2{
        justify-content: flex-start;
        margin-left: 10%;
    }
}

.mycard{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin-right: 1%;
    padding: 4% 0;
    

    &__caption{
        color: #c1c1c1;
        font-family: 'Proxima Nova Bold';
        font-size: 36px;
        font-weight: 700;
        line-height: 34.49px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin: 0 0 30px 10px;
    }

    &__text{
        color: #000000;
        font-family: 'Proxima Nova Bold';
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;

        &--fon4{
            color: #ffffff;
        }
    }
}

.number{
    color: #000000;
    font-family: 'Proxima Nova Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.9px;

    &--2{
        color: #9173e6;
    }
}

.underscore{
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;

    &--fon4{
        background-color: #efefef;
    }
}

.main2{
    display: flex;
    flex-wrap: wrap;
}

.flex--box{
    width: 50%;

    &:nth-child(1){
        background-image: url("../images/layer_1.png");
        background-size: cover;
    }

    &:nth-child(3){
        background-image: url("../images/layer_2.png");
        background-size: cover;
        order: 1;
    }

    &:nth-child(5){
        background-image: url("../images/layer_3.png");
        background-size: cover;
        order: 2;
    }

    &:nth-child(6){
        order: 3;
    }

    &--reverse{
        display: flex;
        justify-content: flex-end;
    }
}

.half-container{
    width: 780px;
}

.step{
    position: relative;
    margin-left: 127px;
    margin-top: 257px;

    &--reverse{
        margin-left: 15px;
    }

    &__number{
        width: 168px;
        height: 155px;
        background-color: #5e42b0;
        color: #f5f6f7;
        font-family: 'Proxima Nova Bold';
        font-size: 24px;
        font-weight: 700;
        line-height: 34.49px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        padding: 50px 72px;
        position: absolute;
        left: -211px;
        top: -49px;

        &--reverse{
            left: unset;
            right: -83px;
        }
        

        &__line{
            width: 22px;
            height: 5px;
            border-radius: 2px;
            background-color: #ffffff;
            opacity: 0.3;
            margin-left: 2px;
        }
    }

    &__caption{
        opacity: 0.4;
        color: #c1c1c1;
        font-family: 'Proxima Nova Bold';
        font-size: 90px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
    }

    &__text{
        font-family: 'Proxima Nova Bold';
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 1.2px;
        padding: 45px 328px 55px 0;
    }

    &__line{
        width: 22px;
        height: 5px;
        border-radius: 2px;
        background-color: #5e42b0;
        margin-bottom: 122px;
    }
}

.wrap--footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption--block{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.footer{
    background-image: url("../images/bg_footer.png");
    background-size: cover;
    background-repeat: no-repeat;

    &__down{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    &__buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__caption{
        display: flex;
        margin-top: 11%;

        &__image{
            width: 130px;
            height: 137px;
            background-image: url("../images/footer_logo.png");
            margin-top: 37px;
        }

        &__line1{
            width: 5px;
            height: 185px;
            transform: rotate(40deg);
            background-color: #9172e6;
            position: absolute;
            top: -49px;
            left: 89px;
            z-index: -1;
        }

        &__line2{
            width: 5px;
            height: 340px;
            transform: rotate(40deg);
            background-color: #9172e6;
            position: absolute;
            top: -117px;
            right: 272px;
            z-index: -1;
        }

        &__first{
            color: #ffffff;
            font-family: 'Proxima Nova Bold';
            font-size: 90px;
            font-weight: 700;
            line-height: 60px;
            text-transform: uppercase;
            letter-spacing: 4.96px;
            margin-bottom: 18px;
            position: relative;
            z-index: 0;
        }

        &__second{
            color: #a496ca;
            font-family: 'Proxima Nova Bold';
            font-size: 36px;
            font-weight: 700;
            line-height: 34.49px;
            text-transform: uppercase;
            z-index: 0;
        }
    }
}

.contacts{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.social{
    color: #ffffff;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;

    &__link{
        color: #ffffff;
        text-decoration: none;
        transition: 0.3s;

        &:hover{
            color: #ee9f0d;
            transform: scale(1.5);
        }
    }
}

.myicon{
    font-size: 25px;
}

@media screen and (max-width: 1559px){

    .header{
        background-image: url("../images/vector-smartfon.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mycontainer{
        max-width: 100%;
        margin: 0 auto;
    }

    .caption1{
        font-size: 64px;
        letter-spacing: 3.52px;
        margin: 25% 0 0 11%;
    }

    .caption2{
        width: 64%;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 3.2px;
        margin: 3% 9% 0 0;
    }

    .line::after{  
        bottom: -18%;
        left: 40%;
    }

    .wrap{

        &--menu{
            align-self: center;
            margin-top: 184px;
        }
    }
    
    .link{
        font-size: 16px;
        letter-spacing: 0.8px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .caption{

        &__cards{
            width: 62%;

            &--2{
                margin: 7% 0% 2% 5%;
            }
        }

        &__image{
            width: 497px;
            height: 714px;
            top: 0%;
            right: 94%;

            &--2{
                width: 690px;
                height: 565px;
                top: -97%;
                left: 64%;
            }
        }
    }

    .mycard{
        width: 62%;
    }

    .flex--wrap--2{
        margin-left: 5%;
    }

    .flex--box{
        width: 100%;

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5){
            order: 0;
            height: 584px;
        }
    
        &:nth-child(6){
            order: 0;
        }
    
        &--reverse{
            display: flex;
            justify-content: flex-start;
        }
    }

    .half-container{
        width: 100%;
    }

    .step{
        margin: 87px 0 0 34px;

        &__number{
            left: 4px;
            top: -199px;
        }

        &__caption{
            margin-bottom: 36px;
        }

        &__text{
            padding: 0 34px 33px 0;
        }

        &__line{
            margin-bottom: 60px;
        }
    }

    .caption--block {
        margin-left: 0;
        align-items: center;
    }

    .logo-sm{
        display: none;
    }

    .contacts{
        display: none;
    }

    .social{
        margin-left: 0;
    }

    .footer{

        &__down{
            justify-content: center;
        }

        &__caption{
            flex-direction: column;
            align-items: center;

            &__first{
                font-size: 80px;
                letter-spacing: 4.85px;
            }
        }
    }
}

@media screen and (max-width: 767px){

    .header{
        background-image: url("../images/small-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wrap{

        &--caption{
            align-items: center;
        }

        &--top{
            justify-content: center;
        }

        &--menu{
            order: 1;
            justify-content: center;
            margin: 40px 0 20px 0;
        }
    }

    .logo{
        background-repeat: no-repeat;
        background-size: cover;
        width: 137px;
        height: 24px;
        margin: 0;
    }
    
    .inf{
        position: absolute;
        top: -22px;
    }

    .caption1{
        font-size: 32px;
        letter-spacing: 1.76px;
        margin: 145px 15% 0 0;
    }

    .caption2{
        width: 77%;
        font-size: 32px;
        letter-spacing: 1.6px;
        line-height: 45px;
        margin: 10px 3% 0 0;
    }

    .line::after{  
        height: 237px;
        bottom: -17%;
        left: 47%;
    }
    
    .link{
        text-align: center;
        width: 33%;
        font-size: 12px;
        margin: 0;
    }

    .button{
        width: 142px;
        height: 39px;
        margin: 0;
        padding: 10px 0px 0px 50px;
        margin: 118px 4px 0 4px;

        &__text{
            font-size: 8px;
            letter-spacing: 0.4px;
            line-height: 10px;
        }

        &--apple{
            background-size: 15px 17px; 
            background-position-x: 25px;
        }
    
        &--google{
            background-size: 16px 18px; 
            background-position-x: 25px;
        }
    }

    .main1{
        display: none;

        &--sm{
            display: inline;
            overflow: hidden;
        }
    }

    .caption{

        &__cards{
            width: 100%;
            font-size: 50px;
            margin: 7% 5% 295px 5%;

            &--2{
                margin: 7% 0% 2% 5%;
            }
        }

        &__image{
            width: 211px;
            height: 280px;
            background-image: url("../images/football-man-small.png");
            top: 104%;
            right: 25%;

            &--2{
                width: 302px;
                height: 248px;
                background-image: url("../images/basketball-man-small.png");
                top: 90%;
                left: 15%;
            }
        }
    }

    .mycard{
        align-content: flex-start;
        height: 280px;
        width: 100%;
        margin-left: 15px;
        padding-top: 50px;

        &__caption{
            width: 70%;
            font-size: 28px;
            letter-spacing: 1.4px;
        }

        &__text{
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.75px;
        }
    }

    .number{
        font-size: 14px;
        letter-spacing: 0.7px;
    }

    .flex--wrap--2{
        margin-left: 0%;
    }

    .wrap--hidden{
        overflow: hidden;
    }

    .flex--box{

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5){            
            height: 351px;
            background-position: center;
        } 
    }

    .step{
        margin: 35px 0 0 20px;

        &__number{
            font-size: 14px;
            letter-spacing: 0.7px;
            line-height: 21px;
            padding: 20px 29px;
            width: 70px;
            height: 70px;
            left: 4px;
            top: -88px;

            &__line{
                width: 16px;
                height: 4px;
                margin-left: 0;
            }
        }

        &__caption{
            font-size: 28px;
            line-height: 34.49px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            margin: 0;
        }

        &__text{
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.8px;
            padding: 23px 30px 23px 0;
        }

        &__line{
            width: 22px;
            height: 5px;
            background-color: #5e3db3;
            margin-bottom: 50px;
        }
    }

    .footer{

        &__caption{

            &__image{
                width: 73px;
                height: 78px;
                background-size: cover;
            }

            &__first{
                line-height: 30px;
                font-size: 34px;
                letter-spacing: 1.7px;
                margin-bottom: 0;
                margin-top: 50px;
            }

            &__second{
                color: #9b8ec1;
                font-size: 15px;
                letter-spacing: 0.75px;
            }

            &__line1{
                height: 100px;
                top: -26px;
                left: 29px;
            }

            &__line2{
                height: 150px;
                top: -50px;
                right: 105px;
            }
        }
    }

    .button--sm{
        margin: 70px 4px 150px 4px;
    }

    .carousel-indicators{
        
        &.mysettings{

            .active{
                background-color: #000000;
            }

            li{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #d8d8d8;
            }
        }
    }
    
}