@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/hinted-subset-SegoeUI-SemiBold.eot');
    src: url('../fonts/hinted-subset-SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-SegoeUI-SemiBold.woff2') format('woff2'),
        url('../fonts/hinted-subset-SegoeUI-SemiBold.woff') format('woff'),
        url('../fonts/hinted-subset-SegoeUI-SemiBold.ttf') format('truetype'),
        url('../fonts/hinted-subset-SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

html,
body {
    height : 100%;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.filter{
    margin: 80px 15px 30px 15px;
    border-radius: 5px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line{
    width: 1px;
    height: 35px;
    background-color: #e2e2e2;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox] + label{
    color: #222222;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    margin: 17px 10px;
    display: inline-block;
}

input[type=checkbox] + label:before {
    content: "\25A0";
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    color: transparent;
    display: inline-block;
    font-size: 20px;    
    line-height: 12px;
    margin: -5px 5px 0 0;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #ff8403;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    display: none;
    padding: 30px;
    text-align: center;
    margin: 0 15px 30px 15px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    position: relative;
    transition: 0.3s;
}

.product:hover{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

.product:hover .product__btn{
    display: inline-block;
}

.product__name{
    color: #222222;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0 0 0;
}

.product__price{
    color: #ff7e00;
    font-family: 'Segoe UI';
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
    margin: 15px 0 0 0;
}

.product__price sup{
    font-size: 18px;
    line-height: 14px;
}

.product__btn{
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    background-color: #ff7e00;
    border: 0;
    padding: 8px 27px;
    position: absolute;
    bottom: -17px;
    left: 85px;
    display: none;
    cursor: pointer;
    transition: 0.3s;
}

.info{
    text-align: center;
    color: #a9a9a9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 50px 0;
}

.info sup{
    color: #ff7e00;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.show{
    display: block;
}

.modal__window{
    max-width: 688px;
    top: calc(50% - 180px);
    left: calc(50% - 344px);
    display: none;
    justify-content: center;
    position: fixed;
    background-color: white;
    z-index: 1;
    justify-content: start;
}

.fon{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
}

.btn__close__modal{
    height: 14px;
    padding: 0;
    border: 0;
    background-color: #ffffff;
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__window--show{
    display: flex;
    flex-wrap: wrap;
}

.fon--show{
    display: block;
}

.modal__name-product{
    color: #222222;
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    padding: 17px 25px;
    margin: 0;
    border-bottom: 1px solid #e4e4e4;
}

.modal__image-product{
    margin: 20px 40px 35px 25px;
}

.select2-container--default .my-select{
    border: 1px solid #e4e4e4;;
    background-color: rgba(255, 255, 255, 0.1);
    height: 40px;
    width: 123px;
    border-radius: 5px;
    padding: 10px 25px 10px 10px;
}

.select2-container--default .my-select:focus{
    outline: none; 
}

.select2-container--default .my-select .select2-selection__rendered{
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.select2-container--default .my-select .select2-selection__arrow b{
    border: 0;
    background-image: url("../images/down-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 7px;
    left: -15%;
    top: 65%;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #222222;
}

.select2-dropdown{
    border-color: #e4e4e4;
}
    
.my-dropdown{
    background-color: #ffffff;
}

.options__block{
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    width: 383px;
}

.option-1, .option-2{
    width: 40%;
    margin-right: 25px;
}

.option-3{
    width: 93%;
}

.option__title{
    margin: 12px 0;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.option-price{
    color: #222222;
    font-family: 'Segoe UI';
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
    width: 40%;
    margin-right: 25px;
    margin-top: 20px;
    height: 40px;
}

.option-price sup{
    font-size: 22px;
    line-height: 14px;
}

.option-buy{
    border: 0;
    border-radius: 5px;
    background-color: #ff7e00;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 15px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.option-link{
    color: #ff7e00;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px){

    .filter{
        flex-direction: column;
        align-items: flex-start;
    }

    .line{
        width: 90%;
        height: 1px;
    }

    input[type=checkbox] + label{
        margin: 10px;
    }

    .modal__window{
        max-width: 94%;
        top: 10px;
        left: calc(50% - 258px);
        justify-content: center;
    }

    .btn__close__modal{
        right: 10px;
        top: 10px;
    }

    .modal__name-product{
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        padding: 10px 25px;
    }

    .modal__image-product{
        display: none;
    }

    .options__block{
        padding: 0 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 575px){
    .modal__image-product{
        display: block;
        margin: 5px;
    }

    .modal__window{
        left: 3%;
    }
}