@media (max-width: 1499px){
    .top{
        margin-bottom: 60px;

        &__image{

            &-medicine{
                bottom: -175px;
                left: 0px;

                &-price{

                    &.price-1{
                        right: 160px;
                        top: -10px;
                    }

                    &.price-2{
                        right: 80px;
                        top: 85px;
                    }
                }

                &-pic{
                    width: 500px;
                }
            }
        }
    }
}

@media (max-width: 1249px){
    .top{
        
        &__inner{
            justify-content: flex-end;
        }

        &__image{
            width: 300px;

            &-circle{

                &-around{
                    width: 500px;
                    height: 500px;
                }

                & img{
                    width: 400px;
                    left: 70px;
                    top: 45px;
                }
            }

            &-feet{
                left: -270px;
                top: -162px;

                & img{
                    height: 500px;
                }
            }

            &-medicine{
                bottom: -155px;
                left: -60px;

                &-pic{
                    width: 400px;
                }

                &-price.price-1{
                    right: 120px;
                    top: -20px;
                }

                &-price.price-2{
                    right: 45px;
                    top: 70px;
                }
            }
        }
    }

    .form{

        &__arrow{
            display: none;
        }
    }
}

@media (max-width: 1039px){
    .header{
        justify-content: center;
        flex-wrap: wrap;
    }

    .top{

        &__inner{
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__image{
            order: 3;
            height: max-content;
            width: max-content;
            margin-top: 60px;

            &-feet{
                display: none;
            }

            &-circle{
                display: none;
            }

            &-medicine{
                position: static;

                &-price.price-1{
                    right: 118px;
                }

                &-price.price-2{
                    right: 44px;
                    top: 63px;
                }
            }
        }
    }

    .warning{

        &__statistics{
            padding: 30px 15px;
        }
    }

    .other,
    .about{

        &__total{
            padding: 25px 15px;
        }
    }
}

@media (max-width: 991px){
    .header{

        &__logo{
            margin-bottom: 20px;
        }

        &__info{
            width: 100%;
            justify-content: space-around;
            margin: 0;

            & li{
                margin: 0;
            }
        }
    }

}

@media (max-width: 860px){
    .use{
        
        &__content{
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
}

@media (max-width: 767px){
    .top{
        background-image: none;
        background-color: #ebf3fb;
        padding-bottom: 40px;

        &__title{
            max-width: 100%;
            text-align: center;
        }

        &__inner{
            align-items: center;
        }

        &__effect{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            & li{
                margin: 30px 0 0 0;
            }

            & li:first-child::after{
                display: none;
            }
        }
    }

    .form{
        order: 4;
        box-shadow: none;
    }
}

@media (max-width: 729px){
    .header{

        &__info{
            flex-wrap: wrap;

            & li{
                margin: 10px;
            }
        }
    }
    .form{
        order: 2;
    }

    .top{

        &__title{
            font-size: 36px;
            line-height: 36px;

            &-small{
                font-size: 26px;
                line-height: 26px;
            }
        }
    }

    .warning,
    .other,
    .about,
    .use{

        &__title{
            font-size: 36px;
            line-height: 36px;
        }
    }
}

@media (max-width: 575px){
    .top{

        &__effect li{
            padding-left: 60px;
            font-size: 16px;
            line-height: 18px;
            max-width: 290px;

            &::before{
                font-size: 14px;
                line-height: 32px;
                width: 45px;
                height: 45px;
            }
        }

        &__image{

            &-medicine{

                &-pic{
                    width: 290px;
                }

                &-price.price-1{
                    right: 0;
                    top: 0;
                }

                &-price.price-2{
                    display: none;
                }
            }
        }
    }

    .form{
        margin-left: 0;
    }

    .warning{

        &__inner{
            text-align: center;
        }

        &__title{
            font-size: 26px;
            line-height: 26px;
        }

        &__subtitle{
            font-size: 18px;
            line-height: 20px;
        }

        &__statistics{
            font-size: 18px;
            line-height: 24px;

            &::before{
                width: 100px;
            }
        }

        &__info{
            flex-wrap: wrap;
            justify-content: center;
        }

        &__text::before{
            width: 100%;
        }
    }

    .other{

        &__item{
            padding: 50px 5px 20px 5px;
        }

        &__title{
            font-size: 26px;
            line-height: 26px;
        }

        &__total{
            font-size: 18px;
            line-height: 24px;

            &::before{
                width: 110px;
            }
        }
    }

    .about{
        margin-top: -50px;

        &__title{
            font-size: 26px;
            line-height: 26px;
        }

        &__subtitle{
            font-size: 18px;
            line-height: 20px;
        }

        &__total{
            font-size: 18px;
            line-height: 24px;
        }
    }

    .use{

        &__title{
            font-size: 26px;
            line-height: 26px;
            margin-bottom: 10px;
        }

        &__image{
            width: 80%;
        }

        &__rule{
            align-items: flex-start;

            &-text{
                margin: 0;
                font-size: 16px;
                line-height: 20px;
            }

            &-image{
                padding: 10px;

                &_wrapper{
                    border: 5px solid #ede4da;
                    padding: 4px;
                }

                & img{
                    width:30px; 
                }
            }
        }
    }
}