@import "libs";

*,
*::after,
*::before{
    box-sizing: border-box;
}
html,
body{
    height : 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    display: flex;
    justify-content: flex-end;

    &__logo{
        display: flex;
        align-items: center;
        z-index: 10;

        & div{
            color: #383334;
            font-size: 22px;
            font-weight: 900;
            line-height: 40px;
            margin-left: 15px;
        }
    }

    &__info{
        display: flex;
        margin-left: 50px;

        & li{
            display: flex;
            align-items: center;
            margin-left: 40px;
        }

        & p{
            margin: 0 0 0 13px;
            max-width: 169px;
            color: #666666;
            font-style: italic;
            line-height: 18px;
        }
    }
}

.top{
    background-image: url(../img/top_bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -1px;
    position: relative;
    margin-bottom: 150px;
    padding: 15px 0 25px 0;

    &::after{
        content: '';
        background-image: url(../img/top_bottom-wave.png);
        background-size: cover;
        height: 100px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: -80px;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px 0 0 0;
    }

    &__image{
        position: relative;
        width: 450px;
        height: 500px;

        &-feet{
            position: absolute;
            left: -300px;
            top: -337px;
            z-index: 5;
        }

        &-medicine{
            position: absolute;
            z-index: 10;
            bottom: -285px;
            left: -140px;

            &-price{
                color: #ffffff;
                font-size: 34px;
                font-weight: 700;
                line-height: 24px;
                border-radius: 8px;
                padding: 8px;
                position: absolute;

                &.price-1{
                    background-color: #ff6b00;
                    right: 207px;
                    top: -15px;
                }

                &.price-2{
                    background-color: #a8ca3f;
                    right: 102px;
                    top: 117px;
                }
            }
        }

        &-circle{
            position: absolute;
            left: -235px;
            top: -20px;

            &-around{
                fill: transparent;
                stroke: #fff;
                stroke-width: 6;
                stroke-dasharray: 293, 440;
                width: 700px;
                height: 700px;
                transform: rotate(90deg);
            }

            & img{
                position: absolute;
                left: 95px;
                top: 56px;
            }
        }
    }

    &__title{
        color: #383334;
        font-size: 44px;
        font-weight: 900;
        line-height: 44px;
        max-width: 305px;
        margin: 0;

        &-small{
            font-size: 34px;
            font-weight: 700;

            & .red__line,
            & .green__line{
                position: relative;
                z-index: 1;
            }

            & .green__line::after,
            & .red__line::after{
                content: '';
                width: 100%;
                height: 5px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
            }

            & .red__line::after{
                background-color: #ff6b00;
            }

            & .green__line::after{
                background-color: #a7c93d;
            }
        }
    }

    &__effect li{
        margin: 40px 0 20px 0;
        max-width: 393px;
        padding-left: 80px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        position: relative;

        & span{
            color: #000000;
            font-weight: 500;
        }

        & .red__line,
        & .green__line{
            position: relative;
            z-index: 1;
        }

        & .red__line::after,
        & .green__line::after{
            content: '';
            height: 3px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }

        & .red__line::after{
            background-color: #ff6b00;
        }

        & .green__line::after{
            background-color: #a7c93d;
        }

        &:first-child::after{
            content: '';
            background-image: url(../img/top__arrow.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 9px;
            height: 146px;
            position: absolute;
            left: 26px;
            top: 76px;
        }

        &::before{
            content: '';
            width: 60px;
            height: 60px;
            border: 7px solid #e8edc9;
            position: absolute;
            left: 0;
            top: 5px;
            background-color: #a7c93d;
            border-radius: 50%;
            color: #ffffff;
            font-size: 20px;
            font-weight: 700;
            line-height: 45px;
            text-align: center;
        }

        &:first-child::before{
            content: '2в1'
        }
        &:nth-child(2)::before{
            content: '1'
        }
        &:last-child::before{
            content: '2'
        }
    }
}

.form{
    max-width: 270px;
    box-shadow: 0 0 40px rgba(29, 91, 152, 0.1);
    border: 7px solid #a8ca3f;
    margin-left: 30px;
    border-radius: 15px;
    background-color: #fff;
    padding-top: 48px;
    position: relative;

    &__wrapper{
        padding: 0 18px;
    }

    &__title{
        color: #000000;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        margin: 0;
        padding: 0 15px;

        & span{
            color: #ff6b00;
            font-weight: 500;
            display: block;
        }
    }

    &__price{
        display: flex;
        justify-content: space-around;
        margin: 10px 0 15px 0;

        &-title{
            color: #666666;
            font-size: 14px;
            line-height: 24px;
            text-align: center;

            &-new{
                color: #000000;
                font-weight: 500;
            }
        }

        &-value{
            color: #0b0b0b;
            font-size: 34px;
            font-weight: 300;
            line-height: 24px;
            padding: 7px 10px;
            position: relative;
            
            &-new{
                color: #000000;
                font-weight: 400;
                background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);
                border-radius: 5px;
            }

            &-old::before,
            &-old::after{
                content: '';
                position: absolute;
                top: 18px;
                left: 5px;
                display: block;
                width: 91px;
                height: 2px;
                background-color: #eb8050;
            }

            &-old::before{
                transform: rotate(15deg);
            }

            &-old::after{
                transform: rotate(-15deg);
            }
        }
    }

    &__for-name,
    &__for-tel{
        margin: 5px 0;
        width: 100%;
        border-radius: 32px;
        background-color: #eef2f7;
        border: none;
        padding: 24px 20px 23px 55px;
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
        outline: none;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: left;
        background-position-x: 20px;

        &:focus{
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        }
    }

    &__for-name{
        background-image: url(../img/form_user_img.png);
    }
    &__for-tel{
        background-image: url(../img/form_tel_img.png);
    }

    &__btn{
        color: #000000;
        font-weight: 700;
        font-size: 28px;
        line-height: 22px;
        border-radius: 27px;
        border: 2px solid #ffd24e;
        background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);
        width: 100%;
        padding: 5px 30px;
        will-change: transform;
        transition: 0.3s;

        &:hover{
            transform: scale(1.16);
            background-image: linear-gradient(to right, #8ffd00 0%, #8ffd00 100%);
        }

        & span{
            font-size: 16px;
            line-height: 16px;
        }

        &-wrapper{
            margin: 5px 0;
            padding: 5px;
            border-radius: 32px;
            background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);
        }
    }

    &__info{
        margin: 15px 0 15px 0;
        text-align: center;
        color: #333333;
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
        padding: 0 5px;

        & span{
            color: #9dbd39;
            font-weight: 500;
        }
    }

    &__security{
        background-color: #eef2f7;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 0 13px 0;
        color: #666666;
        font-size: 14px;
        line-height: 16.52px;

        & img{
            margin-right: 10px;
        }
    }

    &__delivery{
        position: absolute;
        border: 7px solid #a8ca3f;
        border-top: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        top: -7px;
        left: calc(50% - 72.5px);
        background-color: #ebf3fb;
        padding: 0 10px 10px 10px;
        line-height: 18px;
    }

    &__arrow{
        position: absolute;
        right: -35px;
        bottom: 138px;
    }
}

.warning{
    padding: 30px 0 10px 0;

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__title{
        color: #383334;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        margin: 18px 0 35px 0;
        text-align: center;
    }

    &__subtitle{
        color: #2b2828;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 25px;
        text-align: center;

        & span{
            display: inline-block;
        }
    }

    &__statistics{
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        border: 3px solid #f4d3bb;
        border-radius: 15px;
        padding: 40px 80px;
        margin-top: 70px;
        position: relative;

        &::before{
            content: '';
            background-image: url(../img/statistics_image.png);
            background-repeat: no-repeat;
            background-size: 55px 37px;
            background-position: center;
            background-color: #fff;
            width: 170px;
            height: 50px;
            display: block;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        & span{
            color: #000000;
            font-weight: 500;
        }
    }

    &__content{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item{
        max-width: 340px;
        margin: 10px;
    }

    &__info{
        display: flex;
        align-items: center;
    }

    &__name{
        color: #000000;
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
    }

    &__text{
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin: 10px 0 0 0;

        &::before{
            content: '';
            width: 50px;
            height: 3px;
            background-color: #becbd8;
            display: block;
            margin-bottom: 15px;
        }
    }

    &__image{
        position: relative;

        &-circle{
            fill: transparent;
            stroke-width: 6;
            stroke-dasharray: 175, 315;
            width: 210px;
            height: 210px;
            transform: rotate(180deg);

            &.circle-1{
                stroke: #ec9a6a;
            }

            &.circle-2{
                stroke: #e47643;;
            }

            &.circle-3{
                stroke: #ec5b19;
            }
        }

        & img{
            position: absolute;
            top: 30px;
            left: 23px;
        }

        &::before{
            content: '1';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            background-color: #ec9a6a;
            text-align: center;
            color: #ffffff;
            font-size: 30px;
            font-weight: 400;
            line-height: 50px;
            right: 15px;
            top: 25px;
            z-index: 1;
        }

        &.image-2::before{
            content: '2';
            background-color: #e47643;
        }

        &.image-3::before{
            content: '3';
            background-color: #ec5b19;
        }
    }
}

.other{
    background-color: #f4fbfc;
    text-align: center;

    &::before,
    &::after{
        content: '';
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 93px;
        width: 100%;
        display: block;
    }

    &::before{
        background-image: url(../img/top_wave.png);
    }
    
    &::after{
        background-image: url(../img/bottom_wave.png);
    }

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0 60px 0;
    }

    &__title{
        color: #383334;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        margin: 20px 0 30px 0;
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item{
        max-width: 370px;
        box-shadow: 0 0 15px rgba(37, 83, 129, 0.08);
        background-color: #ffffff;
        border-top: 5px solid #a8c53a;
        border-radius: 5px;
        padding: 70px 40px 60px 40px;
        margin: 50px 10px 10px 10px;
        position: relative;

        &-image{
            position: absolute;
            top: -55px;
            left: 50%;
            border-radius: 50%;
            background-color: #f4fbfc;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, 0);
        }

        &-title{
            color: #000000;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            margin: 0 0 15px 0;
        }

        &-subtitle{
            color: #222222;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;

            & span{
                display: block;
                color: #666666;
                font-size: 16px;
                font-style: italic;
                line-height: 28px;
            }
        }

        &-more{
            color: #ff6b00;
            font-size: 24px;
            font-weight: 700;
            line-height: 26px;
            position: relative;
            margin-top: 60px;

            &::after{
                content: '';
                width: 25px;
                height: 25px;
                background-color: #ffffff;
                border-right: 1px solid #d2dce6;
                border-bottom: 1px solid #d2dce6;
                position: absolute;
                top: -38px;
                left: 49%;
                transform: rotate(45deg) translate(-50%, 0);
            }

            &::before{
                content: '';
                height: 1px;
                width: 100%;
                background-color: #d2dce6;
                display: block;
                position: absolute;
                top: -35px;
            }
        }

        &-text{
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 0px;

            & span{
                color: #000000;
                font-weight: 500;
            }
        }
    }

    &__total{
        font-size: 21px;
        line-height: 28px;
        border: 3px solid #f4d3bb;
        border-radius: 15px;
        padding: 30px 80px;
        margin-top: 60px;
        position: relative;

        & span{
            color: #000000;
            font-weight: 500;
        }

        &::before{
            content: '!';
            color: #f4d3bb;
            font-size: 70px;
            font-weight: 700;
            line-height: 28px;
            background-color:  #f4fbfc;
            width: 170px;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &::after{
            content: 'ВЫВОД:';
            color: #000000;
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

.about{
    margin-top: -35px;

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title{
        color: #000000;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        margin: 20px 0 20px 0;

        & span{
            color: #fa4f01;
        }
    }

    &__subtitle{
        font-size: 24px;
        line-height: 28px;
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    &__total{
        color: #000000;
        font-size: 27px;
        font-weight: 700;
        line-height: 27px;
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;

        & span{
            color: #f64d01;
        }

        &-wrapper{
            background: linear-gradient(to right, #f64e01, #62bc1e);
            padding: 4px;
            border-radius: 14px;
            margin-top: 15px;
        }
    }

    &__item{
        max-width: 345px;
        border: 4px solid #f64d01;
        margin: 70px 15px 15px 15px;
        border-radius: 10px;
        padding: 80px 15px 30px 15px;
        position: relative;

        &.item-3{
            border-color: #62bd1f;
        }

        &-title{
            color: #000000;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            margin: 0 0 15px;
        }

        &-text{
            font-size: 18px;
            line-height: 26px;
            margin: 0;

            & span{
                color: #000000;
                font-weight: 500;
            }
        }

        &-image{
            position: absolute;
            width: 110px;
            height: 110px;
            padding: 4px;
            background-color: #f64d01;
            border-radius: 50%;
            top: -55px;
            left: 50%;
            transform: translate(-50%, 0);

            &.item-3{
                background-color: #62bd1f;
            }

            &_content{
                width: 100%;
                height: 100%;
                background-color: #fff;
                border-radius: 50%;

                & img{
                    position: absolute;
                    z-index: 1;
                    left: 2px;
                    top: 5px;
                }

                &.item-2 img{
                    left: -24px;
                    top: -23px;
                }

                &.item-3 img{
                    left: 14px;
                    top: 12px;
                }
            }

            &::before{
                content: '';
                position: absolute;
                background-color: #fff;
                width: 110px;
                height: 51px;
                top: 0;
                left: 0;
            }
        }
    }
}

.use{
    background-color: #f4fbfc;
    margin-top: -40px;
    text-align: center;

    &::before{
        content: '';
        background-image: url(../img/top_wave.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 93px;
        width: 100%;
        display: block;
    }
    
    &__inner{
        padding: 35px 0;
    }

    &__title{
        color: #000000;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        margin: 20px 0 50px 0;

        & span{
            color: #fa4f01;
        }
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__instruction{
        margin: 10px;
        max-width: 400px;
    }

    &__rule{
        display: flex;
        align-items: center;
        margin: 15px 0;

        &-image{
            background-color: #fff;
            border-radius: 50%;
            padding: 20px;
        }

        &-image_wrapper{
            padding: 7px;
            border-radius: 50%;
            border: 8px solid #ede4da;
            background-color: #f64d01;
        }

        &-text{
            color: #000000;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            padding: 20px 10px 20px 30px;
            position: relative;
            text-align: start;

            &::before{
                content: '';
                background-color: #7bbf1c;
                height: 3px;
                width: 20px;
                position: absolute;
                top: 0;
                left: 30px;
            }
        }
    }
}

@import "media";