@charset "UTF-8";
@font-face {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/hinted-subset-Gotham-Black.eot");
  src: url("../fonts/hinted-subset-Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-subset-Gotham-Black.woff2") format("woff2"), url("../fonts/hinted-subset-Gotham-Black.woff") format("woff"), url("../fonts/hinted-subset-Gotham-Black.ttf") format("truetype"), url("../fonts/hinted-subset-Gotham-Black.svg#Gotham-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fontsh/inted-subset-BrandonGrotesque-Bold.eot");
  src: url("../fonts/hinted-subset-BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../fontsh/hinted-subset-BrandonGrotesque-Bold.woff2") format("woff2"), url("../fontsh/hinted-subset-BrandonGrotesque-Bold.woff") format("woff"), url("../fontsh/hinted-subset-BrandonGrotesque-Bold.ttf") format("truetype"), url("../fontsh/hinted-subset-BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* line 35, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

/* line 41, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* line 45, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.container--bottom {
  border-top: 1px solid #e3e7ec;
}

/* line 51, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* line 59, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.header__logo {
  float: left;
  margin: 22px 0 23px 0;
}

/* line 64, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.header__nav {
  float: right;
  margin: 30px 0 29px 0;
}

/* line 70, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.logo {
  width: 50px;
  height: 48px;
  background-image: url("../images/main_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 80, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.nav__link {
  color: #868686;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 21px;
}

/* line 89, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.nav__link:hover {
  color: #ffffff;
  background-color: #ffbb42;
}

/* line 96, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.caption {
  font-family: 'Gotham';
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.75px;
  margin: 0;
}

/* line 107, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.caption-text {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin: 5px 0 0 0;
}

/* line 115, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main1 {
  background-color: #709dca;
  padding: 110px 0 0 0;
}

/* line 119, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main1__caption {
  color: #ffffff;
  font-size: 35px;
  letter-spacing: -0.88px;
  line-height: 24px;
  margin: 0;
}

/* line 127, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main1__text {
  color: #ffffff;
  line-height: 24px;
}

/* line 133, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.input {
  display: inline-block;
  position: relative;
  margin: 33px 10px 0 0;
}

/* line 138, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.input:nth-child(1) {
  margin-left: 41px;
}

/* line 142, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.input__item {
  color: #a9a9a9;
  font-size: 13px;
  font-weight: 400;
  padding: 18px 84px 18px 41px;
  border: 0;
}

/* line 150, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.input__button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffbb42;
  padding: 17px 45px 17px 43px;
  border: 0;
}

/* line 160, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.input.news--name {
  border: 1px solid #cbcbcb;
  margin: 0 0 0 117px;
  width: 308px;
}

/* line 166, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.input.news--address {
  border: 1px solid #cbcbcb;
  margin: 0 10px;
  width: 388px;
}

/* line 173, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.slider {
  position: relative;
  top: 100px;
}

/* line 177, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.slider__image {
  height: 343px;
  box-sizing: border-box;
  background-image: url("../images/notebook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  padding: 18px 0 0 0;
}

/* line 189, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.box {
  text-align: center;
}

/* line 192, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.box__button {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid #dedfe0;
  background-color: #ffffff;
  margin: 24px 10px 0 0;
}

/* line 202, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.box__button:hover {
  border-color: #1ca8dd;
}

/* line 208, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.myclass {
  color: #6e6e6e;
  font-size: 16px;
  position: absolute;
  left: 15px;
  top: 15px;
}

/* line 216, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main2 {
  padding: 180px 0 0 0;
}

/* line 219, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main2__caption {
  color: #394b50;
  font-weight: 900;
}

/* line 224, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main2__text {
  color: #394b50;
  font-weight: 400;
}

/* line 229, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main2__box {
  margin: 0 0 150px 0;
}

/* line 234, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.card {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  position: relative;
  padding: 0 0 0 85px;
  box-sizing: border-box;
  margin: 80px 0 0 0;
}

/* line 243, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.card:nth-child(odd) {
  padding-right: 50px;
}

/* line 247, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.card:hover .card__myclass {
  color: #f6772c;
}

/* line 251, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.card__myclass {
  position: absolute;
  left: 0;
  color: #709dca;
  font-size: 50px;
  font-weight: 700;
  line-height: 22px;
}

/* line 260, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.card__caption {
  color: #394b50;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
}

/* line 270, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.card__text {
  color: #7b7b7b;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  margin: 15px 0 0 0;
}

/* line 281, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main3 {
  background-color: #ffc155;
  background-image: url("../images/Chair_BG.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50% 100%;
  padding: 164px 0 174px 0;
}

/* line 289, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main3__caption {
  text-align: left;
  color: #ffffff;
}

/* line 294, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main3__text {
  text-align: left;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0;
}

/* line 304, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.block {
  float: right;
  width: 505px;
}

/* line 309, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.button {
  font-family: 'Lato';
  border: 1px solid #e7ad48;
  background-color: #ffc155;
  padding: 15px 32px;
}

/* line 315, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.button__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 322, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.button--plan {
  padding: 14px 20px;
  margin-top: 30px;
}

/* line 328, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main4 {
  background-color: #e7edf3;
  padding: 137px 0 164px 0;
}

/* line 332, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main4__caption {
  color: #394b50;
}

/* line 336, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main4__text {
  color: #75888d;
  font-family: 'Lato';
  font-size: 18px;
  margin-bottom: 50px;
}

/* line 344, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.plan {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccd5df;
  background-color: #ffffff;
  text-align: center;
  padding: 57px 30px 48px 30px;
}

/* line 352, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.plan__name {
  color: #818b95;
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}

/* line 361, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.plan__price {
  color: #ffbb42;
  font-family: 'Lato';
  line-height: 60px;
  font-variant: small-caps;
  font-size: 60px;
  font-weight: 700;
}

/* line 370, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.plan__period {
  color: #818b95;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

/* line 380, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.plan__parameter {
  color: #b5bbc1;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  padding: 0 75px;
  border-top: 1px solid #e2e9f0;
}

/* line 392, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.premium {
  color: #ffffff;
  background-color: #709dca;
  padding: 87px 33px 78px 33px;
}

/* line 397, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.premium--name {
  color: #ffffff;
}

/* line 401, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.premium--price {
  color: #ffffff;
}

/* line 405, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.premium--period {
  color: #ffffff;
}

/* line 409, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.premium--parameter {
  color: #c2e1ff;
  border-color: #8eb8e2;
}

/* line 415, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.icon {
  font-size: 30px;
  line-height: 40px;
  vertical-align: top;
}

/* line 421, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main5 {
  text-align: center;
  padding: 155px 0 149px 0;
}

/* line 425, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main5__caption {
  color: #394b50;
}

/* line 429, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main5__text {
  color: #394b50;
  font-size: 18px;
}

/* line 434, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main5--button {
  margin: 90px 0 0 0;
}

/* line 439, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.step {
  width: 213px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  margin: 0 39px;
}

/* line 447, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.step__myclass {
  color: #709dca;
  font-size: 72px;
  font-weight: 700;
  line-height: 22px;
  margin: 140px 0 0 0;
}

/* line 455, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.step__arrows {
  color: #709dca;
  font-size: 72px;
  font-weight: 700;
  line-height: 22px;
  position: absolute;
  top: 100px;
  right: -80px;
}

/* line 464, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.step__arrows--even {
  top: 200px;
}

/* line 469, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.step__caption {
  color: #394b50;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin: 102px 0 28px 0;
}

/* line 479, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.step__text {
  color: #7b7b7b;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

/* line 487, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main6 {
  background-color: #ffc155;
  padding: 140px 0 160px 0;
}

/* line 491, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main6__caption {
  color: #ffffff;
  font-weight: 900;
}

/* line 496, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main6__text {
  color: #ffffff;
  font-weight: 400;
}

/* line 502, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.block-reviews {
  margin: 58px 0 0 0;
}

/* line 506, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.review {
  width: 567px;
  height: 241px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 50px 40px 50px 182px;
  margin: 0 0 20px 0;
  transition: 0.3s;
}

/* line 518, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.review:hover {
  transform: scale(1.1);
}

/* line 522, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.review:nth-child(odd) {
  margin-right: 18px;
}

/* line 526, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.review:nth-child(even) {
  margin-left: 18px;
}

/* line 530, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.review__image {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 541, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.review__text {
  color: #7b7b7b;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

/* line 547, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.review__text::before {
  content: '“';
  color: #7b7b7b;
  font-family: 'Brandon Grotesque';
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  position: absolute;
  left: 160px;
}

/* line 558, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.review__text::after {
  content: '„';
  color: #7b7b7b;
  font-family: 'Brandon Grotesque';
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
  position: relative;
  left: 20px;
}

/* line 570, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.review__autor {
  color: #99a9ae;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin: 30px 0 0 0;
}

/* line 581, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.autor--name {
  color: #f6772c;
}

/* line 585, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.autor1 {
  background-image: url("../images/Persone_1.png");
}

/* line 589, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.autor2 {
  background-image: url("../images/Person_2.png");
}

/* line 593, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.autor3 {
  background-image: url("../images/Persone_3.png");
}

/* line 597, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.autor4 {
  background-image: url("../images/Persone_4.png");
}

/* line 601, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main7 {
  padding: 154px 0 57px 0;
}

/* line 604, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main7__caption {
  color: #394b50;
}

/* line 608, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.main7__text {
  color: #394b50;
}

/* line 613, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.news--name {
  border: 1px solid #cbcbcb;
  margin: 0 0 0 117px;
}

/* line 618, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.news--address {
  border: 1px solid #cbcbcb;
}

/* line 622, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.input__news {
  color: #a9a9a9;
  font-size: 13px;
  font-weight: 400;
  padding: 18px 111px 18px 41px;
  border: 0;
}

/* line 629, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.input__news__address {
  color: #a9a9a9;
  font-size: 13px;
  font-weight: 400;
  padding: 18px 191px 18px 41px;
  border: 0;
}

/* line 638, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.map {
  text-align: center;
  width: 1102px;
  height: 549px;
  background-image: url("../images/Map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 53px 34px 57px 34px;
}

/* line 648, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.circle {
  height: 310px;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 37px 0 0 0;
}

/* line 656, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.circle::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #394b50;
  position: absolute;
  bottom: 9px;
  left: 131px;
}

/* line 669, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.office {
  width: 279px;
  height: 285px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  background-color: #394b50;
  padding: 50px 70px 89px 70px;
}

/* line 678, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.office__caption {
  color: #ffffff;
  font-family: 'Lato';
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 686, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.office__text {
  color: #aeb7ba;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

/* line 693, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.office__link {
  color: #ffbb42;
  font-family: 'Open Sans';
  line-height: 24px;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

/* line 703, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.bottom__logo {
  margin: 23px 0 0 116px;
}

/* line 707, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.bottom__nav {
  color: #394b50;
  font-size: 13px;
  margin: 68px 0 29px 0;
  text-align: center;
}

/* line 714, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.number {
  text-align: center;
  color: #394b50;
  font-family: 'Lato';
  font-size: 23px;
  font-weight: 400;
  line-height: 24.15px;
}

/* line 723, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.brands {
  text-align: center;
  margin: 23px 0 50px 0;
}

/* line 727, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.brands__ikon {
  color: #709dca;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.99px;
  margin: 0 15px 0 0;
}

/* line 734, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.brands__ikon:hover {
  color: #ffc155;
}

/* line 740, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.footer {
  background-color: #709dca;
  text-align: center;
  padding: 15px 0;
}

/* line 746, D:/Programing/Front End/HomeWork/HomeWork9/scss/style.scss */
.copyright {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

/*# sourceMappingURL=../css/style.map */