body {
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1024px;
    padding: 0 50px;
    margin: 0 auto;
}

.caption {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 48px;
    line-height: 59px;
    font-weight: 400;
}

.header {
    background-image: url("../images/Gradient_Map_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0 130px 0;
}

.caption2 {
    margin: 30px 0 0 0;
    color: #333333;
    font-size: 30px;
    line-height: 59px;
    font-weight: 400;
}

.text {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.date{
    margin-top: 35px;
}

.strong{
    font-weight: 700;
}

.text--1{
    margin: 30px 0 0 0;
}

.caption3 {
    color: #325d72;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 70px;
    border-bottom: 1px solid #dddddd;
    padding: 0 0 10px 0;
}

.link {
    color: #4183c4;
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
}

.footer {
    margin: 69px 0 0 0;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
}

.copyright{
    float: left;
    font-size: 14px;
}

.nav {
    float: right;
}

.nav .link{
    font-size: 14px;
    margin-left: 20px;
}