@font-face {
    font-family: 'Gotham';
    src: url('../fonts/hinted-subset-Gotham-Bold.eot');
    src: url('../fonts/hinted-subset-Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-Gotham-Bold.woff2') format('woff2'),
        url('../fonts/hinted-subset-Gotham-Bold.woff') format('woff'),
        url('../fonts/hinted-subset-Gotham-Bold.ttf') format('truetype'),
        url('../fonts/hinted-subset-Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/hinted-subset-Gotham-Medium.eot');
    src: url('../fonts/hinted-subset-Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-Gotham-Medium.woff2') format('woff2'),
        url('../fonts/hinted-subset-Gotham-Medium.woff') format('woff'),
        url('../fonts/hinted-subset-Gotham-Medium.ttf') format('truetype'),
        url('../fonts/hinted-subset-Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/hinted-subset-Gotham-Book.eot');
    src: url('../fonts/hinted-subset-Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-Gotham-Book.woff2') format('woff2'),
        url('../fonts/hinted-subset-Gotham-Book.woff') format('woff'),
        url('../fonts/hinted-subset-Gotham-Book.ttf') format('truetype'),
        url('../fonts/hinted-subset-Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Gotham';
    margin: 0;
    padding: 0;
}

.logo{
    width: 154px;
    height: 45px;
    background-image: url("../images/Vector_Smart_Object.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px 0;

    &--pos{
        display: flex;
        justify-content: center;
    }
}

.nav{
    justify-content: space-between;
}

.link{
    color: #96a6a7;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 30px 10px 30px 10px;
    transition: 0.3s;

    &:hover{
        color: #ee9f0d;
        text-decoration: none;
        transform: scale(1.3);
    }
}

.search{
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    background-color: #e2dee0;
    border: 0;

    &:hover{
        background-color: #a8a6a6;
    }
}

.aut{
    width: 100%;
    height: 100%;
    font-family: 'Gotham';
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #e94e38;
    border: 0;

    &:hover{
        background-color: #a83728;
    }
}

.user--mg{
    margin-right: 15px;
}

.myuser{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.block__search{
    background-image: url("../images/3-layers.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption{
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    font-family: 'Gotham';
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    margin: 58px 0 33px 0;
}

.select2-container{
    width: 100% !important;

    &--default .my-select{
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
        height: 60px;
        border-radius: 30px;
        padding: 15px 0 15px 30px;

        &:focus{
            box-shadow: 
                0 0 0 3px rgba(61, 61, 61, 0.8),
                0 0 0 6px #2f7cc0;
                outline: none; 
        }

        & .select2-selection__rendered{
            color: #ffffff;
            font-family: "Gotham Book";
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }

        & .select2-selection__arrow b{
            border: 0;
            background-image: url("../images/chevron-down-solid.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 14px;
            height: 9px;
            left: -80%;
            top: 100%;
        }
    }
}

.my-dropdown{
    background-color: rgba(150, 166, 167, 0.9);
}

.input{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 14px 0 14px 38px;
    border-radius: 30px;
    margin: 23px 0 29px 0;
    color: #ffffff;
    font-family: "Gotham Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

    &::-webkit-input-placeholder{
        color: #ffffff;
    }

    &::-moz-placeholder{
        color: #ffffff;
    }

    &:focus{
        box-shadow: 
            0 0 0 3px rgba(61, 61, 61, 0.8),
            0 0 0 6px #2f7cc0;
            outline: none; 
    }
}

.button--submit{
    box-shadow: 0 2px 0 #c1412e;
    background-color: #e94e38;
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    border: 0;
    color: #ffffff;
    font-family: 'Gotham';
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 4px 29px;
    margin-bottom: 40px;

    &:hover{
        background-color: #a83728;
    }

    &--pos{
        display: flex;
        justify-content: center;
    }

    &:focus{
        box-shadow: 
            0 0 0 3px rgba(61, 61, 61, 0.8),
            0 0 0 6px #2f7cc0;
            outline: none; 
    }
}

.flex--container{
    display: flex;

    &--filter{
        display: flex;
    }
}

.flex--wrap{
    display: flex;
    justify-content: center;

    &--left{
        display: flex;
        justify-content: flex-start;
    }

    &--right{
        display: flex;
        justify-content: flex-end;
    }
}

.categories__item{
    background-color: #ffffff;
    border: 0;
    color: #96a6a7;
    font-family: 'Gotham';
    font-size: 12px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 6px;

    &:hover{
        color: #e94e38;
    }

    &:focus{
        color: #e94e38;
    }
}

.marker--button{
    height: 37px;
    border: 1px solid #1baf5d;
    background-color: #1baf5d;
    border-radius: 24px;
    color: #ffffff;
    font-family: 'Gotham';
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    padding: 0 18px;
    margin: 13px 0 12px 6px;

    &:hover{
        background-color: #178649;
    }

    &:focus{
        box-shadow: 
            0 0 0 3px #ffffff,
            0 0 0 6px #2f7cc0;
            outline: none; 
    }

    &__image{
        margin-left: 18px;
    }
}

.select2-container--default .my-select-2{
    border: 1px solid #96a6a7;
    margin: 13px 6px 12px 0;
    height: 37px;
    width: 115px;
    border-radius: 19px;
    padding: 0 10px 0 11px;

    &:focus{
        box-shadow: 
            0 0 0 3px #ffffff,
            0 0 0 6px #2f7cc0;
            outline: none; 
    }

    & .select2-selection__rendered{
        color: #e94e38;
        font-family: 'Gotham';
        font-size: 12px;
        font-weight: 500;
        line-height: 35px;
        text-transform: uppercase;
    }

    & .select2-selection__arrow b{
        border: 0;
        background-image: url("../images/chevron-down-solid-2.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 12px;
        height: 8px;
        left: -60%;
        top: 109%;
    }
}

.my-dropdown-2{
    color: #e94e38;
    top: -12px;
    width: 115px !important;
}

.filter{

    &__caption{
        color: #96a6a7;
        font-family: 'Gotham';
        font-size: 12px;
        font-weight: 500;
        line-height: 48px;
        text-transform: uppercase;
        margin-top: 6px;
    }

    &__button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #b6c0c1;
        margin: 10px 0 0 10px;
        border: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;

        &:focus{
            box-shadow: 
                0 0 0 3px #ffffff,
                0 0 0 6px #2f7cc0;
                outline: none; 
        }

        &:nth-child(1){
            background-image: url("../images/hause_icon.svg");

            &:hover,
            &:focus{
                background-color: #1baf5d;
            }
        }

        &:nth-child(2){
            background-image: url("../images/girl_icon.svg");

            &:hover,
            &:focus{
                background-color: #0704d4;
            }
        }

        &:nth-child(3){
            background-image: url("../images/cap_icon.svg");
            background-size: 40px; 

            &:hover,
            &:focus{
                background-color: #e40404;
            }
        }

        &:nth-child(4){
            background-image: url("../images/8_icon.svg");

            &:hover,
            &:focus{
                background-color: #f19e1f;
            }
        }

        &:nth-child(5){
            background-image: url("../images/bus_icon.svg");

            &:hover,
            &:focus{
                background-color: #88499c;
            }
        } 
    }
}

.cards--box{
    background-color: #f3f1f2;
    border-top: 1px solid #d3d3d3;
    padding: 15px 0 35px 0;

}

.card{
    width: 210px;
    position: relative;

    &--wrap{
        margin: 30px 10px 0 10px;
        position: relative; 
    }
    
    &__more{
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        display: none;
        padding: 25px 35px 0 35px;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    &__button{
        height: 34px;
        color: #ffffff;
        font-family: 'Gotham';
        font-size: 12px;
        font-weight: 500;
        line-height: 31px;
        text-transform: uppercase;
        border: 2px solid #ffffff;
        border-radius: 20px;
        padding: 0 18px;
        margin-bottom: 16px;
        
        &__img{
            color: #ffffff;
            font-size: 12px;
            line-height: 31px;
            text-transform: uppercase;
        }
    }

    &__logo{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        position: absolute;
        top: 111px;
        left: 77px;
        z-index: 2;

        &:focus{
            top: 83px;
            left: 25px;
            box-shadow: 
                0 0 0 4px #0088ff;
                outline: none; 
        }

        &:focus ~ .card{
            width: 455px;
        }

        &:focus ~ .card__info{
            display: none;
        }

        &:focus ~ .card__comment,
        &:focus ~ .card__info__activ{
            display: flex;
        }

        &:focus ~ .card__image{
            height: 112px;
        }
    }

    &__image{
        position: relative;
        height: 140px;
        border-bottom: 3px solid;

        &:hover .card__more{
            display: flex;
        }
    }

    &__info{
        width: 210px;
        background-color: #ffffff;
        height: 135px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px 13px 15px 13px;

        &__activ{
            display: none;
            justify-content: center;
            align-content: flex-end;
            height: 50px;
            width: 454px;
            position: absolute;
            top: 59px;
            background-color:  rgba(0, 0, 0, 0.7);
        }
    }

    &__name{
        font-family: 'Gotham';
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        text-transform: uppercase;
        margin: 0 1px 0 1px;

        &__active{
            text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
            color: #ffffff;
            font-family: 'Gotham';
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            text-transform: uppercase;
            margin: 25px 10px 0 0;
        }
        
    }

    &__title{
        text-align: center;
        color: #566375;
        font-family: 'Gotham';
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 15px;
    }

    &__price{
        display: none;
        width: 65px;
        height: 25px;
        border-radius: 13px;
        color: #ffffff;
        font-family: 'Gotham';
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-transform: uppercase;
        padding: 5px 0 4px 11px;
        position: absolute;
        top: 7px;
        right: 6px;
    }

    &__comment{
        width: 455px;
        display: none;
        background-color: #ffffff;
        flex-wrap: wrap;

        &__box{
            width: 77%;
            padding: 20px 10px 0 0;
        }

        &__mane{
            color: #566375;
            font-family: 'Gotham';
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            text-transform: uppercase;
            margin: 15px 0 10px 0;
        }

        &__text{
            color: #566375;
            font-family: 'Gotham Book';
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.card__rating__active{
    margin-top: 22px;
}

.read__more__link{
    color: #566375;
    font-family: 'Gotham';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
}

.avatar{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid #e2dee0;
    background-image: url("../images/Layer_10.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 20px 0 20px;

    &--2{
        background-image: url("../images/Layer_13.png");
    }
}

.button__comment{
    background-color: transparent;
    border: 0;
}

.mycomment{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.reality{

    & .card__more{
        background-color: rgba(27, 175, 93, 0.7);
    }

    &.reality--2{
        & .card__image{
            background-image: url("../images/card__reality__image--2.png");
        }
    }

    & .card__image{
        background-image: url("../images/card__reality__image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-color: #1baf5d;
    }

    & .card__button{
        background-color: #1baf5d;

        &:focus{
            box-shadow: 
                0 0 0 3px rgba(27, 175, 93, 0.7),
                0 0 0 6px #0088ff;
                outline: none; 
        }
    }

    & .card__price{
        background-color: #1baf5d;
        display: block;
    }

    & .card__logo{
        background-color: #1baf5d;
        background-image: url("../images/hause_icon.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 39px;

        &:focus ~ .card__image{
            background-image: url("../images/Layer_9.png");
        }

        &:hover{
            background-color: #0e582f;
        }
    }

    & .card__name{
        color: #1baf5d;
    }

    & .star__myrating::before{
        background-color: #1baf5d;
    }
}

.entertainment{

    & .card__more{
        background-color: rgba(241, 158, 31, 0.7);
    }

    & .card__image{
        background-image: url("../images/card__entertainment__image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-color: #f19e1f;
    }

    & .card__button{
        background-color: #f19e1f;

        &:focus{
            box-shadow: 
                0 0 0 3px rgba(241, 158, 31, 0.7),
                0 0 0 6px #0088ff;
                outline: none; 
        }
    }

    & .card__logo{
        background-color: #f19e1f;
        background-image: url("../images/8_icon.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 33px;

        &:focus ~ .card__image{
            background-image: url("../images/Layer_12.png");
        }

        &:hover{
            background-color: #915f14;
        }
    }

    & .card__name{
        color: #f19e1f;
    }

    & .star__myrating::before{
        background-color: #f19e1f;
    }
}

.mobility{

    & .card__more{
        background-color: rgba(136, 73, 156, 0.7);
    }

    & .card__image{
        background-image: url("../images/card__reality__image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-color: #88499c;
    }

    & .card__button{
        background-color: #88499c;

        &:focus{
            box-shadow: 
                0 0 0 3px rgba(136, 73, 156, 0.7),
                0 0 0 6px #0088ff;
                outline: none; 
        }
    }

    & .card__logo{
        background-color: #88499c;
        background-image: url("../images/bus_icon.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;

        &:focus ~ .card__image{
            background-image: url("../images/Layer_9.png");
        }

        &:hover{
            background-color: #521d63;
        }
    }

    & .card__name{
        color: #88499c;
    }

    & .star__myrating::before{
        background-color: #88499c;
    }
}

.star{
    color: #f19e1f;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-right: -4px;

    &--coment{
        font-size: 18px;
        line-height: 18px;
    }
}

.total__marks{
    color: #96a6a7;
    font-family: 'Gotham';
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;

    &__active{
        color: #ffffff;
    }
}

.offer{
    background-color: #f3f1f2;

    &__line{
        border-top: 1px solid #e2dee0;
        padding-top: 88px;
    }

    &__title{
        color: #566375;
        font-family: 'Gotham';
        font-size: 22px;
        font-weight: 500;
        line-height: 25px;
    }

    &__subtitle{
        color: #96a6a7;
        font-family: 'Gotham Book';
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 70px;
    }

    &__button{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid #9dacad;
        background-color: #f3f1f2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 64px;

        &:focus{
            box-shadow:
                0 0 0 1px #ffffff,
                0 0 0 3px #2f7cc0;
                outline: none; 
        }

        &:nth-child(1){
            background-image: url("../images/hause_icon_offer_button.svg");

            &:hover,
            &:focus{
                border-color:  #1baf5d;
                background-image: url("../images/hause_icon_offer_button_active.svg");
            }
        }

        &:nth-child(3){
            background-image: url("../images/girl_icon_offer_button.svg");

            &:hover,
            &:focus{
                border-color:  #1baf5d;
                background-image: url("../images/girl_icon_offer_button_active.svg");
            }
        }

        &:nth-child(5){
            background-image: url("../images/cap_icon_offer_button.svg");

            &:hover,
            &:focus{
                border-color:  #1baf5d;
                background-image: url("../images/cap_icon_offer_button_active.svg");
            }
        }

        &:nth-child(7){
            background-image: url("../images/8_icon_offer_button.svg");

            &:hover,
            &:focus{
                border-color:  #1baf5d;
                background-image: url("../images/8_icon_offer_button_active.svg");
            }
        }

        &:nth-child(9){
            background-image: url("../images/bus_icon_offer_button.svg");

            &:hover,
            &:focus{
                border-color:  #1baf5d;
                background-image: url("../images/bus_icon_offer_button_active.svg");
            }
        }

        &__line{
            width: 70px;
            height: 2px;
            background-color: #e2dee0;
        }
    }
}

.descrip-box{
    padding-bottom: 140px;

    &__title{
        color: #1baf5d;
        font-family: 'Gotham';
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        margin: 38px 0 44px 0;
    }

    &__text{
        width: 78%;
        color: #566375;
        font-family: 'Gotham Book';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    &__image{
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: #1db05e;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 33px;

        &--1{
            background-image: url("../images/flash_icon.svg");
            background-size: 15px;
        }

        &--2{
            background-image: url("../images/leaf_icon.svg");
            background-size: 33px;
        }
    }
}

.footer{
    background-image: url("../images/footer_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 65px 0;

    &__title{
        text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
        color: #ffffff;
        font-family: 'Gotham';
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 24px;
    }

    &__caption{
        color: #ffffff;
        font-family: 'Gotham';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: underline;
        margin-bottom: 20px;
    }

    &__link{
        color: #c0bebc;
        font-family: 'Gotham Book';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        transition: 0.3s;

        &:hover{
            color: #ffab10;
            text-decoration: none;
        }
    }

    &__nav{
        width: 100px;
    }
}

.input--footer{
    background-image: url("../images/envelope_icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 30px;
    background-size: 20px;
    padding-left: 70px;
    padding-right: 150px;
}

.relative{
    position: relative;
}

.button--submit--footer{
    width: 120px;
    height: 48px;
    font-size: 14px;
    padding: 0px 20px;
    position: absolute;
    right: 6px;
    top: 28px;
    margin: 0;
}

.myborder{
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright{
    color: #ffffff;
    font-family: 'Gotham Book';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 65px;
}

.myicon{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 20px;
    transition: 0.3s;

    &:hover{
        color: #27ee0d;
        text-decoration: none;
        transform: scale(1.3);
    }
}

.bg__but{
    background-color: #f3f1f2;
    text-align: center;
    padding-bottom: 20px;
}

.button__for__more{
    background-color: #f3f1f2;
    border: 0;
    color: #566375;
    font-family: 'Gotham Medium';
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
    text-decoration: underline;
    margin-top: 25px;
}

.star__myrating {
    margin: 0;
    width: 16px;
    height: 16px;
    
    &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        background-image: url("../images/star-regular.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &:checked::before,
    &:checked ~ &::before,
    &:hover::before,
    &:hover ~ &::before {
        background-image: url("../images/star-solid.svg")
    }
}

.list__star {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

@media screen and (max-width: 1199px){

    .container.mycontainer{
        max-width: 100%;
    }

    .link{
        margin: 15px 10px 15px 10px;
    }

    .flex--container{
        flex-direction: column;
    }

    .flex--wrap{
        justify-content: space-around;

        &--left{
            justify-content: space-around;
        }
        &--right{
            justify-content: center;
        }
    }

    .flex--container--filter{
        justify-content: space-between;
        width: 100%;
    }

    .categories__item{
        line-height: 30px;
    }

    .marker--button{
        margin: 0 0 0 6px;
    }

    .select2-container--default .my-select-2{
        margin: 0 6px 0 0;

        & .select2-selection__arrow b{
            top: 63%;
        }
    }

    .offer__button__line{
        display: none;
    }

    .descrip-box{
        padding-bottom: 70px;
    }

    .descrip-box__text{
        width: 67%;
    }
}

@media screen and (max-width: 767px){

    .caption{
        margin: 20px 0 10px 0;
    }

    .select2-container--default .my-select{
        margin: 15px 0;

        & .select2-selection__arrow b{
            top: 160%;
        }
    }

    .select2-dropdown{
        bottom: -202px;
    }
    
    .nav{
        justify-content: space-around;
        padding: 10px 0;
    }

    .link{
        margin: 5px 10px 0 10px;
    }

    .filter__caption{
        line-height: 35px;
    }

    .filter__button{
        width: 30px;
        height: 30px;
        background-size: 22px;

        &:nth-child(3){
            background-size: 30px;
        }
    }

    .flex--container--filter{
        justify-content: space-around;
    }

    .offer{

        &__subtitle{
            margin-bottom: 30px
        }

        &__button{
            width: 50px;
            height: 50px;
            background-size: 34px;
        }
    }

    .button--submit--footer{
        position: static;
    }

    .input--footer{
        padding-right: 20px;
    }

    .social--block{
        margin-top: 30px;
    }
}

@media screen and (max-width: 469px){
    .card__info__activ{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .card__name__active{
        margin: 0;
    }

    .card__comment{
        width: 100%;

        &__box{
            width: 100%;
            padding: 20px 5px 0 5px;
        }
    }

    .card__logo:focus ~ .card__comment{
        justify-content: center;
        flex-wrap: wrap;
    }

    .card__rating__active {
        margin-top: 0px;
    }

    .card__logo:focus {
        top: 86px;
        left: 7px;
    }

    .card__comment__rating{
        text-align: center;
    }

    .card__comment__mane{
        text-align: center;
    }
}